<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%if(req.hostname==='iridio.co' || req.hostname==='localhost'){%>
        <a class="navbar-item" href="/"><img src="<%=cdnurl%>/iridio.png"></a>
      <%}else if(req.hostname==='1ecommerce.app'){%>
        <a class="navbar-item" href="/"><img class="logo-principal" src="https://1ecommerce.io/wp-content/uploads/2021/11/color.png"></a>
      <%}else{%>
        <%if(typeof seller === 'object' && seller!==null){%><a href="/"><img async src="<%=imgurl%>/images/sellers/<%=seller.logo%>" width="130"></a>&nbsp;&nbsp;&nbsp;<%}%>
      <%}%>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navmobile" class="is-hidden"><% if(req.session.menu && req.session.menu.navbarmobile){ %><%- req.session.menu.navbarmobile %><% }else{ %><span></span><%}%></div>
    <div id="navFull" class="is-hidden"><% if(req.session.menu && req.session.menu.navbar){ %><%- req.session.menu.navbar %><% }else{ %><span></span><%}%></div>
    <div id="navbarContainer" class="navbar-menu">
    </div>
    <div class="navbar-end has-text-right">
      <div class="navbar-item has-text-centered">        
        <div class="field has-addons is-inline">
            <form id="search-form" style="margin-left: auto; margin-right: auto;" class="is-marginless is-paddingless is-flex" method="GET" action="/buscar">
              <input style="min-width: 266px;" class="input is-dark is-small" type="text" name="q" placeholder="Buscar Productos" />
              <div class="control">
                <a id="search" class="button is-dark is-small">
                  <i class='bx bx-search-alt-2'></i>
                </a>
              </div>
            </form>
        </div>
      </div>
      <div class="navbar-item is-inline-block">
          <div class="buttons">
            <a href="/cart" id="cart-button" class="button">
              <span title="Badge top right" class="badge is-info"><%if(session && session.cart){%><%=session.cart.items%> <%}else{%>0<%}%></span>
              <i class='is-size-4 bx bxs-cart'></i>
            </a>
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <button id="account-menu" class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <% if(session && session.user === undefined) { %>
                    <span><i class='is-size-4 bx bxs-user-detail'></i></span>
                  <%}else{%>
                    <span><i class="is-size-4 bx bxs-user"></i></span>
                  <%}%>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <% if(session && session.user) { %>
                    <a href="/account" class="dropdown-item">Mi Cuenta</a>
                    <a href="/addresses" class="dropdown-item">Direcciones</a>
                    <hr class="dropdown-divider">
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                  <% } else { %>
                    <a href="/login" id="login" class="dropdown-item">Iniciar Sesión</a>
                  <% }%>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</nav>
</div>
<script>
  live('#search','click',e=>{
    e.preventDefault();
    if(document.querySelector('input[name="q"]').value!==''){
      document.querySelector('#search-form').submit();
    }
  });

  live('.burger','click', e =>{     
      let men = document.querySelector('#navbarContainer');
      if(hasClass(men,'navbar-menu')){
        removeClass(men,'navbar-menu')
      }else{
        addClass(men,'navbar-menu')
      }
    });

  live('.menu-item-mobile','click', e =>{     
    let menuopt = e.target;
    let mmenu = document.querySelector('aside');
    
    let opitems = mmenu.querySelectorAll('.menu-item');
    for(let op of opitems){
      if(op!==menuopt){
        removeClass(op,'is-active');
        removeClass(op,'has-background-light');
      }else{
        addClass(op,'is-active');
        addClass(op,'has-background-light');
      }
    }

    let clist = menuopt.nextElementSibling;
    if(hasClass(clist,'menu-list')){
      if(hasClass(clist,'is-hidden')){
        removeClass(clist,'is-hidden');
        addClass(menuopt,'is-active');
      }else{
        addClass(clist,'is-hidden');
        removeClass(menuopt,'is-active');
      }
    }else{
      window.location.href = menuopt.querySelector('a').getAttribute('href');
    }
  });

  const whichMenu = (screen) =>{
    if(screen<1024){
      return document.getElementById('navmobile').innerHTML;
    }else{
      return document.getElementById('navFull').innerHTML;
    }
  }

  document.addEventListener("DOMContentLoaded", (event) => {
    document.getElementById('navbarContainer').innerHTML = whichMenu(window.innerWidth);
  });

  window.addEventListener('resize',() => {
    document.getElementById('navbarContainer').innerHTML = whichMenu(window.innerWidth);
  });
</script>
