<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!--<a class="navbar-item" href="/"><img src="<%=imgurl%>/iridio.png"></a>-->
      <a class="navbar-item" href="/"><img src="/images/1ecommerce-logo.png"></a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <%if(typeof menu=='object'){%>
        <% menu.children.forEach(child =>{%>
            <div class="navbar-item has-dropdown is-hoverable is-mega">
                <div class="navbar-link is-uppercase is-size-7"><a class="has-text-dark" href="/ver/categoria/<%=child.url%>"><%=child.name%></a></div>
                <div class="navbar-dropdown">
                  <div class="container is-fluid">
                    <div class="columns">
                      <div class="column">
                        <br>
                        <div class="columns">
                        <%child.children.forEach(c =>{%>
                          <%if(c.active){%>
                          <div class="column">
                              <a class="navbar-item is-uppercase" href="/ver/categoria/<%=c.url%>">
                                <p class="is-size-7 has-text-left has-text-weight-bold"><%=c.name%></p>
                              </a>
                              <hr class="is-marginless is-paddingless">
                              <br>
                              <div class="navbar-content">
                                <%if(c.hasChildren){%>
                                    <%c.children.forEach(d => {%>
                                      <a class="navbar-item is-uppercase is-size-7" href="/ver/categoria/<%=d.url%>"><%=d.name%></a>
                                    <%})%>
                                <%}%>
                              </div>
                          </div>
                          <%}%>
                        <%})%>
                      </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
        <%})%>
      <%}%>
    </div>
    <div class="navbar-end has-text-right">
      <div class="navbar-item has-text-centered">        
        <div class="field has-addons is-inline">
            <form id="search-form" style="margin-left: auto; margin-right: auto;" class="is-marginless is-paddingless is-flex" method="GET" action="/buscar">
              <input style="min-width: 266px;" class="input is-dark is-small" type="text" name="q" placeholder="Buscar Productos" />
              <div class="control">
                <a id="search" class="button is-dark is-small">
                  <i class='bx bx-search-alt-2'></i>
                </a>
              </div>
            </form>
        </div>
      </div>
      <div class="navbar-item is-inline-block">
          <div class="buttons">
            <a href="/cart" class="button has-badge-rounded" id="cart-button" data-badge="<%if(session.cart !== undefined ){%><%=session.cart.items%> <%}else{%>0<%}%>"><i class='is-size-4 bx bxs-cart'></i></a>
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <button id="account-menu" class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <% if(session.user === undefined) { %>
                    <span><i class="is-size-4 bx bxs-user"></i></span>
                  <%}else{%>
                    <span><i class='is-size-4 bx bxs-user-detail'></i></span>
                  <%}%>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <% if(session.user === undefined) { %>
                  <a href="/login" id="login" class="dropdown-item">Iniciar Sesión</a>
                  <% } else { %>
                  <a href="/account" class="dropdown-item">Mi Cuenta</a>
                  <a href="/addresses" class="dropdown-item">Direcciones</a>
                  <hr class="dropdown-divider">
                  <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                  <% }%>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</nav>
</div>
<script>
  live('#search','click',e=>{
    e.preventDefault();
    if(document.querySelector('input[name="search"]').value!==''){
      document.querySelector('#search-form').submit();
    }
  });
</script>