<%if(typeof seller !== 'undefined' && seller !== null){%>
    <title><%= seller.name %></title>
    <link rel="shortcut icon" type="image/jpg" href="<%=cdnurl%>/images/sellers/<%=seller.logo%>"/>
<%}else if(req.hostname==='1ecommerce.app'){%>
    <title>1Ecommerce</title>
    <link rel="shortcut icon" type="image/png" href="<%=cdnurl%>/1ecommerce.png"/>
<%}else{%>
    <title>Iridio</title>
    <link rel="shortcut icon" type="image/png" href="<%=cdnurl%>/iridio.png"/>
<%}%>
<meta name="viewport" content= "width=device-width, initial-scale=1.0, maximum-scale=1.0">