<div class="container"></div>
<% if (error !== undefined && error !== null) { %>
  <div class="notification is-danger is-light" id="error">
    <button class="delete"></button>
      <%= error %>
  </div>
<% } %>
    <h4 class="title is-4">Crear una Dirección</h4>
    <hr>
    <div class="columns is-gapless">
        <div class="column is-one-fifth"></div>
        <div class="column is-three-fifths">
            <div class="box">
            <%if(address!==null){%>
            <form action="/address/edit/<%=address.id%><%if(referrer!==null){%>?referrer=<%=referrer%><%}%>" method="POST" id="address-form">
            <%}else{%>
              <form action="/address/create<%if(referrer!==null){%>?referrer=<%=referrer%><%}%>" method="POST" id="address-form">
            <%}%>
                <div class="field">
                    <label class="label">Nombre para la Dirección</label>
                    <div class="control">
                    <input class="input is-capitalized" required name="name" type="text" placeholder="Asigna un nombre a la dirección para identificarla" <%if(address!==null){%>value="<%=address.name%>"<%}%>/>
                    </div>
                </div>
                <div class="field">
                  <label class="label">Dirección</label>
                  <div class="control">
                    <input class="input" required name="addressline1" type="text" placeholder="Calle, Carrera, Avenida, etc..." <%if(address!==null){%>value="<%=address.addressline1%>"<%}%>/>
                  </div>
                  <br>
                  <div class="control">
                      <input class="input" name="addressline2" type="text" placeholder="Torre, Casa, Piso, Puerta, Edificio..." <%if(address!==null){%>value="<%=address.addressline2%>"<%}%> />
                  </div>
                </div>
                <div class="columns">
                    <div class="column">
                      <div class="field">
                          <label class="label">País</label>
                          <div class="control">
                            <div class="select is-fullwidth">
                              <select required class="select is-capitalized" name="country">
                                <option value="0">Elegir País</option>
                                <% countries.forEach((country) =>{ %>
                                <option class="is-capitalized" value="<%=country.id%>" <%if(address!== null && (country.id === address.country.id)){%> selected="selected" <%}%>><%=country.name%></option>
                                <%})%>
                              </select>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="column">
                      <%if(address!==null){%>
                        <div class="field" id="estados">
                      <%}else{%>
                        <div class="field is-hidden" id="estados">
                      <%}%>
                          <label class="label">Estado</label>
                          <div class="select control is-fullwidth">
                            <select class="is-capitalized" name="region" required >
                              <option value="">-- Elegir Región --</option>
                              <%if(address!==null){%>
                                <option value="<%=address.region.id%>" selected="selected"><%=address.region.name%></option>
                              <%}%>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="column">
                      <%if(address!==null){%>
                        <div class="field" id="ciudades">
                      <%}else{%>
                        <div class="field is-hidden" id="ciudades">
                      <%}%>
                          <label class="label">Ciudad</label>
                          <div class="control select is-fullwidth">
                            <select class="is-capitalized" name="city" required>
                              <option value="">-- Elegir Ciudad --</option>
                              <%if(address!==null){%>
                                <option value="<%=address.city.id%>" selected="selected"><%=address.city.name%></option>
                              <%}%>
                            </select>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                  <label class="label">Código Postal</label>
                  <div class="control">
                    <input class="input" name="zipcode" type="string" placeholder="Código Postal de la Dirección" <%if(address!==null){%>value="<%=address.zipcode%>"<%}%>/>
                  </div>
                </div>
                <div class="field">
                    <h5 class="title is-size-5">Agregar Instrucciones de entrega</h5>
                  <label class="label">Detalles adicionales para ubicar la dirección</label>
                  <div class="control">
                    <textarea class="textarea" name="notes" placeholder="Detalles adicionales que puedan ser de utilidad para localizar esta dirección."><%if(address!==null){%><%-address.notes%><%}%></textarea>
                  </div>
                </div>
                <hr>
                <div class="field is-grouped">
                  <div class="control">
                  <button type="submit" class="button is-warning"><span class="has-text-weight-bold is-size-6"><%if(address!==null){%>Editar Dirección<%}else{%>Agregar Dirección<%}%></span></button>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="column is-one-fifth"></div>
    </div>
</div>
<script>
  live('button[type="submit"]','click',e =>{
    e.preventDefault();
    let form = document.querySelector('#address-form');
    if(validateForm(form)){
      form.submit();
    }
  });

  live('select[name="country"]','change',e =>{
    let country = e.target.value;
    
    let regions = document.querySelector('#estados')
    regions.querySelector('select').innerHTML='<option value="">-- Elegir Región --</option>';
    addClass(regions,'is-hidden');
    
    let cities = document.querySelector('#ciudades')
    cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
    addClass(cities,'is-hidden');
    
    io.socket.get('/find/regions/'+country,resdata =>{
      if(resdata.regions.length>0){
        for(let s of resdata.regions){
          let option = document.createElement('option');
          option.value = s.id;
          option.innerHTML = s.name
          regions.querySelector('select').appendChild(option);
        }
        removeClass(regions,'is-hidden');
      }
    });
  });

  live('select[name="region"]','change',e =>{
    let region = e.target.value;
    let cities = document.querySelector('#ciudades')
    cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
    addClass(cities,'is-hidden');
    io.socket.get('/find/cities/'+region,resdata =>{
      if(resdata.cities.length>0){
        for(let s of resdata.cities){
          let option = document.createElement('option');
          option.value = s.id;
          option.innerHTML = s.name
          cities.querySelector('select').appendChild(option);
        }
        removeClass(cities,'is-hidden');
      }
    });
  });
  
</script>