<div class="container">
    <h4 class="title is-4">Tus Pedidos</h4>
    <hr>
    <%orders.forEach(order=>{%>
      <div class="card">
        <header class="card-header has-background-light">
          <p class="card-header-title">
            Pedido: #&nbsp;<strong><%=order.id%></strong>%>&nbsp;-&nbsp;<%=moment(order.createdAt).locale('es').format('LL')%>
          </p>
          <a href="#" class="card-header-icon has-text-dark" aria-label="more options">
            <span class="icon">
              <i class='bx bx-zoom-in'></i> 
            </span>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div class="columns">
            <div class="column">
              <table class="table is-size-7">
                <tr><td><strong>Fecha:&nbsp;</strong></td><td><%=moment(order.createdAt).locale('es').format('LL')%></td></tr>
                <tr><td><strong>Estado:&nbsp;</strong></td><td><p class="container has-text-centered" style="background-color:<%=order.currentstatus.color.code%>;"><span class="is-size-7 has-text-black has-background-white"><%=order.currentstatus.name%></span></p></td></tr>
                <tr><td><strong>Entregador por:&nbsp;</strong></td><td><%=order.seller.name%></td></tr>
                <tr><td><strong>Total:&nbsp;</strong></td><td>$&nbsp;<%=order.totalOrder.toFixed().toLocaleString('es-CO')%></td></tr>
                <tr><td><strong>Dirección de Entrega:&nbsp;</strong></td><td><small><%=order.addressDelivery.addressline1+' '+order.addressDelivery.addressline2%></small></td></tr>
              </table>
            </div>
          <div class="column">
            <table class="table">
                <%let list = [];%>
                <%order.items.forEach(item=>{%>
                  <%if(!list.includes(item.productvariation.id)){%>
                    <tr>
                    <%list.push(item.productvariation.id)%>
                      <tr>
                        <td>
                          <p class="has-text-right is-capitalized is-x-small has-text-weight-bold"><%=item.product.name%></p>
                          <p class="has-text-right is-capitalized is-x-small has-text-weight-bold"><%=item.product.reference%></p>
                          <p class="has-text-right is-capitalized is-x-small has-text-weight-bold"><%=item.productvariation.variation.name%></p>
                          <p class="has-text-right is-capitalized is-x-small has-text-weight-bold">$&nbsp;<%=item.price.toFixed().toLocaleString('es-CO')%>&nbsp;x Unidad</p>
                        </td>
                        <td>
                          <p class="image is-128x128 is-inline-block has-text-left">
                            <img src="/images/products/<%=item.product.id%>/<%=item.product.images.file%>" />
                          </p>
                        </td>
                      </tr>
                  <%}%>
                </tr>
                <%})%>
              </table>
          </div>
        </div>
      </div>
    </div>
      <br>
    <%})%>
    <hr>
    <br>
</div>
<script>
  live('.icon','click',e=>{
    let content = e.target.parentNode.parentNode.parentNode.parentNode.querySelector('.card-content');
    if(hasClass(content,'is-hidden')){
      removeClass(content,'is-hidden')
    }else{
      addClass(content,'is-hidden')
    }
  })
</script>