<div class="container">
    <% if (error != undefined || error != null) { %>
      <div class="notification is-danger is-light" id="error">
          <%= error %>
      </div>
    <% } %>
    <h4 class="title is-4">Procesamiento Multiple de Productos</h4>
    <hr>
    <form action="/multiple" method="POST" enctype="multipart/form-data" id="multiple-form">
    <div class="columns is-gapless">
        <div class="column">
            <div class="box">
                <%if(sellers!==null){%>
                    <div class="field">
                        <label class="label is-size-7">Elegir Seller</label>
                        <div class="select is-fullwidth">
                            <select class="is-capitalized" name="seller" id="selectSeller" required>
                                <option class="is-capitalized" value="">-- Elegir Seller --</option>
                                <% sellers.forEach(seller =>{ %>
                                    <option class="is-capitalized" value="<%=seller.id%>" channeldafiti="<%= seller.channelDafiti %>" channellinio="<%= seller.channelLinio %>" channelmercadolibre="<%= seller.channelMercadolibre %>"><%=seller.name%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                <%}%>
                <div class="field">
                    <br>
                    <label class="label is-size-7">Tipo de Proceso</label>
                    <div class="select is-fullwidth">
                        <select name="action" required>
                            <option value="ProductCreate">Crear Productos Faltantes</option>
                            <option value="ProductUpdate">Actualizar los Cambios en los Productos</option>
                            <option value="Image">Cargar/Actualizar Imágenes de mis Productos </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="columns is-marginless is-gapless">
                    <div class="column"><img class="menu-title is-hidden" src="/images/dafiti.png" id="dafiti"/></div>
                    <div class="column"><img class="menu-title is-hidden" src="/images/mercadolibre.png" id="mercadolibre"/></div>
                    <div class="column"><img class="menu-title is-hidden" src="/images/linio.png" id="linio"/></div>
                </div>
                <div class="columns is-marginless is-gapless">
                    <input class="is-hidden" name="channel" required value="">
                </div>
                <br>
                <div class="buttons is-right is-fixed-bottom">
                    <br><br><br>
                    <button id="process" type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Procesar Productos</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container is-fluid">
                <div class="loading"></div>
            <%if(typeof resultados === 'object'){%>
                <br>
                <h6 class="title is-6">Resultado del Proceso</h6>
                <hr>
                <%if(resultados.items !== undefined){%>
                    <div class="notification is-primary">
                        Se han procesado un total de 
                        <%if(resultados.items.Request !== undefined){ %>
                            <%= resultados.items.Request.length %> 
                        <%}else{%>
                            0
                        <%}%>
                        registros.
                    </div>
                <%}%>
                <%if(resultados.errors !== undefined){%>
                    <div class="notification is-danger">
                        <p>Hemos identificado <%=resultados.errors.length %> error(es).</p>
                        <br>
                        <% resultados.errors.forEach(err =>{ %>
                            <p><%= err %></p>
                        <% }) %>
                    </div>
                <%}%>
            <%}%>
            </div>
        </div>
    </div>
    </form>
</div>
  <script>

    <%if(sellers === null){%>
        let dafiti = document.querySelector('#dafiti');
        let linio = document.querySelector('#linio');
        let mercadolibre = document.querySelector('#mercadolibre');
        <%- channelDafiti %> ? removeClass(dafiti, 'is-hidden') : addClass(dafiti, 'is-hidden');
        <%- channelLinio %> ? removeClass(linio, 'is-hidden') : addClass(linio, 'is-hidden');
        <%- channelMercadolibre %> ? removeClass(mercadolibre, 'is-hidden') : addClass(mercadolibre, 'is-hidden');
    <%}else{%>
        const selectSeller = document.querySelector('#selectSeller');
        selectSeller.onchange = changeSelect;
    <%}%>
  
    function changeSelect(){
        let channel = document.querySelector('input[name="channel"]');
        let images = document.querySelectorAll('.menu-title');
        let selectSeller = document.querySelector('#selectSeller');
        let dafiti = selectSeller.options[selectSeller.selectedIndex].getAttribute('channeldafiti');
        let linio = selectSeller.options[selectSeller.selectedIndex].getAttribute('channellinio');
        let mercadolibre = selectSeller.options[selectSeller.selectedIndex].getAttribute('channelmercadolibre');
        let imgDafiti = document.querySelector('#dafiti');
        let imgLinio = document.querySelector('#linio');
        let imgMercadolibre = document.querySelector('#mercadolibre');
        channel.value = '';
        images.forEach(img =>{
            removeClass(img, 'img-multiple');
        });
        dafiti === 'true' ? removeClass(imgDafiti, 'is-hidden') : addClass(imgDafiti, 'is-hidden');
        linio === 'true' ? removeClass(imgLinio, 'is-hidden') : addClass(imgLinio, 'is-hidden');
        mercadolibre === 'true' ? removeClass(imgMercadolibre, 'is-hidden') : addClass(imgMercadolibre, 'is-hidden');
    }

    live('#process','click',e=>{
        e.preventDefault();
        let form = document.querySelector('#multiple-form');
        if(validateForm(form)){
            let box = document.querySelector('.box').parentNode;
            addClass(box,'is-hidden');
            document.querySelector('.loading').innerHTML='<br><p>Por favor espera, estamos ejecutando el proceso solicitado. Tomará unos minutos.</p><br><progress class="progress is-small is-primary" max="100">15%</progress>';
            form.submit();
        }
    });

    live('.menu-title', 'click', e =>{
        let channel = document.querySelector('input[name="channel"]');
        let images = document.querySelectorAll('.menu-title');

        channel.value = e.target.id;
        images.forEach(img =>{
            removeClass(img, 'img-multiple');
        });
        addClass(e.target,'img-multiple');
    });

  </script>