<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
      <%= error %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit'){ %> 
    <div class="columns">
      <div class="column">
        <div class="container">
          <br />
          <h4 class="title is-4">Crear Plan</h4>
          <hr>
          <% if(action=='create') { %>
            <form action="/plan/create" method="POST">
          <% } %>
          <% if(action=='edit') { %>
            <form action="/plan/edit/<%= plan.id %>" method="POST">
          <% } %>
            <div class="box">
              <div class="field">
                <label class="label is-size-7">Nombre</label>
                <div class="control">
                  <input class="input is-capitalized is-size-7" type="text" name="name" required="true" placeholder="Nombre del Plan" <% if(action=='edit'){ %>value="<%= plan.name %>"<% }%>/>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label is-size-7">Precio Setup COP</label>
                    <div class="control has-icons-left">
                      <input class="input is-size-7" type="number" step="any" name="pricecop" placeholder="Setup" required <% if(action=='edit'){ %>value="<%= plan.pricecop %>"<% }%>/>
                      <span class="icon-input-left is-small is-left">
                        <i class="bx bxs-badge-dollar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column"> 
                  <div class="field">
                    <label class="label is-size-7">Precio Suscripción COP</label>
                    <div class="control has-icons-left">
                      <input class="input is-size-7" type="number" step="any" name="pricesubscriptioncop" placeholder="Suscripción" required <% if(action=='edit'){ %>value="<%= plan.pricesubscriptioncop %>"<% }%>/>
                      <span class="icon-input-left is-small is-left">
                        <i class="bx bxs-badge-dollar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label is-size-7">Precio Setup MXN</label>
                    <div class="control has-icons-left">
                      <input class="input is-size-7" type="number" step="any" name="pricemx" placeholder="Setup" required <% if(action=='edit'){ %>value="<%= plan.pricemx %>"<% }%>/>
                      <span class="icon-input-left is-small is-left">
                        <i class="bx bxs-badge-dollar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column"> 
                  <div class="field">
                    <label class="label is-size-7">Precio Suscripción MXN</label>
                    <div class="control has-icons-left">
                      <input class="input is-size-7" type="number" step="any" name="pricesubscriptionmx" placeholder="Suscripción" required <% if(action=='edit'){ %>value="<%= plan.pricesubscriptionmx %>"<% }%>/>
                      <span class="icon-input-left is-small is-left">
                        <i class="bx bxs-badge-dollar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                  <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Plan</button>
                <% }else if (action=='create'){ %>
                  <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Plan</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column"></div>
    </div>
  <% } else { %>
    <p style="text-align: right;font-size: 20px; margin-right: 5px;">
      <a href="/plans/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
    </p>
    <div class="table-container is-size-7">
      <table class="table is-hoverable" id="countries-table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio Setup COP</th>
            <th scope="col">Precio Suscripción COP</th>
            <th scope="col">Precio Setup MXN</th>
            <th scope="col">Precio Suscripción MXN</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% plans.forEach(function(plan){ %>
            <tr>
              <td class="align-middle is-capitalized"><%= plan.name %></td>
              <td class="align-middle"><%= plan.pricecop %></td>
              <td class="align-middle"><%= plan.pricesubscriptioncop %></td>
              <td class="align-middle"><%= plan.pricemx %></td>
              <td class="align-middle"><%= plan.pricesubscriptionmx %></td>
              <td class="align-middle">
                <a href="/plans/edit/<%= plan.id %>" class="button is-small">
                  <span class="icon">
                    <i class="bx bxs-edit"></i>
                  </span>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        let table = new simpleDatatables.DataTable('#countries-table',{
        searchable:true,
        sortable:true,
        paging:true,
        labels: {
          placeholder: "Buscar...",
          perPage: "{select} registros por página",
          noRows: "No se encontraron datos",
          info: "Mostrando {start} a {end} de {rows} registros",
        }
        });  
      });
    </script>
  <% } %>
  <script>
    setTimeout(function() {
      var el = document.getElementById('error');
      if(el){
        el.style.display='none';
      }
    }, 4000);
  </script>
</div>
