<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
        <%= error %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit'){ %> 
        <h4 class="title is-4">Crear Impuesto</h4>
        <hr>
        <% if(action=='create') { %>
        <form action="/tax/create" method="POST">
        <% } %>
        <% if(action=='edit') { %>
        <form action="/tax/edit/<%= tax.id %>" method="POST">
        <% } %>
        <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="box">
                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control">
                    <input class="input is-capitalized" type="text" name="name" required="true" placeholder="Nombre del Impuesto" <% if(action=='edit'){ %>value="<%= tax.name %>"<% }%>/>
                    </div>
                </div>               
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Valor</label>
                            <div class="field">
                                <p class="control has-icons-right">
                                  <input class="input" type="number" name="value" id="value" required="true" min="0" maxlength="2" placeholder="Valor del Impuesto" <% if(action=='edit'){ %>value="<%= tax.value %>"<% } %>/>
                                  <span class="icon is-small is-right">
                                    <i class="percentage">%</i>
                                  </span>
                                </p>
                            </div>                      
                        </div>
                    </div>
                    <div class="column">
                        <br>
                        <div class="control buttons is-right">
                            <% if(action=='edit'){ %> 
                                <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Impuesto</button>
                            <% }else if (action=='create'){ %>
                                <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Impuesto</button>
                            <% } %>
                        </div>
                    </div>                                    
                </div>
            </div>
        </div>
        <div class="column"></div>
        </form>
    
  <% } else { %>
    <p style="text-align: right;font-size: 20px; margin-right: 5px;">
        <a href="/taxes/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
    </p>
    <div class="table-container">
        <table class="table is-hoverable" id="taxes-table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
                <% taxes.forEach(function(tax){ %>                
                    <tr>
                        <td scope="row" class="align-middle"><%= tax.id %></td>
                        <td class="align-middle is-capitalized"><%= tax.name %></td>
                        <td class="align-middle"><%= tax.value %>&nbsp%</td>                      
                        <td class="align-middle">                        
                            <a href="/taxes/edit/<%= tax.id %>" class="button is-small">
                            <span class="icon">
                                <i class="bx bxs-edit"></i>
                            </span>
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
        let table = new simpleDatatables.DataTable('#taxes-table',{
            searchable:true,
            sortable:true,
            paging:true,
            labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No se encontraron datos",
            info: "Mostrando {start} a {end} de {rows} registros",
            }
        });  
        });
    </script>
  <% } %>
</div>