<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>
<link href='https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/css/bulma-tagsinput.min.css' rel='stylesheet'>
<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
      <%= error %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit'){ %> 
    <div class="columns">
      <div class="column">
        <div class="container">
          <br />
          <h4 class="title is-4">Crear Mensajes</h4>
          <hr>
          <% if(action=='create') { %>
            <form action="/message/create" method="POST" enctype="multipart/form-data">
          <% } %>
          <% if(action=='edit') { %>
            <form action="/message/edit/<%= message.id %>" method="POST" enctype="multipart/form-data">
          <% } %>
            <div class="box">
              <div class="field">
                <label class="label is-size-7">Text</label>
                <div class="control">
                  <textarea class="textarea is-size-7" name="text" placeholder="Texto del Mensaje."><%if(action=='edit'){%><%-message.text%><%}%></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label is-size-7">Tipo</label>
                <div class="control">
                  <div class="select is-fullwidth is-size-7">
                    <select required class="select is-capitalized" name="type">
                      <option value="0">--Elegir Tipo--</option>
                      <option class="is-capitalized" value="claim" <%if(action=='edit' && message.type=='claim'){%>selected<%}%>>Reclamos</option>
                      <option class="is-capitalized" value="order" <%if(action=='edit' && message.type=='order'){%>selected<%}%>>Ordenes</option>
                      <option class="is-capitalized" value="question" <%if(action=='edit' && message.type=='question'){%>selected<%}%>>Preguntas</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label is-size-7">Etiquetas de preguntas</label>
                <div class="control">
                  <input class="input is-size-7" type="tags" name='tags' placeholder="Posibles preguntas" <%if(action=='edit'){%>value="<%=message.tags%>"<%}%>>
                </div>
              </div>
              <br />
              <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                  <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Mensaje</button>
                <% }else if (action=='create'){ %>
                  <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Mensaje</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column"></div>
    </div>
  <% } else { %>
    <p style="text-align: right;font-size: 20px; margin-right: 5px;">
      <a href="/messages/create" class="button is-primary is-size-7">Crear Mensaje</a>
    </p>
    <div class="table-container">
      <table class="table is-hoverable is-size-7" id="countries-table">
        <thead>
          <tr>
            <th scope="col">Texto</th>
            <th scope="col">Tags</th>
            <th scope="col">Tipo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% messages.forEach(function(message){ %>
            <tr>
              <td class="align-middle is-size-7"><%= message.text %></td>
              <td class="align-middle is-size-7"><%= message.tags %></td>
              <td class="align-middle is-size-7"><%= message.type === 'claim' ? 'Reclamos' : message.type === 'question' ? 'Preguntas' : 'Ordenes' %></td>
              <td class="align-middle">
                <a href="/messages/edit/<%= message.id %>" class="button is-small">
                  <span class="icon">
                    <i class="bx bx-edit"></i>
                  </span>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        let table = new simpleDatatables.DataTable('#countries-table',{
        searchable:true,
        sortable:true,
        paging:true,
        labels: {
          placeholder: "Buscar...",
          perPage: "{select} registros por página",
          noRows: "No se encontraron datos",
          info: "Mostrando {start} a {end} de {rows} registros",
        }
        });  
      });
    </script>
  <% } %>
  <script>
    bulmaTagsinput.attach();
    setTimeout(function() {
      var el = document.getElementById('error');
      if(el){
        el.style.display='none';
      }
    }, 7000);
  </script>
</div>
