<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
        <%= error %>
    </div>
  <% } %>
  <% if (success != undefined || success != null) { %>
    <div class="notification is-success is-light" id="success">
        <%= success %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit' || action=='createfromtoken'){ %>  
        <div class="container">
            <% if(action=='create') { %>
              <form action="/seller/create" method="POST" enctype="multipart/form-data" novalidate>
            <% } %>
            <% if(action=='edit') { %>
              <form action="/seller/edit/<%= seller.id %>" method="POST" enctype="multipart/form-data" novalidate>
            <% } %>
            <% if(action=='createfromtoken') { %>
              <form action="/seller/createfromtoken" method="POST" enctype="multipart/form-data" novalidate>
              <input type="hidden" name="token" value="<%=token%>" />
            <% } %>
              <div class="box">
                <div class="columns is-mobile is-vcentered">
                  <% if(action=='edit'){ %>
                  <div class="column">
                    <p class="has-text-left"><img height="100" src="<%=imgurl%>/images/sellers/<%= seller.logo %>" /></p>
                  </div>
                  <% } %>
                  <div class="column">
                    <p class="has-text-right">
                      <% if(action=='edit'){ %>
                        <input id="activo" type="checkbox" <% if(seller.active){ %><%= checked="checked" %><% } %> name="activo" class="switch is-rounded is-outlined">
                      <label for="activo">Seller: <span id="state"><% if(seller.active){ %> <b style="color:green;">activo</b> <% } else { %> <b style="color:red;">inactivo</b> <% } %></span></label>
                      <% }else if(action!=='createfromtoken'){ %>
                        <input id="activo" type="checkbox" checked="checked" name="activo" class="switch is-rounded is-outlined">
                        <label for="activo">Seller: <span id="state"><b style="color:green;">activo</b></span></label>  
                      <% } %>
                      </p>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label is-size-7">Nombre del Comercio</label>
                      <div class="control">
                        <input class="input is-size-7" type="text" name="name" required="true" placeholder="Nombre del Seller" <% if(action=='edit' || action=='createfromtoken'){ %>value="<%= seller.name %>"<% }%>/>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column">
                        <div class="field">
                          <label class="label is-size-7">Identificación</label>
                          <div class="control">
                            <input class="input is-size-7" type="text" name="dni" required="true" placeholder="NIT del Comercio" <% if(action=='edit'|| action=='createfromtoken'){ %>value="<%= seller.dni %>"<% }%>/>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label is-size-7">Tag Manager</label>
                          <div class="control">
                            <input class="input is-size-7" type="text" name="tagManager" placeholder="ID de Google Tag manager" <% if(action=='edit'){ %>value="<%= seller.tagManager %>"<% }%>/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column">
                        <div class="field">
                          <label class="label is-size-7">Nombre del Contacto</label>
                          <div class="control">
                            <input class="input is-size-7" type="text" name="contact" required="true" placeholder="Nombre del contacto principal" <% if(action=='edit'){ %>value="<%= seller.contact %>"<% }%>/>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label is-size-7">Email de Contacto</label>
                          <div class="control">
                            <input class="input is-size-7" type="text" name="email" required="true" placeholder="Nombre del contacto principal" <% if(action=='edit'|| action=='createfromtoken'){ %>value="<%= seller.email %>"<% }%>/>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label is-size-7">Teléfono</label>
                          <div class="control">
                            <input class="input is-size-7" type="text" name="phone" required="true" placeholder="Nombre del contacto principal" <% if(action=='edit'|| action=='createfromtoken'){ %>value="<%= seller.phone %>"<% }%>/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">URL</label>
                      <div class="control">
                        <input class="input is-size-7" type="text" name="url" required="true" placeholder="Nombre del contacto principal" <% if(action=='edit'){ %>value="<%= seller.domain %>"<% }%>/>
                      </div>
                    </div>
                    <%if(action == 'edit'){%>
                      <a href="/integrations/<%=seller.id%>">
                        <span class="icon">
                          <i class='bx bx-shape-polygon'></i>
                        </span>
                        Configurar Integraciones
                      </a>
                    <%}%>
                      <a id="setup-import">
                        <span class="icon">
                          <i class='bx bx-shape-polygon'></i>
                        </span>
                        Configurar importación de productos
                      </a>
                      <br/>
                      <br/>
                      <div class="card is-hidden" id="setup-panel">
                        <div class="card-content">
                          <div class="tabs is-toggle is-fullwidth o-x-h">
                            <img src="/images/wooCommerce.png" /><input type="radio" name="channel" value="woocommerce" <%if(action==='edit' && integrations.length >0 && integrations[0].channel==='woocommerce'){%>checked<%}%>/>
                            <img src="/images/shopify.png" /><input type="radio" name="channel" value="shopify" <%if(action==='edit' && integrations.length >0 && integrations[0].channel==='shopify'){%>checked<%}%>/>
                          </div>
                          <div class="setup">
                            <div class="container">
                              <div class="field">
                              <label class="label">Consumer key</label>
                              <div class="control has-icons-left">
                                  <input class="input" type="text" name="key" placeholder="Consumer key" <%if(action==='edit' && integrations.length >0 && integrations.length>0){%>value="<%=integrations[0].key%>"<%}%>/>
                                  <span class="icon is-small is-left">
                                  <i class='bx bx-key' ></i>
                                  </span>
                              </div>
                              </div>
                              <div class="field">
                              <label class="label">Consumer secret</label>
                              <div class="control has-icons-left">
                                  <input class="input" type="text" name="secret" placeholder="Consumer secret" required <%if(action==='edit' && integrations.length >0 && integrations.length>0){%>value="<%=integrations[0].secret%>"<%}%>/>
                                  <span class="icon is-small is-left">
                                  <i class='bx bx-key' ></i>
                                  </span>
                              </div>
                              </div>
                              <div class="field">
                                  <label class="label">URL Petición</label>
                                  <div class="control has-icons-left">
                                      <input class="input" type="text" name="apiurl" placeholder="Url de Petición" required <%if(action==='edit' && integrations.length >0 && integrations.length>0){%>value="<%=integrations[0].url%>"<%}%>/>
                                      <span class="icon is-small is-left">
                                          <i class='bx bx-world'></i>
                                      </span>
                                  </div>
                              </div>
                              <div class="field">
                                  <label class="label">Versión</label>
                                  <div class="control has-icons-left">
                                      <input class="input" type="text" name="version" placeholder="Versión" <%if(action==='edit' && integrations.length >0 && integrations.length>0){%>value="<%=integrations[0].version%>"<%}%>/>
                                      <span class="icon is-small is-left">
                                          <i class='bx bx-world'></i>
                                      </span>
                                  </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="column">
                          <div class="field">
                            <label class="label is-size-7">Dirección</label>
                            <div class="control">
                              <input class="input is-size-7" required name="addressline1" type="text" placeholder="Calle, Carrera, Avenida, etc..." <%if(action=='edit' && seller.mainAddress!==null){%>value="<%=seller.mainAddress.addressline1%>"<%}%>/>
                            </div>
                            <br>
                            <div class="control">
                                <input class="input is-size-7" name="addressline2" type="text" placeholder="Torre, Casa, Piso, Puerta, Edificio..." <%if(action=='edit' && seller.mainAddress!==null){%>value="<%=seller.mainAddress.addressline2%>"<%}%>/>
                            </div>
                          </div>
                          <div class="columns">
                              <div class="column">
                                <div class="field">
                                    <label class="label is-size-7">País</label>
                                    <div class="control">
                                      <div class="select is-fullwidth is-size-7">
                                        <select required class="select is-capitalized" name="country">
                                          <option value="0">Elegir País</option>
                                          <% countries.forEach((country) =>{ %>
                                          <option class="is-capitalized" value="<%=country.id%>" <%if(action=='edit' && seller.mainAddress!==null && country.id==seller.mainAddress.country.id){%>selected="selected"<%}%>><%=country.name%></option>
                                          <%})%>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="column">
                                <%if(action=='edit' && seller.mainAddress!==null){%>
                                  <div class="field" id="estados">
                                <%}else{%>
                                  <div class="field is-hidden" id="estados">
                                <%}%>
                                    <label class="label is-size-7">Estado</label>
                                    <div class="select control is-size-7 is-fullwidth">
                                      <select class="is-capitalized" name="region" required >
                                        <option value="">-- Elegir Región --</option>
                                        <%if(action=='edit' && seller.mainAddress!==null){%>
                                          <option value="<%=seller.mainAddress.region.id%>" selected="selected"><%=seller.mainAddress.region.name%></option>
                                        <%}%>
                                      </select>
                                    </div>
                                  </div>
                              </div>
                              <div class="column">
                                <%if(action=='edit' && seller.mainAddress!==null){%>
                                  <div class="field" id="ciudades">
                                <%}else{%>
                                  <div class="field is-hidden" id="ciudades">
                                <%}%>
                                    <label class="label is-size-7">Ciudad</label>
                                    <div class="control select is-size-7 is-fullwidth">
                                      <select class="is-capitalized" name="city" required>
                                        <option value="">-- Elegir Ciudad --</option>
                                        <%if(action=='edit' && seller.mainAddress!==null){%>
                                          <option value="<%=seller.mainAddress.city.id%>" selected="selected"><%=seller.mainAddress.city.name%></option>
                                        <%}%>
                                      </select>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="field">
                            <label class="label is-size-7">Código Postal</label>
                            <div class="control">
                              <input class="input is-size-7" name="zipcode" type="string" placeholder="Código Postal de la Dirección" <%if(action=='edit' && seller.mainAddress!==null){%>value="<%=seller.mainAddress.zipcode%>"<%}%>/>
                            </div>
                          </div>
                          <div class="field">
                            <label class="label is-size-7">Detalles adicionales para ubicar la dirección</label>
                            <div class="control">
                              <textarea class="textarea is-size-7" name="notes" placeholder="Detalles adicionales que puedan ser de utilidad para localizar esta dirección."><%if(action=='edit' && seller.mainAddress!==null){%><%-seller.mainAddress.notes%><%}%></textarea>
                            </div>
                          </div>
                  </div>
                </div>
                <div class="field">
                  <div id="file-loader" class="file is-size-7 has-name is-fullwidth">
                    <label class="file-label">
                      <input class="file-input" accept="image/*" type="file" id="logo" name="logo" />
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="bx bx-upload"></i>
                        </span>
                        <span class="file-label">
                          Logotipo
                        </span>
                      </span>
                      <span class="file-name">
                        No ha cargado ningún archivo.
                      </span>
                    </label>
                  </div>
                </div>
                <%if(action=='createfromtoken'){%>
                  <div class="field">
                    <div id="file-loader-RUT" class="file is-size-7 has-name is-fullwidth">
                      <label class="file-label">
                        <input class="file-input" accept=".pdf" type="file" id="rut" name="logo" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="bx bx-upload"></i>
                          </span>
                          <span class="file-label">
                            RUT
                          </span>
                        </span>
                        <span class="file-name">
                          No ha cargado ningún archivo.
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div id="file-loader-camaracomercio" class="file is-size-7 has-name is-fullwidth">
                      <label class="file-label">
                        <input class="file-input" accept=".pdf" type="file" id="cc" name="logo" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="bx bx-upload"></i>
                          </span>
                          <span class="file-label">
                            Cámara De Comercio
                          </span>
                        </span>
                        <span class="file-name">
                          No ha cargado ningún archivo.
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div id="file-loader-ccrepresentate" class="file is-size-7 has-name is-fullwidth">
                      <label class="file-label">
                        <input class="file-input" accept=".pdf" type="file" id="ccr" name="logo" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="bx bx-upload"></i>
                          </span>
                          <span class="file-label">
                            Cédula Representante Legal
                          </span>
                        </span>
                        <span class="file-name">
                          No ha cargado ningún archivo.
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div id="file-loader-cbanco" class="file is-size-7 has-name is-fullwidth">
                      <label class="file-label">
                        <input class="file-input" accept=".pdf" type="file" id="cbanco" name="logo" multiple/>
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="bx bx-upload"></i>
                          </span>
                          <span class="file-label">
                            Certificación Bancaria
                          </span>
                        </span>
                        <span class="file-name">
                          No ha cargado ningún archivo.
                        </span>
                      </label>
                    </div>
                  </div> 
                <%}%>
                <%if(action=='edit'){%>
                  <%if(!(seller.rut===undefined)){%>
                    <div class="field">
                      <a href="https://s3.amazonaws.com/iridio.co/images/sellers/<%=seller.rut%>" target="_blank">
                         <span class="icon">
                           <i class='bx bxs-file-pdf'></i>
                         </span>
                         RUT
                       </a>
                     </div>
                    <%}%>  
                  <%if(!(seller.cc===undefined)){%>
                    <div class="field">
                      <a href="https://s3.amazonaws.com/iridio.co/images/sellers/<%=seller.cc%>" target="_blank">
                         <span class="icon">
                           <i class='bx bxs-file-pdf'></i>
                         </span>
                         Cámara de comercio
                       </a>
                     </div>
                    <%}%>
                    <%if(!(seller.ccr===undefined)){%>
                      <div class="field">
                        <a href="https://s3.amazonaws.com/iridio.co/images/sellers/<%=seller.ccr%>" target="_blank">
                           <span class="icon">
                             <i class='bx bxs-file-pdf'></i>
                           </span>
                           Cédula Representante Legal
                         </a>
                       </div>
                      <%}%>     

                      <%if(!(seller.cbanco===undefined)){%>
                        <div class="field">
                          <a href="https://s3.amazonaws.com/iridio.co/images/sellers/<%=seller.cbanco%>" target="_blank">
                             <span class="icon">
                               <i class='bx bxs-file-pdf'></i>
                             </span>
                             Certificación Bancaria
                           </a>
                         </div>
                        <%}%>     
                <%}%>

                <br>
                <div class="control buttons is-right">
                  <% if(action=='edit'){ %> 
                    <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Seller</button>
                  <% }else if (action=='create'){ %>
                    <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Seller</button>
                  <% }else if (action=='createfromtoken'){ %>
                    <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Seller</button>
                  <% } %>
                </div>
              
              
              </div>
            </form>
          </div>
          <script>
            const fileInput = document.querySelector('#file-loader input[type=file]');
            fileInput.onchange = () => {
              if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-loader .file-name');
                fileName.textContent = fileInput.files[0].name;
              }
            };
            if(!(document.querySelector('#file-loader-RUT input[type=file]')==null)){
              const fileInputRUT = document.querySelector('#file-loader-RUT input[type=file]');
              fileInputRUT.onchange = () => {
                if (fileInputRUT.files.length > 0) {
                  const fileName = document.querySelector('#file-loader-RUT .file-name');
                  fileName.textContent = fileInputRUT.files[0].name;
                }
            };
            }
            if(!(document.querySelector('#file-loader-camaracomercio input[type=file]')==null)){
              const fileInputCC = document.querySelector('#file-loader-camaracomercio input[type=file]');
            fileInputCC.onchange = () => {
              if (fileInputCC.files.length > 0) {
                const fileName = document.querySelector('#file-loader-camaracomercio .file-name');
                fileName.textContent = fileInputCC.files[0].name;
              }
            };
            }
            if(!(document.querySelector('#file-loader-ccrepresentate input[type=file]')==null)){
              const fileInputRepresentante = document.querySelector('#file-loader-ccrepresentate input[type=file]');
            fileInputRepresentante.onchange = () => {
              if (fileInputRepresentante.files.length > 0) {
                const fileName = document.querySelector('#file-loader-ccrepresentate .file-name');
                fileName.textContent = fileInputRepresentante.files[0].name;
              }
            };
            }
            if(!(document.querySelector('#file-loader-cbanco input[type=file]')==null)){
              const fileInputCbanco = document.querySelector('#file-loader-cbanco input[type=file]');
            fileInputCbanco.onchange = () => {
              if (fileInputCbanco.files.length > 0) {
                const fileName = document.querySelector('#file-loader-cbanco .file-name');
                fileName.textContent = fileInputCbanco.files[0].name;
              }
            };
            }




            live('#activo','click',function(){
              let elm = this;
              let state = elm.checked;
              var sp = document.querySelector('#state');
              if(state){
                sp.innerHTML='<b style="color:green;">activo</b>';
              }else{
                sp.innerHTML='<b style="color:red;">inactivo</b>';
              }
            });

            live('select[name="country"]','change',e =>{
              let country = e.target.value;
              
              let regions = document.querySelector('#estados')
              regions.querySelector('select').innerHTML='<option value="">-- Elegir Región --</option>';
              addClass(regions,'is-hidden');
              
              let cities = document.querySelector('#ciudades')
              cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
              addClass(cities,'is-hidden');
              console.log(country);
              io.socket.get('/find/regions/'+country,resdata =>{
                if(resdata.regions.length>0){
                  for(let s of resdata.regions){
                    let option = document.createElement('option');
                    option.value = s.id;
                    option.innerHTML = s.name
                    regions.querySelector('select').appendChild(option);
                  }
                  removeClass(regions,'is-hidden');
                }
              });
            });

            live('select[name="region"]','change',e =>{
              let region = e.target.value;
              let cities = document.querySelector('#ciudades')
              cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
              addClass(cities,'is-hidden');
              io.socket.get('/find/cities/'+region,resdata =>{
                if(resdata.cities.length>0){
                  for(let s of resdata.cities){
                    let option = document.createElement('option');
                    option.value = s.id;
                    option.innerHTML = s.name
                    cities.querySelector('select').appendChild(option);
                  }
                  removeClass(cities,'is-hidden');
                }
              });
            });
          </script>
    <% } else { %>
        <p style="text-align: right;font-size: 20px; margin-right: 5px;">
            <a href="/sellers/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
        </p>
        <div class="table-container">
            <table class="table is-hoverable" id="sellers-table">
                <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                    <% sellers.forEach(function(seller){ %>
                        <tr>
                            <td class="align-middle">
                                <img src="<%=imgurl%>/images/sellers/<%= seller.logo %>" name="logo" alt="<%= seller.name %>" width="150px" />
                            </td>
                            <td class="align-middle is-capitalized"><%= seller.name %></td>
                            <td class="align-middle">
                            <span class="action">
                            <% if(seller.active===true) { %>
                                <i seller="<%= seller.id %>" class="state bx bx-check-circle"></i>
                            <% }else{ %>
                                <i seller="<%= seller.id %>" class="state bx bx-x-circle"></i>
                            <%}%>
                            </span>
                            </td>
                            <td class="align-middle">
                            <a href="/sellers/edit/<%= seller.id %>" class="button is-small">
                                <span class="icon">
                                <i class="bx bxs-edit"></i>
                                </span>
                            </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                let table = new simpleDatatables.DataTable('#sellers-table',{
                searchable:true,
                sortable:true,
                paging:true,
                labels: {
                    placeholder: "Buscar...",
                    perPage: "{select} registros por página",
                    noRows: "No se encontraron datos",
                    info: "Mostrando {start} a {end} de {rows} registros",
                }
                });  
            });
        </script>
    <% } %>
    <script>
      setTimeout(function() {
        var el = document.getElementById('error');
        if(el){
          el.style.display='none';
        }
      }, 4000);

      live('#setup-import', 'click', function(e){
        e.preventDefault();

        var elm = this;
        var pane = document.getElementById('setup-panel');

        if (hasClass(pane, 'is-hidden')){
            removeClass(pane, 'is-hidden');
        }else{
            addClass(pane, 'is-hidden');
        }
      });

      live('.state', 'click', function(){ 
        if(confirm('Seguro Desea Continuar')){
          var elm = this;
          var id = this.getAttribute('seller');
          var status = null;
          if (hasClass(elm,'bx-check-circle')){status = false;}else{status = true;}

          io.socket.put('/seller/'+id,{active:status},function(resData, jwr){
            if(resData.active===false){
              removeClass(elm, 'bx-check-circle');
              addClass(elm,'bx-x-circle');
            }else{
              removeClass(elm, 'bx-x-circle');
              addClass(elm,'bx-check-circle');
            }
          });
        }
      });
    </script>
</div>