<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<div class="container">
  <div class="box">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <p class="has-text-left">
          <%= data.seller.name.toUpperCase() %><br>
          <%= 'NIT.' + data.seller.dni %><br><br>
          <%= data.address.addressline1 %><br>
          <%= 'Tel.' + data.seller.phone %><br>
          <%= data.address.city.name.toUpperCase()+' - '+ data.address.country.name.toUpperCase() %>
        </p>
      </div>
      <div class="column">
        <p class="has-text-right"><img height="100" src="<%=imgurl%>/images/sellers/<%= data.seller.logo %>" /><br><strong><%= date.toLocaleUpperCase() %></strong></p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="columns is-size-7">
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Ordenes (CR)</h7>
      <hr>
      <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Detalles Ordenes:&nbsp;</span></p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <% data.salesPerChannel.forEach((sale) =>{ %>
            <tr><td><span class="is-size-7">Pedidos Procesados <%= sale.channel%></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalPrice).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <%})%>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Pedidos:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalPrice).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Retención TC (Abono)</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.rteTc).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Devolución Retención TC (Abono)</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.rteTcComission).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Retenciones:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.rteTc - data.rteTcComission).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <% data.salesPerChannel.forEach((sale) =>{ %>
            <tr><td><span class="is-size-7">Comisión <%= sale.channel%></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalCommission).toLocaleString('es-CO')%>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalCommissionIva).toLocaleString('es-CO')%> +IVA&nbsp;</p></td></tr>
          <%})%>
          <tr><td><span class="is-size-7">Devolución de Comisión</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.devTotalCommission).toLocaleString('es-CO')%>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.commissionFeeOrdersFailed).toLocaleString('es-CO')%> +IVA&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Comisiones:</span></td><td><p class="has-text-dark has-text-right"></p></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalCommission - data.commissionFeeOrdersFailed).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          
        </table>
        </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Reembolsos (CAN)</h7>
      <hr>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Ordenes Mes Actual:&nbsp;</span>
        <span class="icon download-right is-hidden" id="downloadCurrentOrders"><i class='bx bx-loader bx-spin bx-sm'></i></span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Ordenes Devueltas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersReturn.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownload" status="retornado">$<%= Math.round(data.ordersReturn.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="is-size-7">Ordenes Canceladas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersCancel.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownload" status="cancelado">$<%= Math.round(data.ordersCancel.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="is-size-7">Ordenes Fallidas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersFailed.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownload" status="fallido"> $<%= Math.round(data.ordersFailed.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.ordersFailed.total + data.ordersCancel.total + data.ordersReturn.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersFailed.price + data.ordersCancel.price + data.ordersReturn.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Ordenes Entregadas:&nbsp;</span>
        <span class="icon download-right is-hidden" id="downloadDelivered"><i class='bx bx-loader bx-spin bx-sm'></i></span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <% total = 0 %>
          <% price = 0 %>
          <% data.salesPerChannel.forEach((sale) =>{ %>
            <% total += sale.sales.ordersDelivered.total %>
            <% price += sale.sales.ordersDelivered.price %>
            <tr><td><span class="is-size-7">Ordenes Entregadas <%= sale.channel%></span></td><td><p class="has-text-dark has-text-right"><%= sale.sales.ordersDelivered.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownloadDelivered" channel="<%= sale.channel%>">$<%= Math.round(sale.sales.ordersDelivered.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <%})%>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Ordenes Mes Anterior:&nbsp;</span>
        <span class="icon download-right is-hidden" id="downloadOrders"><i class='bx bx-loader bx-spin bx-sm'></i></span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Ordenes Devueltas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersReturnComission.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownloadCommission" status="retornado">$<%= Math.round(data.ordersReturnComission.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="is-size-7">Ordenes Fallidas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersFailedComission.total %>&nbsp;</p></td><td class="has-text-right"><a class="totalDownloadCommission" status="fallido"> $<%= Math.round(data.ordersFailedComission.price).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.ordersFailedComission.total + data.ordersReturnComission.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersFailedComission.price + data.ordersReturnComission.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Reintegro Comisiones:&nbsp;</span>
        <span class="icon download-right is-hidden" id="downloadOrdersAll"><i class='bx bx-loader bx-spin bx-sm'></i></span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Comisión</span></td><td class="has-text-right"><a class="totalDownloadCommission" status="all">$<%= Math.round(data.commissionFeeOrdersFailed).toLocaleString('es-CO') %>&nbsp;</a></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Mes Ant:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.commissionFeeOrdersFailed).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Otros Conceptos</h7>
      <hr>
      <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Detalles Conceptos:&nbsp;</span></p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Total Referencias Inactivas (SKU)</span></td><td><p class="has-text-dark has-text-right"><%= data.totalSkuInactive %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Total Referencias Activas (SKU)</span></td><td><p class="has-text-dark has-text-right"><%= data.totalSkuActive %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Total Referencias:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.totalSkuInactive + data.totalSkuActive %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7"><%= data.seller.activeSku ? 'Referencias Activas (SKU)' : 'Referencias (SKU)' %></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalSku).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Fotografia (FTG)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Marketing (MKT)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Serv Envío (ENV)</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.fleteTotal).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ajustes (CC - CAN)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotales:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalSku + data.fleteTotal).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
</div>
<div class="columns is-size-7">
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Balance</h7>
      <hr>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Retención por servicios</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalRetFte).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Retención de Ica 9,66/1000</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalRetIca).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Devolución Retención de Ica 9,66/1000</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.devRteIca).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ajuste al peso</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-4">Balance Total:</span></td><td><p class="has-text-success has-text-right is-size-4">$<%= Math.round(data.totalBalance).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
</div>
<script>
  live('.totalDownload', 'click', function(e){
    e.preventDefault();
    const status = e.target.getAttribute('status');
    const load = document.querySelector('#downloadCurrentOrders')
    let orders = <%- JSON.stringify(data.orders) %>;
    orders = orders.filter(order => order.currentstatus.name === status)
    if (orders.length > 0) {
      removeClass(load,'is-hidden');
      io.socket.post('/downloadordersexcel', {orders, period: 'create'}, (resData, jwRes) =>{
        if(jwRes.statusCode == 200) {
          addClass(load,'is-hidden');
          saveAs(new Blob([resData],{type:"application/octet-stream"}), `Items Ordenes ${status}.xlsx`);
        }
      });
    }
  });

  live('.totalDownloadCommission', 'click', function(e){
    e.preventDefault();
    const status = e.target.getAttribute('status');
    let orders = <%- JSON.stringify(data.ordersCommission) %>;
    let load = null;
    if (status !== 'all') {
      orders = orders.filter(order => order.currentstatus.name === status)
      load = document.querySelector('#downloadOrders')
    } else {
      load = document.querySelector('#downloadOrdersAll')
    }
    if (orders.length > 0) {
      removeClass(load,'is-hidden');
      io.socket.post('/downloadordersexcel', {orders, period: 'update'}, (resData, jwRes) =>{
        if(jwRes.statusCode == 200) {
          addClass(load,'is-hidden');
          saveAs(new Blob([resData],{type:"application/octet-stream"}), `Items Ordenes ${status !== 'all' ? status : 'Comisión'}.xlsx`);
        }
      });
    }
  });

  live('.totalDownloadDelivered', 'click', function(e){
    e.preventDefault();
    const channel = e.target.getAttribute('channel');
    const load = document.querySelector('#downloadDelivered')
    let orders = <%- JSON.stringify(data.ordersDelivered) %>;
    orders = orders.filter(item => item.order.channel === channel)
    if (orders.length > 0) {
      removeClass(load,'is-hidden');
      io.socket.post('/downloadordersexcel', {orders, period: 'update'}, (resData, jwRes) =>{
        if(jwRes.statusCode == 200) {
          addClass(load,'is-hidden');
          saveAs(new Blob([resData],{type:"application/octet-stream"}), `Items Ordenes Entregadas ${channel}.xlsx`);
        }
      });
    }
  });
</script>