<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<div class="container">
  <div class="box">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <p class="has-text-left">
          <%= data.seller.name.toUpperCase() %><br>
          <%= 'NIT.' + data.seller.dni %><br><br>
          <%= data.address.addressline1 %><br>
          <%= 'Tel.' + data.seller.phone %><br>
          <%= data.address.city.name.toUpperCase()+' - '+ data.address.country.name.toUpperCase() %>
        </p>
      </div>
      <div class="column">
        <p class="has-text-right"><img height="100" src="<%=imgurl%>/images/sellers/<%= data.seller.logo %>" /><br><strong><%= date.toLocaleUpperCase() %></strong></p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="columns is-size-7">
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Ordenes (CR)</h7>
      <hr>
      <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Detalles Ordenes:&nbsp;</span></p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <% data.salesPerChannel.forEach((sale) =>{ %>
            <tr><td><span class="is-size-7">Pedidos Procesados <%= sale.channel%></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalPrice).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <%})%>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Pedidos:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalPrice).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Retención TC (Abono)</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.rteTc).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Retenciones:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.rteTc).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <% data.salesPerChannel.forEach((sale) =>{ %>
            <tr><td><span class="is-size-7">Comisión <%= sale.channel%></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalCommission).toLocaleString('es-CO')%>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(sale.sales.totalCommissionIva).toLocaleString('es-CO')%> +IVA&nbsp;</p></td></tr>
          <%})%>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Comisiones:</span></td><td><p class="has-text-dark has-text-right"></p></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalCommission).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          
        </table>
        </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Reembolsos (CAN)</h7>
      <hr>
      <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Ordenes Mes Actual:&nbsp;</span></p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Ordenes Devueltas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersReturn.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersReturn.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ordenes Canceladas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersCancel.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersCancel.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ordenes Fallidas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersFailed.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right"> $<%= Math.round(data.ordersFailed.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.ordersFailed.total + data.ordersCancel.total + data.ordersReturn.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersFailed.price + data.ordersCancel.price + data.ordersReturn.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Ordenes Mes Anterior:&nbsp;</span>
        <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm'></i></span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Ordenes Devueltas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersReturnComission.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersReturnComission.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ordenes Fallidas</span></td><td><p class="has-text-dark has-text-right"><%= data.ordersFailedComission.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right"> $<%= Math.round(data.ordersFailedComission.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.ordersFailedComission.total + data.ordersReturnComission.total %>&nbsp;</p></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.ordersFailedComission.price + data.ordersReturnComission.price).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
      <p class="container is-capitalized">
        <span class="is-capitalized has-text-weight-bold">Reintegro Comisiones:&nbsp;</span>
      </p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Comisión</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.commissionFeeOrdersFailed).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotal Mes Ant:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.commissionFeeOrdersFailed).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Otros Conceptos</h7>
      <hr>
      <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Detalles Conceptos:&nbsp;</span></p>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Total Referencias Inactivas (SKU)</span></td><td><p class="has-text-dark has-text-right"><%= data.totalSkuInactive %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Total Referencias Activas (SKU)</span></td><td><p class="has-text-dark has-text-right"><%= data.totalSkuActive %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Total Referencias:</span></td><td><p class="has-text-success has-text-right is-size-6"><%= data.totalSkuInactive + data.totalSkuActive %>&nbsp;</p></td></tr>
        </table>
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7"><%= data.seller.activeSku ? 'Referencias Activas (SKU)' : 'Referencias (SKU)' %></span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalSku).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Fotografia (FTG)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Marketing (MKT)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Serv Envío (ENV)</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.fleteTotal).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ajustes (CC - CAN)</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-6">Subtotales:</span></td><td><p class="has-text-success has-text-right is-size-6">$<%= Math.round(data.totalSku + data.fleteTotal).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
</div>
<div class="columns is-size-7">
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-7">Balance</h7>
      <hr>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7">Retencion por servicios</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalRetFte).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Retencion de Ica 9,66/1000</span></td><td><p class="has-text-dark has-text-right">$<%= Math.round(data.totalRetIca).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7">Ajuste al peso</span></td><td><p class="has-text-dark has-text-right">$0&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-4">Balance Total:</span></td><td><p class="has-text-success has-text-right is-size-4">$<%= Math.round(data.totalBalance).toLocaleString('es-CO')%>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
</div>
<script>
  live('.download-right', 'click', function(e){
    e.preventDefault();
    const orders = <%- JSON.stringify(data.ordersCommission) %>;
    console.log(orders);
    if (orders.length > 0) {
      removeClass(e.target,'bxs-cloud-download');
      addClass(e.target, 'bx-loader');
      addClass(e.target, 'bx-spin');
      io.socket.post('/downloadordersexcel', {orders}, (resData, jwRes) =>{
        if(jwRes.statusCode == 200) {
          addClass(e.target,'bxs-cloud-download');
          removeClass(e.target, 'bx-loader');
          removeClass(e.target, 'bx-spin');
          saveAs(new Blob([resData],{type:"application/octet-stream"}), `Items Ordenes.xlsx`);
        }
      });
    }
  });
</script>