<div class="container">
  <h4 class="title is-4">Publicidad MercadoLibre</h4>
  <hr>
  <div class="box">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <table class="table is-fullwidth">
          <tr><td><span class="has-text-weight-bold is-size-7">Nombre de tu campaña</span></td><td><p class="has-text-dark has-text-right"><%= response.campaign.name %>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-7">Estado</span></td><td><p class="has-text-dark has-text-right"><span class="tag <% if(response.campaign.status=='active'){%>is-success<%}else{%>is-danger<%}%>"><%= response.campaign.status === 'active' ? 'ACTIVA' : 'PAUSADA' %></span>&nbsp;</p></td></tr>
          <tr><td><span class="has-text-weight-bold is-size-7">Presupuesto diario</span></td><td><p class="has-text-success has-text-right is-size-6">$ <%= Math.round(response.campaign.budget).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
        </table>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>
<br>
<div class="columns is-size-7">
  <div class="column">
    <div class="box">
      <h7 class="has-text-weight-bold title is-6">Metricas</h7>
      <hr>
      <p class="container is-capitalized">
        <table class="table is-fullwidth">
          <tr><td><span class="is-size-7 has-text-weight-bold">Ventas por publicidad</span></td><td><p class="has-text-dark has-text-right"><%= response.metrics.sold_quantity_direct %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">Ventas sin publicidad</span></td><td><p class="has-text-dark has-text-right"><%= response.metrics.sold_quantity_indirect %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">Impresiones</span></td><td><p class="has-text-dark has-text-right"><%= response.metrics.impressions %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">Clics</span></td><td><p class="has-text-dark has-text-right"><%= response.metrics.clicks %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">Ingresos</span></td><td><p class="has-text-dark has-text-right">$ <%= Math.round(response.metrics.amount_direct).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">Inversión</span></td><td><p class="has-text-dark has-text-right">$ <%= Math.round(response.metrics.cost).toLocaleString('es-CO') %>&nbsp;</p></td></tr>
          <tr><td><span class="is-size-7 has-text-weight-bold">ACOS</span></td><td><p class="has-text-dark has-text-right">% <%= response.metrics.advertising_fee %>&nbsp;</p></td></tr>
        </table>
      </p>
    </div>
  </div>
</div>
