<% let printed = []; let flag = false; %>
<div class="container">
    <% if (error != undefined || error != null) { %><div class="notification is-danger is-light" id="error"><%= error %></div><% } %>
    <div class="notification is-danger is-light is-hidden" id="mgs-error"></div>
    <div class="columns is-size-7">
      <div class="column">
        <div class="box">
          <h7 class="title is-7">Información del Pedido</h7><span id="order" order="<%=order.id %>" class="is-pulled-right is-size-5"><%=order.reference %></span>
          <hr>
          <p class="container is-capitalized"><span class="is-lower has-text-weight-bold">Nombre:&nbsp;</span><span class="is-pulled-right"><%= order.customer.fullName %>&nbsp;-&nbsp;<%= order.customer.dniType %>:&nbsp;<%= order.customer.dni %></span></p>
          <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Email:&nbsp;</span><span class="is-pulled-right is-lowercase is-size-7"><%= order.customer.emailAddress %></span></p>
          <%if(order.customer.mobile){%>
          <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Teléfono:&nbsp;</span><span class="is-pulled-right is-lowercase is-size-7"><%= order.customer.mobile %></span></p>
          <%}%>
          <p class="container is-lowercase"><span class="is-capitalized has-text-weight-bold">Pedido creado:&nbsp;</span><span class="is-pulled-right"><%= moment(order.createdAt).locale('es').format('LLL')%></span></p>
          <p class="container is-lowercase"><span class="is-capitalized has-text-weight-bold">Tiempo del Proceso:&nbsp;</span><span class="is-pulled-right"><%= moment.duration(order.updatedAt-order.createdAt).locale('es').humanize()%></span></p>
          <br>
          <div class="select is-fullwidth">
            <select class="is-capitalized" name="orderState">
                <% states.forEach(state =>{ %>
                  <option color="<%= state.color.code;%>" class="is-capitalized" value="<%=state.id%>" <%if(state.id==order.currentstatus.id){%>selected="selected"<%}%>><%=state.name%></option>
                <%})%>
            </select>
          </div>
          <br><br>
            <div class="columns is-mobile">
              <div class="column">
                <div id="state-color" class="color-container" style="margin-top:8px;background-color:<%= order.currentstatus.color.code %>;border:solid 1px <%=order.currentstatus.color.code%>;"></div>
              </div>
              <div class="column has-text-right">
                <button id="stt" class="button is-primary is-small">Actualizar Estado</button>
              </div>
            </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h7 class="title is-7">Información del Pago</h7><span class="is-pulled-right is-size-5"><%=order.paymentId %></span>
          <hr><br>
          <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Canal de Origen:&nbsp;</span><span class="is-pulled-right"><%= order.channel %></span></p>
          <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Medio de Pago:&nbsp;</span><span class="is-pulled-right"><%= order.paymentMethod %></span></p>
          <p class="container is-capitalized"><span class="is-capitalized has-text-weight-bold">Detalle de Pago:&nbsp;</span><span class="is-pulled-right"><%= order.paymentOption %></span></p>
          <p class="container is-capitalized">
            <table class="table is-fullwidth">
              <tr><td><span class="has-text-weight-bold is-size-7">Productos:</span></td><td><p class="has-text-dark has-text-right">$&nbsp;<%= Math.round(order.totalProducts).toLocaleString('es-CO')%></p></td></tr>
              <tr><td><span class="has-text-weight-bold is-size-7">Envío:</span></td><td><p class="has-text-success has-text-right">$&nbsp;<%= Math.round(order.totalShipping).toLocaleString('es-CO')%></p></td></tr>
              <tr><td><span class="has-text-weight-bold is-size-7">Pedido:</span></td><td><p class="has-text-danger has-text-right">$&nbsp;<%= Math.round(order.totalOrder).toLocaleString('es-CO')%></p></td></tr>
            </table>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h7 class="title is-7">Dirección de Entrega</h7>
          <hr>
          <%if(order.addressDelivery){%>
            <p class="container"><%= order.addressDelivery.addressline1 %></p>
            <%= order.addressDelivery.addressline2 %>
            <span class="is-capitalized"><%= order.addressDelivery.region.name %>, </span>
            <span class="is-capitalized"><%= order.addressDelivery.city.name %></span>
            <span class="is-uppercase"><%= order.addressDelivery.zipcode %></span>
            <p class="container is-capitalized"><%= order.addressDelivery.country.name %></p>
            <br>
            <p class="container"><h7 class="subtitle is-7 has-text-weight-bold">Observaciones:</h7></p>
            <p><%= order.addressDelivery.notes %></p>
            <br>
          <%}%>
          <%if(order.tracking!=='' && order.tracking!==null){%>
          <div class="columns is-mobile">
            <div class="column">
              <span id="tracking" tracking="<%=order.tracking %>" class="is-size-7">Guía: <%=order.tracking%></span>
            </div>
            <div class="column">
              <p class="container has-text-right">
                <%if(order.channel==='coppel'){%>
                  <a href="https://www.fedex.com" target="_blank" id="tracking" class="button"><span class="icon"><i class='bx bx-printer'></i></span></a>
                <%}else if(documentType === 'Cross docking'){%>
                  <a href="/shipmentcrossdocking/<%=order.tracking%>" class="button"><span class="icon"><i class='bx bx-printer'></i></span></a>
                <%}else{%>
                  <a href="/guia/<%=order.tracking%>" id="tracking" class="button"><span class="icon"><i class='bx bx-printer'></i></span></a>
                <%}%>
              </p>
            </div>
          </div>
        <%}else{%>
          <hr>
        <%}%>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h7 class="title is-7">Detalle del Pedido</h7>
        <div class="box">
          <% items.forEach(item => { %>
            <div class="columns">
              <div class="column is-two-fifths">
                <article class="media">
                  <%if(item.product.images.length>0){%>
                  <img width="128px;" async src="<%=imgurl%>/images/products/<%=item.product.id%>/<%=item.product.images[0].file%>" />
                  <%}%>
                  <div class="container is-size-7">
                    <p class="is-capitalized"><%=item.product.manufacturer.name%></p>
                    <p><strong class="is-uppercase"><%=item.product.name%></strong></p>
                    <p><span>Referencia:&nbsp;<strong><%= item.product.reference %></strong></span></p>
                    <%if(item.productvariation.reference!== undefined && item.productvariation.reference!==''){%><p><span>SKU:&nbsp;<strong><%= item.productvariation.reference %></strong></span></p><%}%>
                    <%if(item.product.mainColor!=undefined){%><span>Color:</span>&nbsp;&nbsp;<span class="is-capitalized"><%=item.product.mainColor.name %>&nbsp;&nbsp;</span><div class="color-container" style="background-color:<%= item.product.mainColor.code %>;border:solid 1px <%= item.product.mainColor.code %>;"></div><%}%>
                    <p>Talla:&nbsp;<span class="is-uppercase"><%= item.productvariation.variation.name %></span>&nbsp;<span class="is-uppercase">COL:&nbsp<%= item.productvariation.variation.col %></span>&nbsp;<span class="is-uppercase">US:&nbsp<%= item.productvariation.variation.us %></span>&nbsp;<span class="is-uppercase">CM:&nbsp<%= item.productvariation.variation.cm %></span></p>
                  </div>
                </article>
              </div>
              <div class="column">
                <div class="container">
                  <p class="has-text-centered is-paddingless is-marginless is-size-7"><span class="has-text-weight-bold">Unidades</span></p>
                  <p class="has-text-centered"><span id="quantity" class="has-text-info is-size-1 has-text-weight-bold">1</span></p>
                </div>
              </div>
              <div class="column">
                <div class="container is-size-7">
                  <p class="has-text-centered is-paddingless is-marginless"><span class="has-text-weight-bold">Estado</span></p>
                  <span class="tag tag-status has-text-weight-bold">
                    <%= item.currentstatus.name %>
                    <div id="state-color" class="color-container" style="margin-left: 10px;background-color:<%= item.currentstatus.color.code %>;border:solid 1px <%=order.currentstatus.color.code%>;"></div>
                  </span>
                </div>
              </div>
              <div class="column is-one-third">
                <table class="table is-fullwidth" variation="<%=item.productvariation.id%>">
                  <!--<tr><td><span class="has-text-weight-bold is-size-7">Precio x Unidad:</span></td><td><p id="unit-price" price="<%#item.originalPrice%>" class="has-text-dark has-text-right">$&nbsp;<%# item.originalPrice.toLocaleString('es-CO') %></p></td></tr>-->
                  <tr><td><span class="has-text-weight-bold is-size-7">Valor del descuento:</span></td><td><p id="discount" price="<%=item.discount%>" class="has-text-success has-text-right">$&nbsp;<%= Math.round(item.discount).toLocaleString('es-CO')%></p></td></tr>
                  <tr><td><span class="has-text-weight-bold is-size-7">Subtotal:</span></td><td><p id="item-price" price="<%=item.price%>" class="has-text-danger has-text-right">$&nbsp;<%= Math.round(item.price).toLocaleString('es-CO')%></p></td></tr>
                </table>
              </div>
            </div>
          <%})%>
        </div>
      </div>
    </div>
    <div id="modal-integration" class="is-hidden columns modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <section class="modal-card-body">
          <div class="box">
            <div class="field">
              <label class="label">Información de Guía</label>
            </div>
            <div class="setup" id="form-integration"></div>
          </div>
        </section>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-address" class="is-hidden columns modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <section class="modal-card-body">
          <div class="box">
            <div class="field">
              <label class="label">Logística de Envío</label>
            </div>
            <form method="POST" action="/guideprocess/<%= order.id %>">
              <input class="is-hidden" name="status" value=""/>
              <div class="column">
                <div class="field">
                  <label class="label is-size-7">Transportadora</label>
                  <div class="control">
                    <div class="select is-fullwidth is-size-7">
                      <select required class="select is-capitalized" name="transport">
                        <option value="">-- Elegir Transportadora --</option>
                        <option class="is-capitalized" value="coordinadora">Coordinadora</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="container-address">
                  <div class="field">
                    <label class="label is-size-7">Dirección</label>
                    <div class="control">
                      <input class="input is-size-7" required name="addressline1" type="text" placeholder="Calle, Carrera, Avenida, etc..."/>
                    </div>
                    <br>
                    <div class="control">
                      <input class="input is-size-7" name="addressline2" type="text" placeholder="Torre, Casa, Piso, Puerta, Edificio..."/>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <label class="label is-size-7">País</label>
                        <div class="control">
                          <div class="select is-fullwidth is-size-7">
                            <select required class="select is-capitalized" name="country">
                              <option value="0">Elegir País</option>
                              <% countries.forEach((country) =>{ %>
                                <option class="is-capitalized" value="<%=country.id%>"><%=country.name%></option>
                              <%})%>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="field is-hidden" id="estados">
                        <label class="label is-size-7">Estado</label>
                        <div class="select control is-size-7 is-fullwidth">
                          <select class="is-capitalized" name="region" required >
                            <option value="">-- Elegir Región --</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="field is-hidden" id="ciudades">
                        <label class="label is-size-7">Ciudad</label>
                        <div class="control select is-size-7 is-fullwidth">
                          <select class="is-capitalized" name="city" required>
                            <option value="">-- Elegir Ciudad --</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <label class="label is-size-7">Código Postal</label>
                        <div class="control">
                          <input class="input is-size-7" name="zipcode" type="text" placeholder="Código Postal de la Dirección"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label is-size-7">Detalles adicionales para ubicar la dirección</label>
                    <div class="control">
                      <textarea class="textarea is-size-7" name="notes" placeholder="Detalles adicionales que puedan ser de utilidad para localizar esta dirección."></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="control buttons is-right">
                <button type="submit" class="button is-primary is-small"><i class='bx bxs-detail'></i>&nbsp;Procesar</button>
              </div>
            </form>
          </div>
        </section>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
      let totals = <%- JSON.stringify(printed) %>;

      const quantites = () =>{
          let list = document.querySelectorAll('.table');
          for(let row of list){
              let select = row.parentNode.parentNode.querySelector('#quantity')
              totals.forEach(el =>{
                  if(el.variation.toString()===row.getAttribute('variation')){
                      select.innerHTML=el.quantity;
                      let itemPrice = row.querySelector('#item-price')
                      let itemOriginal = row.querySelector('#unit-price')
                      let discount = row.querySelector('#discount')
                      itemPrice.innerHTML = '$ '+Math.round(itemPrice.getAttribute('price')*el.quantity).toLocaleString('es-CO');
                      itemOriginal.innerHTML = '$ '+Math.round(itemOriginal.getAttribute('price')).toLocaleString('es-CO')+'&nbsp;';
                      discount.innerHTML = '$ '+Math.round(discount.getAttribute('price')*el.quantity).toLocaleString('es-CO')+'&nbsp;';
                  }
              });
          }
      }

      quantites();

      live('#stt','click',(e) =>{
        e.preventDefault();
        let channel='<%- order.channel %>';
        let order= document.getElementById('order').getAttribute('order');
        let state = document.querySelector('select[name="orderState"]');
        const error = document.querySelector('#mgs-error');
        const nameState = state.options[state.selectedIndex].text;
        state = state.value;
        let tracking= '<%- order.tracking %>';
        addClass(e.target, 'is-loading');
        if(channel == 'coppel' && state =='5eeceb61c7b6fb0418019db2' && tracking == ''){
          let modal = document.querySelector('#modal-integration');
          removeClass(modal, 'is-hidden');
          createTrackingForm();
          removeClass(e.target, 'is-loading');
        }else{
          if (nameState === 'empacado') {
            io.socket.post('/verifyorder', {id:order}, resData =>{
              if (resData.stateOrder) {
                const modalAddress = document.querySelector('#modal-address');
                const status = document.querySelector('input[name="status"]');
                removeClass(modalAddress, 'is-hidden');
                removeClass(e.target, 'is-loading');
                status.value = state;
                if (resData.stateAddress) {
                  document.getElementById("container-address").remove();
                }
              } else {
                io.socket.put('/order/update',{id:order,orderState:state}, resData =>{
                  removeClass(e.target, 'is-loading');
                  if (resData && resData.error) {
                    error.innerHTML = resData.error;
                    removeClass(error, 'is-hidden');
                    setTimeout(function() {
                      addClass(error,'is-hidden');
                    }, 10000);
                  } else {
                    let colorcode = resData.newstate.color.code;
                    document.querySelector('#state-color').setAttribute('style','margin-top:8px;background-color:'+colorcode+';border:solid 1px '+colorcode+';');
                  }
                });
              }
            }); 
          } else {
            io.socket.put('/order/update',{id:order,orderState:state}, resData =>{
              let colorcode = resData.newstate.color.code;
              document.querySelector('#state-color').setAttribute('style','margin-top:8px;background-color:'+colorcode+';border:solid 1px '+colorcode+';');
              removeClass(e.target, 'is-loading');
            });
          }
        }
      });

      function createTrackingForm() {
            let div = document.createElement('div');
            let formIntegration = document.querySelector('#form-integration');
            formIntegration.innerHTML = '';
              let form = 
              `<form id="tracking-form" method="POST" action="/integration/set">
                <div class="container">
                  <div class="field">
                    <label class="label">Número de Guía</label>
                    <div class="control has-icons-left">
                      <input class="input" type="text" name="tracking" placeholder="Número de Guía" required value=""/>
                      <span class="icon is-small is-left">
                        <i class='bx bx-truck'></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Transportadora</label>
                    <div class="control has-icons-left">
                      <select class="is-capitalized" name="carrier">
                        <option class="is-capitalized" value="fedex" selected="selected">FedEx</option>
                        <option class="is-capitalized" value="DHL" >DHL</option>
                      </select>
                    </div>
                  </div>
                  <br>
                    <div class="control is-left" style="display: inline-block">
                      <button id="status-change" type="submit" class="button is-primary is-small">Guardar</button>
                    </div>
                    <div id="loading-block" class="control is-left is-hidden" style="display: inline-block; margin-left:10px">
                      <i class="fas fa-sync fa-spin"></i>
                        Actualizando...
                        <progress class="progress is-small is-primary" max="100">15%</progress>
                    </div>
                </div>
              </form>`
              div.innerHTML = form;
              formIntegration.appendChild(div);
          }
      
      live('#status-change','click',(e) =>{
        e.preventDefault();
        let formIntegration = document.querySelector('#tracking-form');
        let validation = validateForm(formIntegration);
        let channel='<%- order.channel %>';
        let order= document.getElementById('order').getAttribute('order');
        let state= document.querySelector('select[name="orderState"]').value;
        let carrier= document.querySelector('select[name="carrier"]').value;
        let tracking= document.querySelector('input[name="tracking"]').value;
        if(validation){
          let loadingBlock = document.querySelector('#loading-block');
          if(hasClass(loadingBlock,'is-hidden')){removeClass(loadingBlock,'is-hidden');};
          io.socket.put('/order/update/coppel',{order:order, carrier:carrier, tracking:tracking},(resData) =>{
            io.socket.put('/order/update',{id:order,orderState:state},(resData) =>{
              let colorcode = resData.newstate.color.code;
              document.querySelector('#state-color').setAttribute('style','margin-top:8px;background-color:'+colorcode+';border:solid 1px '+colorcode+';');
            });
            if(!hasClass(loadingBlock,'is-hidden')){addClass(loadingBlock,'is-hidden');};
            let modal = document.querySelector('#modal-integration');
            addClass(modal, 'is-hidden');
          });
        }
      });

      live('select[name="country"]','change',e =>{
        let country = e.target.value;
        
        let regions = document.querySelector('#estados')
        regions.querySelector('select').innerHTML='<option value="">-- Elegir Región --</option>';
        addClass(regions,'is-hidden');
        
        let cities = document.querySelector('#ciudades')
        cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
        addClass(cities,'is-hidden');
        
        io.socket.get('/find/regions/'+country,resdata =>{
          if(resdata.regions.length>0){
            for(let s of resdata.regions){
              let option = document.createElement('option');
              option.value = s.id;
              option.innerHTML = s.name
              regions.querySelector('select').appendChild(option);
            }
            removeClass(regions,'is-hidden');
          }
        });
      });

      live('select[name="region"]','change',e =>{
        let region = e.target.value;
        let cities = document.querySelector('#ciudades')
        cities.querySelector('select').innerHTML='<option value="">-- Elegir Ciudad --</option>';
        addClass(cities,'is-hidden');
        io.socket.get('/find/cities/'+region,resdata =>{
          if(resdata.cities.length>0){
            for(let s of resdata.cities){
              let option = document.createElement('option');
              option.value = s.id;
              option.innerHTML = s.name
              cities.querySelector('select').appendChild(option);
            }
            removeClass(cities,'is-hidden');
          }
        });
      });
      
      live('.modal-background, .modal-close','click',e=>{
        let modals = document.querySelectorAll('.modal');
        modals.forEach(modal => {
          addClass(modal, 'is-hidden');
        });
      });
    </script>
</div>