<% let printed = []; let flag = false; %>
<div class="container">
    <div class="columns is-centered is-gapless">
        <div class="column is-9">
            <div class="box">
            <%if(cart===null){%>
                <section class="hero is-warning">
                    <div class="hero-body">
                    <div class="container">
                        <h5 class="title is-5">
                        Tu carrito de compras está vacío
                        </h5>
                        <h6 class="subtitle is-6">
                            Agrega algunos productos para continuar.
                        </h6>
                    </div>
                    </div>
                </section>
            <%} else{ %>
                <% cart.forEach((cartproduct)=>{%> 
                    <% printed.forEach(elm =>{%>
                        <%if(elm.variation===cartproduct.productvariation.id){%>
                            <% flag = true; %>
                        <%}%>
                    <%})%>
                    <%if(!flag){%>
                        <% printed.push({variation:cartproduct.productvariation.id,quantity:1}); %>
                    <%}%>
                    <%if(!flag){%>
                    <div class="columns">
                        <a product="<%=cartproduct.product.id%>" variation="<%=cartproduct.productvariation.id%>" class="delete"></a>
                        <div class="column is-one-fifth">
                            <% cartproduct.product.images.forEach((image)=>{%>
                                <%if(image.cover==1){%>
                                    <figure class="image is-128x128 is-relative">
                                        <img id="main" src="<%=imgurl%>/images/products/<%=cartproduct.product.id%>/<%= image.file %>" data-zoom="/images/products/<%=cartproduct.product.id%>/<%= image.file %>" alt="<%=cartproduct.product.name%>">
                                    </figure>     
                                <%}%>
                            <%})%>
                        </div>
                        <div class="column is-three-fifths">
                            <h5 class="is-size-5"><span class="is-capitalized"><%= cartproduct.product.name %></span>&nbsp;-&nbsp;<span class="is-capitalized"><%= cartproduct.product.mainColor.name%></span>&nbsp;-&nbsp;<span class="is-uppercase"><%=cartproduct.productvariation.variation.name%></span></h5>
                            <div class="select is-primary is-small">
                                <select name="quantity">
                                <%for(let i=1; i<=cartproduct.productvariation.quantity;i++){%>
                                    <option value="<%=i%>">Cant:.&nbsp;<%=i%></option>
                                <%}%>
                                </select>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <%if(cartproduct.product.discount!==null && cartproduct.product.discount!==undefined ){%>
                                <span id="item-old" price="<%=cartproduct.productvariation.price%>" style="text-decoration: line-through;" class="is-size-7">$&nbsp;<%= Math.round(cartproduct.productvariation.price).toLocaleString("es-CO");%></span>
                                <span id="item-price" price="<%=cartproduct.totalPrice%>" class="has-text-danger is-size-5">$&nbsp;<%= Math.round(cartproduct.totalPrice).toLocaleString("es-CO");%></span>
                            <%}else{%>
                                <span id="item-price" price="<%=cartproduct.totalPrice%>" class="has-text-danger is-size-5">$&nbsp;<%= Math.round(cartproduct.totalPrice).toLocaleString("es-CO");%></span>
                            <%}%>
                        </div>
                    </div>
                <%}else{%>
                        <% printed.forEach(elm =>{%>
                            <%if(elm.variation===cartproduct.productvariation.id){%>
                                <% elm.quantity+=1;%>
                                <% flag = false; %>
                            <%}%>
                        <%})%>
                <%}%>
                <%})%>
            <% } %>
            </div>
        </div>
        <%if(cart!==null){%>
        <div class="column is-3">
            <div id="order" class="has-text-centered">
                <div class="box">
                    <span class="is-centered has-text-weight-bold">Subtotal&nbsp;</span>
                    <span id="cart-total" class="has-text-danger is-size-4">$&nbsp;<%= Math.round(session.cart.total).toLocaleString('es-CO')%></span>
                    <hr>
                    <div class="buttons is-centered">
                        <a href="/checkout" id="cart-proceed" class="button is-warning is-size-6 is-size-7-tablet has-text-weight-bold is-flex is-fullwidth"><i class='bx bx-cart-alt is-size-5 is-dark'></i> &nbsp;Proceder al pago</a>
                        <a href="/" id="cart-proceed" class="button has-background-light is-size-6 is-size-7-tablet has-text-weight-bold is-flex is-fullwidth"><i class='bx bx-search-alt'></i> &nbsp;Ver más productos</a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>
<script>
    let totals = <%- JSON.stringify(printed) %>;

    const quantites = () =>{
        let list = document.querySelectorAll('.delete');
        for(let row of list){
            let select = row.parentNode.querySelector('select[name="quantity"]')
            totals.forEach(el =>{
                if(el.variation.toString()===row.getAttribute('variation')){
                    select.value=el.quantity;
                    let itemPrice = row.parentNode.querySelector('#item-price')
                    itemPrice.innerHTML = '$ '+Math.round(itemPrice.getAttribute('price')*el.quantity).toLocaleString('es-CO');
                    if(row.parentNode.querySelector('#item-old')!==null){
                      let itemOld = row.parentNode.querySelector('#item-old')
                      itemOld.innerHTML = '$ '+Math.round(itemOld.getAttribute('price')*el.quantity).toLocaleString('es-CO');
                    }
                }
            });
        }
    }

    quantites();

    live('.delete','click', (e) =>{
        let qty = 0
        let vrt = e.target.getAttribute('variation');
        io.socket.put('/cart',{variation:vrt,quantity:qty,action:'remove'},(res) =>{
            if(res.items<1){
                let box = document.querySelector('.box');
                box.innerHTML=`<section class="hero is-warning">
                  <div class="hero-body">
                   <div class="container">
                    <h5 class="title is-5">Tu carrito de compras está vacío </h5>
                    <h6 class="subtitle is-6"> Agrega algunos productos para continuar.</h6>
                   </div>
                </div>
            </section>`;


            let order = document.querySelector('#order')
            addClass(order,'is-hidden');
            let button = order.querySelector('button')
            if(button){
                button.disabled=true;
            }
            }
            let subtotal = document.querySelector('#cart-total');
            subtotal.innerHTML='$&nbsp;'+Math.round(res.value).toLocaleString("es-CO");
        });
        e.target.parentNode.parentNode.removeChild(e.target.parentNode);
    });


    live('select[name="quantity"]','change',(e) => {
        let qty = e.target.value;
        let vrt = e.target.parentNode.parentNode.parentNode.querySelector('a').getAttribute('variation');
        io.socket.put('/cart',{variation:vrt,quantity:qty,action:'update'},(res) => {
            let price = e.target.parentNode.parentNode.parentNode.querySelector('#item-price');
            let itemprice = price.getAttribute('price');
            price.innerHTML='$&nbsp;'+Math.round(itemprice*qty).toLocaleString("es-CO");

            if(e.target.parentNode.parentNode.parentNode.querySelector('#item-old')!==null){
                let oldPrice = e.target.parentNode.parentNode.parentNode.querySelector('#item-old');
                let itemOldprice = oldPrice.getAttribute('price');
                oldPrice.innerHTML='$&nbsp;'+Math.round(itemOldprice*qty).toLocaleString("es-CO");
            };

            let subtotal = document.querySelector('#cart-total');
            subtotal.innerHTML='$&nbsp;'+Math.round(res.value).toLocaleString("es-CO");
        });
    })
</script>