<div class="container">
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column has-text-centered">
                    <section class="hero">
                        <figure class="image is-3by1">
                            <img src="/images/categories/<%= category.logo.replace(category.logo.split('.').pop(),'webp') %>" alt="<%=category.description%>">
                        </figure>
                    </section>
                </div>
            </div>
            <% let count = 0 %>
            <% category.products.forEach((product)=>{ %>
                <%if(product.active){ %>
                <%if(count==0){%> <div class="columns"> <%}%>
                <div class="column">
                    <!-- class="card is-size-7 has-badge-rounded has-badge-danger has-badge-medium" data-badge="" -->
                    <div class="card is-size-7 has-badge-rounded has-badge-danger has-badge-medium" <%if(product.discount!==null && product.discount!==undefined){%>data-badge="<%=product.discount.value%>%"<%}%>>
                        <div class="card-image has-text-centered">
                            <figure class="image is-128x128 image-centered">
                                <a href="/list/product/<%=product.id%>"><img src="/images/products/<%=product.id%>/<%= product.cover.file.replace(product.cover.file.split('.').pop(),'webp') %>" alt="<%product.manufacturer.name%> - <%product.reference%>"></a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media-content">
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <span class="subtitle is-7 is-capitalized"><%=product.manufacturer.name%></span>
                                    </div>
                                    <div class="column is-1"><span class="color-container is-right" color="<%=product.mainColor.name%>" style="background-color: <%= product.mainColor.code %>;border:solid 1px <%= product.mainColor.code %>;"></span></div>
                                </div>
                            </div>
                            <p class="has-text-weight-bold is-uppercase"><%=product.name%></p>
                            <%if(product.discount!==null && product.discount!==undefined){%><span class="is-size-7 has-text-danger old-price">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO");%></span><%}%>
                            <%if(product.discount!==null && product.discount!==undefined){%>
                                <span class="is-size-6 has-text-dark has-text-weight-bold">$&nbsp;<%= Math.round(product.discount.price).toLocaleString("es-CO");%></span>
                            <%}else{%>
                                <span class="is-size-6 has-text-dark has-text-weight-bold">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO");%></span>
                            <%}%>
                            <div class="media-content">
                                <hr>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <div class="select is-primary is-size-7">
                                            <select class="is-uppercase s-variation">
                                                <option value="0">Seleccione</option>
                                                <% product.productvariation.forEach((v)=>{%>
                                                    <option class="is-uppercase" qty="<%=v.quantity%>" value="<%=v.id%>"><%=v.variation.name%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="buttons is-right">
                                            <button product="<%=product.id%>" disabled="disabled" class="button is-disabled is-size-7 is-right">COMPRAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%if(count==2){%> </div><%}%>
                <% count++;%>
                <%if(count==3){%><% count=0;%><%}%>
                <%} %>
            <%})%>
        </div>
        <div class="column is-2"></div>
    </div>
</div>
<script>
    live('.s-variation','change',(e) => {
        let button = e.target.parentNode.parentNode.parentNode.querySelector('button');
        let selected = e.target.options[e.target.selectedIndex]
        if(selected.getAttribute('qty')>0){
            removeClass(button,'is-disabled');
            button.disabled=false;
            addClass(button,'is-primary');
        }else{
            removeClass(button,'is-primary');
            addClass(button,'is-disabled');
            button.disabled=true;
        }
    });
</script>