<div class="container">
    <div class="columns is-centered">
        <div class="column is-2">
            <div class="box" id="filter">
                <p class="has-text-centered has-text-weight-bold is-size-7">Opciones de Filtrado</p>
                <hr>
                <p class="is-size-7 has-text-weight-bold">Marca</p>
                <div class="select is-small is-info">
                    <select name="brand" class="is-capitalized">
                        <option value="">Filtrar Marca</option>
                        <%brands.forEach(brand =>{%>
                            <option class="is-capitalized" value="<%=brand.name%>"><%=brand.name%></option>
                        <%}) %>
                    </select>
                </div>
                <a style="margin:3px 0 0 2px;" class="delete is-small is-pulled-right" id="brand-delete"></a>
                <hr>
                <p class="is-size-7 has-text-weight-bold">Colores</p>
                <% colors.forEach(color=>{%>
                    <a href="#" class="filter"><span class="color-container" color="<%=color.name%>" style="background-color: <%=color.code%>;border:solid 1px <%=color.code%>;"></span></a>
                <%});%>
                <a style="margin:3px 0 0 2px;" class="delete is-small is-pulled-right" id="color-delete"></a>
                <hr>
                <p class="is-size-7 has-text-weight-bold">Género</p>
                    <div class="select is-small is-info">
                        <select name="gender" class="is-capitalized">
                            <option value="">Filtrar Género</option>
                            <%genders.forEach(gender =>{%>
                                <option class="is-capitalized" value="<%=gender.name%>"><%=gender.name%></option>
                            <%}) %>
                        </select>
                    </div>
                <a style="margin:3px 0 0 2px;" class="delete is-small is-pulled-right" id="gender-delete"></a>
            </div>
        </div>
        <div class="column is-8">
            <%if(object.logo!== undefined && object.logo!== null && object.logo!==''){%>
            <section class="hero">
                <figure class="image is-3by1 is-inline">
                    <img src="<%=imgurl%><%=object.route%><%= object.logo %>" alt="<%=object.description%>">
                </figure>
            </section>
            <%}%>
            <%if(typeof object.children == 'object' && object.children.length>0){%>
                <div class="container">
                    <p class="has-text-centered" style="margin-top:7px;">
                    <% object.children.forEach(children=>{ %>
                        <%if(children.active){%>
                          <a href="/ver/categoria/<%=children.url%>"><span class="tag is-dark is-small is-uppercase"><%=children.name%></span></a>
                        <%}%>
                    <%});%>
                    </p>
                </div>
                <br>
            <%}%>
            <% let count = 0 %>
            <div class="container" itemscope itemtype="https://schema.org/ItemList">
            <% object.products.forEach((product)=>{ %>
                <%if(product.active){ %>
                    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/Product" class="card card-catalog is-inline-block is-size-7 has-badge-medium" <%if(product.discount!==null && product.discount!==undefined){%>data-badge="<%=product.discount.value%>%"<%}%>>
                        <span class="is-hidden" itemprop="productID"><%=product.id%></span>
                        <div class="card-image has-text-centered">
                            <figure class="image is-256x256 is-inline-block">
                                <a itemprop="url" href="/list/product/<%=product.id%>"><img itemprop="image" style="justify-content: center;" src="<%=imgurl%>/images/products/<%=product.id%>/<%= product.cover.file %>" alt="<%product.manufacturer.name%> - <%product.reference%>"></a>
                            </figure>
                            <div itemprop="description" class="is-hidden"><%-product.description%></div>
                            <div itemprop="disambiguatingDescription" class="is-hidden"><%-product.descriptionShort%></div>
                        </div>
                        <div class="card-content">
                            <div class="media-content">
                                <div class="columns is-mobile">
                                    <div class="column is-10">
                                        <span itemprop="brand" brand="<%=product.manufacturer.name%>" class="brand subtitle is-7 is-capitalized"><%=product.manufacturer.name%></span>
                                        &nbsp;-&nbsp;<span gender="<%=product.gender.name%>" class="gender subtitle is-7 is-capitalized"><%=product.gender.name%></span>
                                    </div>
                                    <div class="column is-2">
                                       <p class="has-text-right"><span class="is-hidden" itemprop="color"><%=product.mainColor.name%></span><span class="color-container" color="<%=product.mainColor.name%>" style="background-color: <%= product.mainColor.code %>;border:solid 1px <%= product.mainColor.code %>;"></span></p>
                                    </div>
                                </div>
                            </div>
                            <p itemprop="name" class="has-text-weight-bold is-uppercase"><%=product.name%></p>
                            <span class="is-hidden" itemprop="sku"><%=product.reference%></span>
                            <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="COP">
                            <%if(product.discount!==null && product.discount!==undefined){%>
                                <div itemprop="itemOffered" itemscope itemtype="https://schema.org/AggregateOffer">
                                    <span itemprop="highPrice" class="is-size-7 has-text-danger old-price">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO");%></span>
                                    <span itemprop="lowPrice" class="is-size-6 has-text-dark has-text-weight-bold">$&nbsp;<%= Math.round(product.discount.price).toLocaleString("es-CO");%></span>
                                    <span class="is-hidden" itemprop="offerCount">1</span>
                                </div>
                                <span itemprop="price" class="is-hidden">$&nbsp;<%= Math.round(product.discount.price).toLocaleString("es-CO");%></span>
                            <%}else{%>
                                <span itemprop="price" class="is-size-6 has-text-dark has-text-weight-bold">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO");%></span>
                            <%}%>
                            </div>
                            <div class="media-content">
                                <hr>
                                <div class="columns">
                                    <div class="column">
                                        <div class="select is-primary is-size-7 is-fullwidth">
                                            <select class="is-uppercase s-variation" name="variations">
                                                <option value="0">Seleccione</option>
                                                <% product.productvariation.forEach((v)=>{%>
                                                    <option class="is-uppercase" qty="<%=v.quantity%>" value="<%=v.id%>"><%=v.variation.name%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="buttons">
                                            <button id="push-to-cart" product="<%=product.id%>" disabled="disabled" class="button is-disabled is-size-7 is-right is-fullwidth">COMPRAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%} %>
            <%})%>
            </div>
        </div>
        <div class="column is-2"></div>
    </div>
</div>
<script>
    live('.s-variation','change',(e) => {
        let button = e.target.parentNode.parentNode.parentNode.querySelector('button');
        let selected = e.target.options[e.target.selectedIndex]
        if(selected.getAttribute('qty')>0){
            removeClass(button,'is-disabled');
            button.disabled=false;
            addClass(button,'is-primary');
        }else{
            removeClass(button,'is-primary');
            addClass(button,'is-disabled');
            button.disabled=true;
        }
    });
    live('.filter','click', e =>{
        let color = e.target.getAttribute('color');
        let cards = document.querySelectorAll('.card');
        for(let c of cards){
            if(c.querySelector('.color-container').getAttribute('color')!==color){
                addClass(c,'is-hidden');
            }else{
                removeClass(c,'is-hidden');
            }
        }
        let selectb = document.querySelector('select[name="brand"]');
        selectb.value='';
    });

    live('.delete','click',e=>{
        let cards = document.querySelectorAll('.card');
        for(let c of cards){
            removeClass(c,'is-hidden');
        }
        let selectb = document.querySelector('select[name="brand"]');
        selectb.value='';
        let selectg = document.querySelector('select[name="gender"]');
        selectg.value='';
    });

    live('select[name="brand"]','change',e=>{
        let brand = e.target.value;
        let cards = document.querySelectorAll('.card');
        for(let c of cards){
            if(c.querySelector('.brand').getAttribute('brand')!==brand){
                addClass(c,'is-hidden');
            }else{
                removeClass(c,'is-hidden');
            }
        }
    });

    live('select[name="gender"]','change',e=>{
        let gender = e.target.value;
        let cards = document.querySelectorAll('.card');
        for(let c of cards){
            if(c.querySelector('.gender').getAttribute('gender')!==gender){
                addClass(c,'is-hidden');
            }else{
                removeClass(c,'is-hidden');
            }
        }
    });

    live('#push-to-cart','click',(e)=>{
        let vrt = e.target.parentNode.parentNode.parentNode.querySelector('select[name="variations"]').value
        console.log(vrt);
        io.socket.put('/cart',{variation:vrt,quantity:1,action:'create'});
    })
</script>