<div class="container">
    <%if(object.products.length<1){%>
    <div class="columns is-gapless">
        <div class="column is-centered is-gapless">
            <br> <br>
            <div class="container is-fluid">
                <h4 class="title is-4">Tu búsqueda no arrojó ningún resultado.</h4>
                <p class="box">Lo sentimos, no hemos localizado ningun resultado para <span class="is-italic has-text-weight-bold"><%if(typeof object.search ==='string'){%><%= object.search %><%}else{%>esta opción<%}%></span>. Intenta nuevamente.</p>
            </div>
            <hr>
        </div>
    </div>
    <%}else{%>
    <div class="columns is-centered">
        <div class="column is-2">
            <p></p>
            <nav class="panel">
                <a><p class="panel-heading is-size-7 has-text-centered">Filtrar Productos <span class="icon is-right"><i class='bx bx-filter-alt is-size-7'></i></span></p></a>
                <div class="panel-container is-hidden-mobile">
                <p class="panel-tabs">
                  <a class="group is-size-7 is-active" group="marcas">Marca</a>
                  <a class="group is-size-7" group="colores">Color</a>
                  <a class="group is-size-7" group="genero">Género</a>
                </p>
                <div id="marcas">
                <%brands.forEach(brand =>{%>
                    <a class="panel-block is-active is-size-7"><label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" class="checkbox"><input type="checkbox" name="manufacturer" class="filter is-capitalized" value="<%=brand.name%>">&nbsp;<%=brand.name.toUpperCase()%></label></a>
                <%}) %>
                </div>
                <div id="colores" class="is-hidden">
                    <% colors.forEach(color=>{%>
                        <a class="panel-block is-size-7"><label class="checkbox is-size-7"><input type="checkbox" name="color" class="filter is-capitalized" value="<%=color.name%>">&nbsp;&nbsp;<span class="color-container" style="background-color: <%=color.code%>;border:solid 1px <%=color.code%>;"></span>&nbsp;&nbsp;<%=color.name.toUpperCase()%></label></a>
                    <%});%>
                </div>
                <div id="genero" class="is-hidden">
                    <%genders.forEach(gender =>{%>
                        <a class="panel-block is-size-7"><label class="checkbox is-size-7"><input type="checkbox" name="gender" class="filter is-capitalized" value="<%=gender.name%>">&nbsp;<%=gender.name.toUpperCase()%></label></a>
                    <%}) %>
                </div>
                <!--
                <div class="panel-block">
                  <button class="button is-info is-fullwidth is-size-7">
                    Aplicar Filtro
                  </button>
                </div>
                -->
                </div>
              </nav>
        </div>
        <div class="column is-10">
            <%if(object.logo!== undefined && object.logo!== null && object.logo!==''){%>
                <p class="has-text-centered"><img src="<%=cdnurl%><%=object.route%><%= object.logo %>" alt="<%=object.description%>"></p>
            <%}%>
            <%if(pages>1){%>
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <nav class="pagination is-small is-pulled-right" role="navigation" aria-label="pagination">
                            <%if(pages>5){%>
                            <a <%if(page>1){%>href="/<%=entity%>/<%=ename%>/<%=page-1%>"<%}%> class="pagination-previous" <%if(page<=1){%>disabled<%}%> rel="follow"><i class='bx bxs-chevron-left'></i></a>
                            <%}%>
                            <%if(pages>=10){%>
                            <a href="/<%=entity%>/<%=ename%>/" class="pagination-previous" rel="follow">Primera</a>
                            <a href="/<%=entity%>/<%=ename%>/<%=pages%>" class="pagination-previous" rel="follow">Ultima</a>
                            <%}%>
                            <%if(pages>5){%>
                            <a <%if(page<pages){%>href="/<%=entity%>/<%=ename%>/<%=page+1%>"<%}%> class="pagination-next" <%if(page>=pages){%>disabled<%}%> rel="follow"><i class='bx bxs-chevron-right'></i></a>
                            <%}%>
                            <ul class="pagination-list">
                            <%let inicio = 1; let fin = 5;%>
                            <% if(page >= 5){%>
                                <% inicio = page-2;%>
                                <% fin = page+2;%>
                            <%}%>
                            <%if(fin>pages){fin=pages;}%>
                            <%for(i=inicio;i<=fin;i++){%>
                              <li><a href="/<%=entity%>/<%=ename%>/<%=i%>" page="<%=i%>" class="pagination-link <%if(i===page){%>has-text-white has-background-grey-dark<%}%>" rel="follow"><%=i%></a></li>
                            <%}%>
                            </ul>
                        </nav>
                    </div>    
                </div>
            </div>
            <br><div class="is-hidden-desktop"><br><br><br></div>
            <%}%>
            <%- partial('../../partials/productlist.ejs') %>
            <br>
            <%if(pages>1){%>
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <nav class="pagination is-small is-pulled-right" role="navigation" aria-label="pagination">
                                <%if(pages>5){%>
                                <a <%if(page>1){%>href="/<%=entity%>/<%=ename%>/<%=page-1%>"<%}%> class="pagination-previous" <%if(page<=1){%>disabled<%}%> rel="follow"><i class='bx bxs-chevron-left'></i></a>
                                <%}%>
                                <%if(pages>=10){%>
                                <a href="/<%=entity%>/<%=ename%>/" class="pagination-previous" rel="follow">Primera</a>
                                <a href="/<%=entity%>/<%=ename%>/<%=pages%>" class="pagination-previous" rel="follow">Ultima</a>
                                <%}%>
                                <%if(pages>5){%>
                                <a <%if(page<pages){%>href="/<%=entity%>/<%=ename%>/<%=page+1%>"<%}%> class="pagination-next" <%if(page>=pages){%>disabled<%}%> rel="follow"><i class='bx bxs-chevron-right'></i></a>
                                <%}%>
                                <ul class="pagination-list">
                                <%let inicio = 1; let fin = 5;%>
                                <% if(page >= 5){%>
                                    <% inicio = page-2;%>
                                    <% fin = page+2;%>
                                <%}%>
                                <%if(fin>pages){fin=pages;}%>
                                <%for(i=inicio;i<=fin;i++){%>
                                  <li><a href="/<%=entity%>/<%=ename%>/<%=i%>" page="<%=i%>" class="pagination-link <%if(i===page){%>has-text-white has-background-grey-dark<%}%>" rel="follow"><%=i%></a></li>
                                <%}%>
                                </ul>
                            </nav>
                        </div>    
                    </div>
                </div>
                <%}%>
        </div>
    </div>
    <%}%>
</div>
<br><br>
<script>
    const cards = document.querySelectorAll('.card');
    

    live('.panel-heading','click',e=>{
        content = document.querySelector('.panel-container');
        if(!hasClass(content,'is-hidden') && !hasClass(content,'is-hidden-mobile')){
            addClass(content,'is-hidden');
            addClass(content,'is-hidden-mobile');
        }else{
            removeClass(content,'is-hidden');
            removeClass(content,'is-hidden-mobile');
        }
    });
    

    live('.group','click',e=>{
      let option = e.target.getAttribute('group');
      let groups = document.querySelectorAll('.group');
      for(let b of groups){
          if(b.getAttribute('group')===option){
              removeClass(document.getElementById(b.getAttribute('group')),'is-hidden');
              addClass(b,'is-active');
          }else{
            addClass(document.getElementById(b.getAttribute('group')),'is-hidden');
            removeClass(b,'is-active');
          }
      }
    });

    live('.filter','click',e=>{
        let brands = document.querySelectorAll('input[name="manufacturer"]:checked');
        let genders = document.querySelectorAll('input[name="gender"]:checked');
        let colors = document.querySelectorAll('input[name="color"]:checked');
        let filterlist = [];
        if(brands.length>0){for(let b of brands){filterlist.push(b.value);}}
        if(genders.length>0){for(let g of genders){filterlist.push(g.value);}}
        if(colors.length>0){for(let c of colors){filterlist.push(c.value);}}
        for(let c of cards){
            if(filterlist.length<1){
                removeClass(c,'is-hidden');
            }else{
                addClass(c,'is-hidden');
                if(brands.length>0 && genders.length>0 && colors.length>0){
                    if(filterlist.includes(c.querySelector('.brand').getAttribute('brand')) 
                    && filterlist.includes(c.querySelector('.gender').getAttribute('gender')) 
                    && filterlist.includes(c.querySelector('.color-container').getAttribute('color'))){removeClass(c,'is-hidden');}    
                }else if(brands.length<=0 && genders.length>0 && colors.length>0){
                    if(filterlist.includes(c.querySelector('.gender').getAttribute('gender')) 
                    && filterlist.includes(c.querySelector('.color-container').getAttribute('color'))){removeClass(c,'is-hidden');}
                }else if(brands.length>0 && genders.length<=0 && colors.length>0){
                    if(filterlist.includes(c.querySelector('.brand').getAttribute('brand')) 
                    && filterlist.includes(c.querySelector('.color-container').getAttribute('color'))){removeClass(c,'is-hidden');}
                }else if(brands.length>0 && genders.length>0 && colors.length<=0){
                    if(filterlist.includes(c.querySelector('.brand').getAttribute('brand')) 
                    && filterlist.includes(c.querySelector('.gender').getAttribute('gender'))){removeClass(c,'is-hidden');}
                }else if(brands.length>0 && genders.length<=0 && colors.length<=0){
                    if(filterlist.includes(c.querySelector('.brand').getAttribute('brand'))){removeClass(c,'is-hidden');}
                }else if(brands.length<=0 && genders.length>0 && colors.length<=0){
                    if(filterlist.includes(c.querySelector('.gender').getAttribute('gender'))){removeClass(c,'is-hidden');}
                }else if(brands.length<=0 && genders.length<=0 && colors.length>0){
                    if(filterlist.includes(c.querySelector('.color-container').getAttribute('color'))){removeClass(c,'is-hidden');}
                }
                
            }
        }
        if(e.target.checked){
            addClass(e.target.parentNode.parentNode,'has-background-light');           
        }else{
            removeClass(e.target.parentNode.parentNode,'has-background-light');
        }
    });

    live('.card-image > a', 'click', e => {
        e.preventDefault();
        let card = e.target.parentNode.parentNode.parentNode;
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
            'event': 'select_item',
            'ecommerce': {
                'items': [{
                    'item_name': card.querySelector('.name').innerHTML,                      // Name or ID is required.
                    'item_id': card.querySelector('.productid').innerHTML,
                    'price': card.querySelector('.bestPrice').getAttribute('data-price'),
                    'item_brand': card.querySelector('.brand').getAttribute('brand'),
                    'item_category': card.querySelector('.category').innerHTML,
                    'item_reference': card.querySelector('.sku').innerHTML,
                    'item_color': card.querySelector('.color').innerHTML,
                    'item_index': card.querySelector('.position').innerHTML,
                    'quantity': 1
                }]
            },
            'eventCallback': () => {
              document.location = card.querySelector('.card-image > a').href;
            }
        });
    });
</script>