<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/drift-zoom@1.4.0/dist/drift-basic.min.css">
<script src="https://cdn.jsdelivr.net/npm/drift-zoom@1.4.0/dist/Drift.min.js"></script>
<div class="container" itemscope itemtype="https://schema.org/Product">
    <div class="columns is-gapless">
        <div class="column is-two-fifths">
            <div class="box">
                <span class="is-hidden" itemprop="productID"><%=product.id%></span>
                <span class="is-hidden" itemprop="sku"><%=product.reference%></span>
                <div class="media">
                    <div class="media-left">
                        <%product.images.forEach((image)=>{%>
                            <figure class="image is-64x64">
                                <img itemprop="image" src="<%=imgurl%>/images/products/<%=product.id%>/<%= image.file %>" alt="<%=product.name%>">
                            </figure>
                        <%})%>
                    </div>
                    <%product.images.forEach((image)=>{%>
                        <%if(image.cover==1){%>
                            <div style="overflow-y: hidden;" class="media-content">
                                <figure class="image is-square is-relative">
                                    <img id="main" itemprop="image" src="<%=imgurl%>/images/products/<%=product.id%>/<%= image.file %>" data-zoom="<%=imgurl%>/images/products/<%=product.id%>/<%= image.file %>" alt="<%=product.name%>">
                                </figure>                        
                            </div>
                        <%}%>
                    <%})%>
                    <div style="z-index:9;" class="img-zoom"></div>
                </div>
            </div>
        </div>
        <div class="column is-two-fifths">
            <div class="container is-fluid">
                <br>
                <h2 itemprop="brand" class="is-capitalized"><%=product.manufacturer.name%></h2>
                <h4 itemprop="name" class="is-uppercase is-size-4"><%=product.name%></h4>
                <span class="is-x-small">Referencia: <%=product.reference.toUpperCase()%></span>
                <br><br>
                <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="COP">
                <table class="table is-size-6 is-fullwidth">
                    <%if(discount!==null && discount!==undefined){%>
                        <div itemprop="itemOffered" itemscope itemtype="https://schema.org/AggregateOffer">
                            <tr><td>Precio recomendado:</td><td class="has-text-right"><span itemprop="highPrice" class="is-size-7 has-text-danger old-price">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO");%></span></td></tr>
                            <tr><td>Precio:</td><td class="has-text-right" itemprop="lowPrice">$&nbsp;<%= Math.round(discount.price).toLocaleString("es-CO"); %></td></tr>
                            <% let savings = parseInt((product.price*(1+(product.tax.value/100)))-discount.price) %>
                            <tr><td>Ahorro:</td><td class="has-text-success has-text-right">$&nbsp;<%= savings.toLocaleString('es-CO'); %></td></tr>
                            <span class="is-hidden" itemprop="offerCount">1</span>
                        </div>
                    <%}else{%>
                      <tr><td>Precio:</td><td itemprop="price" class="has-text-right">$&nbsp;<%= Math.round((product.price*(1+(product.tax.value/100)))).toLocaleString("es-CO"); %></td></tr>
                    <%}%>
                </table>
                <hr>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <label class="label has-text-weight-bold is-size-7" for="variations">Talla:</label>
                        <div class="select is-primary is-small">
                        <select class="is-uppercase" name="variations">
                            <option class="is-capitalized" value="0">Seleccionar</option>
                            <% product.variations.forEach((vr)=>{%>
                                <option class="is-uppercase" qty="<%=vr.quantity%>" cm="<%=vr.variation.cm%>" col="<%=vr.variation.col%>" us="<%=vr.variation.us%>" eu="<%=vr.variation.eu%>" wide="<%=vr.variation.wide%>" value="<%=vr.id%>"><%=vr.variation.name%></option>
                            <%})%>
                        </select>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label has-text-weight-bold is-size-7" for="variations">Colores:</label>
                        <span class="color-container is-right is-inline-block" color="<%=product.mainColor.name%>" style="background-color: <%= product.mainColor.code %>;border:solid 1px; <%= product.mainColor.code %>;"></span>                        
                        <span class="is-hidden" itemprop="color"><%=product.mainColor.name%></span>
                    </div>
                </div>
                <table id="size-table" class="table is-size-7 is-hidden is-fullwidth">
                </table>
                <div itemprop="disambiguatingDescription" class="content description-short"><%-product.descriptionShort%></div>
            </div>
        </div>
        <div class="column is-one-fifth has-text-centered">
            <div class="box">
                <p id="avail" class="has-text-centered has-text-info">Para comprar elige <b>Talla</b></p>
                <div class="select is-small is-hidden">                    
                <select name="quantity">
                </select>
                </div>
                <br><br>                
                <a id="add-to-cart" product="<%=product.id%>" disabled="disabled" class="button has-text-weight-bold is-flex is-size-7-tablet is-fullwidth"><i class='bx bx-cart-alt is-dark'></i>&nbsp;Agregar al carrito</a>
            </div>
        </div>
    </div>
    <hr>
    <%if(product.description.length>50){%>
    <div class="columns is-gapless">
        <div class="column">
            <div class="container is-fluid">
                <h4 class="is-size-4 has-text-weight-bold">Descripción del Producto</h4>
                <div itemprop="description" class="content description"><%-product.description%></div>
            </div>
        </div>
    </div>
    <%}%>
</div>
<script>
    const figure = document.querySelectorAll('.media-left > figure')
    let showimage = (e) =>{
        let main = document.querySelector('#main');
        main.setAttribute('data-zoom',e.target.src);
        main.src=e.target.src;
    }
    for(let f of figure){
        f.addEventListener("mouseover",showimage);
        f.addEventListener("click",showimage);
    }

    
    let drift = new Drift(document.querySelector('#main'),{
        inlineContainer: document.querySelector('.img-zoom'),
        inlinePane: 320,
    });

    live('select[name="variations"]','change',(e)=>{
        let stock = e.target.options[e.target.selectedIndex].getAttribute('qty');
        let quantity = document.querySelector('select[name="quantity"]');
        let label = document.querySelector('#avail');
        let add = document.querySelector('#add-to-cart');
        let sizet = document.querySelector('#size-table');
        quantity.innerHTML='';
        if(e.target.options[e.target.selectedIndex].value!=='0'){
            let col =e.target.options[e.target.selectedIndex].getAttribute('col');
            let cm=e.target.options[e.target.selectedIndex].getAttribute('cm');
            let us=e.target.options[e.target.selectedIndex].getAttribute('us');
            let eu=e.target.options[e.target.selectedIndex].getAttribute('eu');
            let wide=e.target.options[e.target.selectedIndex].getAttribute('wide');
            let tcontent = '<tr>'
                    if(cm!=='' && cm!=='0'){ tcontent+= '<td><strong>Largo CM</strong></td>'; }
                    if(col!==''){ tcontent+= '<td><strong>Talla COL</strong></td>'; }
                    if(us!==''){ tcontent+= '<td><strong>Talla US</strong></td>'; }
                    if(eu!==''){ tcontent+= '<td><strong>Talla EU</strong></td>'; }
                    if(wide!=='' && wide!=='0'){ tcontent+= '<td><strong>Ancho CM</strong></td>'; }
            tcontent+= '</tr><tr>';
                    if(cm!==''&& cm!=='0'){ tcontent+= '<td><p class="has-text-centered is-uppercase">'+cm+'</p></td>'; }
                    if(col!==''){ tcontent+= '<td><p class="has-text-centered is-uppercase">'+col+'</p></td>'; }
                    if(us!==''){ tcontent+= '<td><p class="has-text-centered is-uppercase">'+us+'</p></td>'; }
                    if(eu!==''){ tcontent+= '<td><p class="has-text-centered is-uppercase">'+eu+'</p></td>'; }
                    if(wide!=='' && wide!=='0'){ tcontent+= '<td><p class="has-text-centered is-uppercase">'+wide+'</p></td>'; }
            tcontent+='</tr>';
            
            sizet.innerHTML=tcontent;
            removeClass(sizet,'is-hidden');
            if(stock>=1){
                label.innerHTML='Disponible.'
                removeClass(label, 'has-text-danger');
                removeClass(quantity.parentNode, 'is-hidden');
                addClass(label, 'has-text-success');
                addClass(add,'is-warning');
                for(let i=1;i<=stock;i++){
                    let op = document.createElement('option');
                    op.value=i;
                    op.innerHTML='Cantidad:&nbsp;'+i;
                    quantity.append(op);
                }
                if(stock==1){
                    label.innerHTML='Solo queda 1 disponible'
                    removeClass(label, 'has-text-success');
                    addClass(label, 'has-text-danger');
                }
                add.removeAttribute("disabled");
            } else {
                label.innerHTML='No hay unidades Disponibles'
                removeClass(label, 'has-text-success');
                addClass(label, 'has-text-danger');
                addClass(quantity.parentNode,'is-hidden');
                removeClass(add,'is-warning');
                add.setAttribute('disabled','disabled');
            }
        }else{
            label.innerHTML='Para comprar elige <b>Talla</b>';
            removeClass(label, 'has-text-success');
            removeClass(label, 'has-text-danger');
            addClass(quantity.parentNode,'is-hidden');
            addClass(sizet,'is-hidden');
            sizet.innerHTML='';
            removeClass(add,'is-warning');
            add.setAttribute('disabled','disabled');
        }
    })

    live('#add-to-cart','click',(e)=>{
        e.preventDefault();
        if(e.target.getAttribute('disabled')!=='disabled'){
            let qty = document.querySelector('select[name="quantity"]').value
            let vrt = document.querySelector('select[name="variations"]').value
            io.socket.put('/cart',{variation:vrt,quantity:qty,action:'create'},(resData)=>{
                window.location.href='/cart';
            });
        }
    })

</script>
<br><br>