<% if (req.query.error !== undefined || error !== null) { %>
    <div class="notification is-danger is-light" style="width: 80%; margin: 0 auto;" id="error">
      <button id="close" class="delete"></button>
        <%= req.query.error || error %>
    </div>
  <% } %>
<% if (notify !== null) { %>
    <div class="notification is-success is-light" style="width: 80%; margin: 0 auto;">
      <button id="close" class="delete"></button>
        <%= notify %>
    </div>
  <% } %>
<div class="container">
<div class="box">
    <div class="columns">
        <div class="column">
            <h4 class="title is-4">Creación de Cuenta Empresarial</h4>
        </div>
        <div class="column">
            <a class="link is-pulled-right" href="/register<%if(referer!=='/' && typeof referer==='string'){%>?referer=<%=referer%><%}%>">Crear una cuenta personal</a>
        </div>
    </div>
    <hr>
    <form id="register-form-seller" method="POST" action="/registerseller">
        <input type="hidden" name="token" />
        <input type="hidden" name="facebook" value="<%=req.query.facebook%>" />
        <input type="hidden" value="<%=referer%>" name="referer" />
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" name="dni" type="number" required placeholder="NIT" value="<%=req.query.nit%>" />
                        <span class="icon is-small is-left">
                            <i class='bx bx-id-card '></i>
                        </span>
                    </p>
                    </div>
            </div>
            <div class="column">
                <div class="field has-addons">
                    <p class="control has-icons-left is-expanded">
                        <input class="input" required name="fullname" type="text" placeholder="Razón Social">
                        <span class="icon is-small is-left">
                            <i class='bx bx-rename' ></i>
                        </span>
                    </p>
                  </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left">
                    <input class="input" name="email" type="email" required placeholder="Email" value="<%=req.query.mail%>" />
                    <span class="icon is-small is-left">
                        <i class="bx bxs-envelope"></i>
                    </span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons">
                    <p class="control">
                      <span class="select">
                        <select required name="country">
                            
                          <% countries.forEach((country) =>{ %>
                            <% if(country.active){ %>
                            <option class="is-uppercase" value="<%=country.id%>">+<%=country.prefix%></option>
                            <%}%>
                          <% });%>
                        </select>
                      </span>
                    </p>
                    <p class="control has-icons-left is-expanded">
                        <input class="input" required name="mobile" type="number" placeholder="Número Móvil">
                        <span class="icon is-small is-left">
                            <i class='bx bx-mobile'></i>
                        </span>
                    </p>
                  </div>                  
            </div>
        </div>

    <div class="field">
        <p class="control has-text-align-right">
        <button type="submit" id="submit-register-seller" class="button is-info">
            Crear una Cuenta
        </button>
        </p>
    </div>
    </form>
</div>
<p class="has-text-centered is-x-small is-grey-light">Al registrarme manifiesto estar de acuerdo con los <a href="/contenido/terminos-y-condiciones" target="_blank">términos y condiciones</a> y <a href="/contenido/politica-de-datos" target="_blank">política de privacidad</a> de datos.</p>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=<% if(req.hostname=='1ecommerce.app'){%>6Leo7ccZAAAAAEHubAmCnbprfGK-aYZR9eaVaXy-}else{%>6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1<%}%>"></script>
<script>
    live('#eye','click',e =>{
        let pass = document.querySelector('.pass');
        if(pass.type==='password'){
            pass.type='text';
            addClass(document.querySelector('#ojo > .button'),'is-danger');
        }else{
            pass.type='password';
            removeClass(document.querySelector('#ojo > .button'),'is-danger');
        }
    })

    live('#close','click', e => {
        document.querySelector("#close").parentNode.remove();
        return false;

    }); 

   live('#submit-register-seller','click', e => {
        e.preventDefault();
        if(validateForm(document.querySelector('#register-form-seller'))){
            let rform = document.querySelector('#register-form-seller');
            rform.submit();
        }
    });
</script>