<% if (error !== undefined && error !== null) { %>
    <div class="notification is-danger is-light" id="error">
      <button class="delete"></button>
        <%= error %>
    </div>
<% } %>
<div class="container">
    <div class="box">
        <form id="verify-form" method="POST" action="/verify">
            <input type="hidden" name="method" <%if(typeof method ==='string' && method==='mobile'){%>value="mobile"<%}else{%>value="email"<%}%>/>
            <input type="hidden" name="vemail" <%if(typeof method ==='string' && method==='mobile'){%>value="<%=user.emailAddress%>"<%}else{%>value="<%=session.user.emailAddress%>"<%}%>/>
            <input type="hidden" name="referer" <%if(typeof referer ==='string'){%>value="<%=referer%>"<%}else{%>value="/"<%}%>/>
            <div class="field">
                <h4 class="title is-size-4">Verifica tu cuenta</h4>
                <%if(typeof method ==='string' && method==='mobile'){%>
                    <h2 class="subtitle is-size-6">Ingresa el Código que enviamos vía <strong>mensaje de texto SMS</strong> a tu número *******<%=user.mobile.substring(user.mobile.length-4)%> para validar tu cuenta</h2>
                <%}else{%>
                    <h2 class="subtitle is-size-6">Ingresa el Código que enviamos a tu <strong>Email <%=session.user.emailAddress.substring(0,3)%>*****@******<%=session.user.emailAddress.substring(session.user.emailAddress.length-4)%></strong> para validar tu cuenta.</h2>
                <%}%>
                <hr>
            </div>
            <div class="field">
                <ul class="is-flex is-centered">
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code1" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code2" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code3" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code4" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code5" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                    <li style="padding:3px;"><input class="code input is-info has-text-centered" name="code6" type="number" maxlength="1" required placeholder="0" autocomplete="no-fill"></li>
                </ul>                        
            </div>
            <br>
            <div class="field">
                <div class="control has-text-centered">
                <button id="submit-verify" class="button is-success">
                    <%if(typeof method==='string' && method==='mobile'){%>
                        Validar Cuenta
                    <%}else{%>
                        Verificar Email
                    <%}%>
                </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1"></script>
<script>
    live('#submit-verify','click',e => {
        e.preventDefault();
        let vform = document.querySelector('#verify-form');
        if(validateForm(vform)){
            vform.submit();
        }
        //io.socket.put('/register',{email:mail,verification:code});
    });


    let next = (e) =>{
        let actual = e.target;
        let num, next;
        if(e.keyCode===8){
            num = parseInt(actual.name.substring(4))-1;
        }else{
            num = parseInt(actual.name.substring(4))+1;
        }
        if(num>=1 && num <=6 && (/^[0-9]$/i.test(e.key) || e.keyCode===8)){
          next = document.querySelector('input[name="code'+num+'"]');
          next.value='';
          next.focus();
        }
    }

    const codes = document.querySelectorAll('.code');
    for(let cod of codes){
        cod.addEventListener('keyup',next);
    }


</script>