<div style="margin-bottom: 25px; text-align: center;">
  <div style="font-family: 'lato', sans-serif;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding-left: 5px;
padding-right: 5px;">
        <p style="margin-bottom: 25px;">Gracias por comprar en iridio</p>
    <p style="margin-bottom: 25px;">Encuentra a continuación los detalles de tu pedido</p>
    <ul class="responsive-table">
    <%if(order[0].paymentMethod=='CC'){%>
      <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #FAFAFA;font-size: 10px;font-weight:bold;text-transform: uppercase;letter-spacing: 0.03em;">
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Medio de pago</div>
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Referencia de pago</div>
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Total</div>
      </li>
      <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);font-size: 12px;">
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Tarjeta de Crédito</div>
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;"><%=payment.data['ref_payco']%></div>
        <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">$&nbsp;<%=Math.round(payment.data['valor']).toLocaleString('es-CO')%></div>
      </li>
  <%}%>
  <%if(order[0].paymentMethod=='PSE'){%>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #FAFAFA;font-size: 10px;font-weight:bold;text-transform: uppercase;letter-spacing: 0.03em;">
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Medio de pago</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Referencia de pago</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Total</div>
    </li>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);font-size: 12px;">
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">PSE</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;"><%=payment.data['ref_payco']%></div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">$&nbsp;<%=Math.round(payment.data['valor']).toLocaleString('es-CO')%></div>
    </li>
  <%}%>
  <%if(order[0].paymentMethod=='CS'){%>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #FAFAFA;font-size: 10px;font-weight:bold;text-transform: uppercase;letter-spacing: 0.03em;">
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Medio de pago</div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Referencia de pago</div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">PIN</div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Total</div>
    </li>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);font-size: 12px;">
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;"><%=payment.data.banco%></div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;"><span style="color:#990033; font-weight: bold; margin-left: 10px; margin-right:10px; font-size:15px;"><%=payment.data.codigoproyecto%></span></div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;"><span style="color:#990033; font-weight: bold; margin-left: 10px; margin-right:10px; font-size:15px;"><%=payment.data.pin%></span></div>
      <div style="min-width:25%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">$&nbsp;<%=Math.round(payment.data['valor']).toLocaleString('es-CO')%></div>
    </li>
  <%}%>
  <%if(order[0].paymentMethod=='COD'){%>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #FAFAFA;font-size: 10px;font-weight:bold;text-transform: uppercase;letter-spacing: 0.03em;">
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Medio de pago</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Referencia de pago</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Total</div>
    </li>
    <li style="border-radius: 3px;padding: 15px 10px;display: flex;justify-content: space-between;margin-bottom: 5px;background-color: #ffffff;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);font-size: 12px;">
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">Contra entrega</div>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">
        <%if(order[0].paymentOption=='terminal'){%>
          Dat&aacute;fono
        <%}else{%>
          Efectivo
        <%}%>
      </div>
      <% let total = 0;%>
      <% order.forEach(o=>{ %>
        <%total+=o.totalOrder%>
      <%})%>
      <div style="min-width:33%; flex-basis: 100%;display: flex;padding: 5px 0;flex-basis: 25%;">$&nbsp;<%=Math.round(total).toLocaleString('es-CO')%></div>
    </li>
  <%}%>
  </ul>
  <%if(order[0].paymentMethod=='CS'){%>
    <br>
    <p style="text-align:justify;font-size:12px;">Recuerda acercarte al punto <strong><%=payment.data.banco%></strong> m&aacute;s cercano para realizar tu pago. Una vez verifiquemos el pago, procederemos con el despacho. Reservaremos tus productos por un m&aacute;ximo 2 d&iacute;s mientras realizas el pago.</p>
  <%}%>
    <br>
     <% order.forEach(o=>{ %>
        <p style="font-size:12px;">Pedido:&nbsp;#&nbsp;<strong><%=o.reference%></strong>&nbsp;-&nbsp;Vendedor:&nbsp;</strong><%=o.seller.name%></p>
      <% }); %>
        <br>
      <p>
        <a style="float:left;
        font-size:12px;
        background-color: transparent;
        border: solid #47A0DD 1px;
        border-radius:3px;
        color: #47A0DD;
        text-decoration:none;
        padding: 10px 15px 10px 15px;" onmouseover="this.style.backgroundColor='#47A0DD'; this.style.color='#FFF'" onmouseout="this.style.backgroundColor='transparent';this.style.color='#47A0DD'" href="https://iridio.co/" target="_blank">Visitar Sitio</a>
        <a style="float:right;
        font-size:12px;
        background-color: transparent;
        border: solid #47A0DD 1px;
        border-radius:3px;
        color: #47A0DD;
        text-decoration:none;
        padding: 10px 15px 10px 15px;" onmouseover="this.style.backgroundColor='#47A0DD'; this.style.color='#FFF'" onmouseout="this.style.backgroundColor='transparent';this.style.color='#47A0DD'" href="https://iridio.co/account/orders" target="_blank">Ver Detalles</a>
      </p>
      <br>
  </div>
</div>