<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
      <%= error %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit'){ %> 
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script> 
    <div class="columns">
      <div class="column">
        <div class="container">
          <br />
          <h4 class="title is-4">Crear Canal</h4>
          <hr>
          <% if(action=='create') { %>
            <form action="/channel/create" method="POST" enctype="multipart/form-data">
          <% } %>
          <% if(action=='edit') { %>
            <form action="/channel/edit/<%= channel.id %>" method="POST" enctype="multipart/form-data">
          <% } %>
            <div class="box">
              <div class="field">
                <label class="label is-size-7">Nombre</label>
                <div class="control">
                  <input class="input is-capitalized is-size-7" type="text" name="name" required="true" placeholder="Nombre del Canal" <% if(action=='edit'){ %>value="<%= channel.name %>"<% }%>/>
                </div>
              </div>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="type" id="marketplace" value="marketplace" <% if(action=='edit' && channel.type == 'marketplace'){%>checked<%}%>>
                  Marketplace
                </label>
                <label class="radio">
                  <input type="radio" name="type" id="cms" value="cms" <% if(action=='edit' && channel.type == 'cms'){%>checked<%}%>>
                  CMS
                </label>
                <label class="radio">
                  <input type="radio" name="type" id="messenger" value="messenger" <% if(action=='edit' && channel.type == 'messenger'){%>checked<%}%>>
                  Mensajería
                </label>
              </div>
              <br>
              <div <% if(action=='edit' && channel.type == 'marketplace'){%>class="field"<%}else{%> class="field is-hidden"<%}%> id="fieldUrl">
                <label class="label is-size-7">URL endpoint</label>
                <div class="control">
                  <input class="input is-size-7" type="text" name="endpoint" placeholder="URL endpoint" <% if(action=='edit'){ %>value="<%= channel.endpoint %>"<% }%>/>
                </div>
              </div>
              <div <% if(action=='edit' && channel.type == 'marketplace'){%>class="field"<%}else{%> class="field is-hidden"<%}%> id="fieldMoney">
                <label class="label is-size-7">Moneda</label>
                <div class="control">
                  <div class="select is-fullwidth is-size-7">
                    <select required class="select is-capitalized" name="currency">
                      <option value="0">Elegir Moneda</option>
                      <% currencies.forEach((currency) =>{ %>
                        <option class="is-capitalized" <%=(action=='edit' && channel.currency == currency.id) ? 'selected="selected"' : '' %> value="<%=currency.id%>"><%=currency.name%></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div <% if(action=='edit' && channel.type == 'messenger'){%>class="columns"<%}else{%> class="columns is-hidden"<%}%> id="fieldcolor">
                <div class="column">
                  <div class="field">
                    <label class="label">Código</label>
                    <div class="control">
                    <input class="input" type="text" name="code" id="code" <%if(action=='edit' && channel.type=='messenger'){%>required="true"<%}%> maxlength="7" placeholder="Codigo del Color" <% if(action=='edit'){ %>value="<%= channel.colorcode %>"<% }else{%>value="#FFFFFF"<%}%>/>
                    </div>                        
                  </div>
                  <div class="notification is-info">
                    Usa la rueda para obtener el código de color correspondiente
                  </div>
                </div>
                <div class="column has-text-centered is-4">
                  <div id="picker"></div>
                </div>
              </div>
              <div class="field">
                <label class="label is-size-7">Logo</label>
                <div id="file-loader" class="file is-size-7 has-name is-fullwidth">
                  <label class="file-label">
                    <input class="file-input" accept="image/*" type="file" id="logo" name="logo" />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="bx bx-upload"></i>
                      </span>
                      <span class="file-label">
                        Logotipo
                      </span>
                    </span>
                    <span class="file-name">
                      No ha cargado ningún archivo.
                    </span>
                  </label>
                </div>
              </div>
              <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                  <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Canal</button>
                <% }else if (action=='create'){ %>
                  <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Canal</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column"></div>
    </div>
    <script>
      const fileInput = document.querySelector('#file-loader input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-loader .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      };
      live('input[name="type"]','change', e =>{
        let id =  e.target.id;
        id === 'marketplace' ? removeClass(fieldUrl, 'is-hidden') : addClass(fieldUrl, 'is-hidden');
        id === 'marketplace' ? removeClass(fieldMoney, 'is-hidden') : addClass(fieldMoney, 'is-hidden');
        id === 'messenger' ? removeClass(fieldcolor, 'is-hidden') : addClass(fieldcolor, 'is-hidden')
      });

      var colorPicker = new iro.ColorPicker('#picker',{width:150, color:'#FFFFFF',layoutDirection:'vertical'});
      const code = document.querySelector('#code');
      colorPicker.on('color:change', function(color) {
        code.value=color.hexString;
        code.style.backgroundColor= code.value;
      });

      code.onkeyup = function(){
        this.style.backgroundColor= this.value;
        colorPicker.color.hexString = this.value;
      };

      document.addEventListener('DOMContentLoaded', function(){
        code.style.backgroundColor= code.value;
        colorPicker.color.hexString = code.value;
      });
    </script>
  <% } else { %>
    <p style="text-align: right;font-size: 20px; margin-right: 5px;">
      <a href="/channels/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
    </p>
    <div class="table-container">
      <table class="table is-hoverable" id="countries-table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de canal</th>
            <th scope="col">URL</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% channels.forEach(function(channel){ %>
            <tr>
              <td class="align-middle is-capitalized"><%= channel.name %></td>
              <td class="align-middle is-capitalized"><%= channel.type %></td>
              <td class="align-middle"><%= channel.endpoint %></td>
              <td class="align-middle">
                <a href="/channels/edit/<%= channel.id %>" class="button is-small">
                  <span class="icon">
                    <i class="bx bxs-edit"></i>
                  </span>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        let table = new simpleDatatables.DataTable('#countries-table',{
        searchable:true,
        sortable:true,
        paging:true,
        labels: {
          placeholder: "Buscar...",
          perPage: "{select} registros por página",
          noRows: "No se encontraron datos",
          info: "Mostrando {start} a {end} de {rows} registros",
        }
        });  
      });
    </script>
  <% } %>
  <script>
    setTimeout(function() {
      var el = document.getElementById('error');
      if(el){
        el.style.display='none';
      }
    }, 4000);
  </script>
</div>