<div class="container">
  <% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
      <%= error %>
    </div>
  <% } %>
  <% if(action=='create' || action=='edit'){ %> 
    <div class="columns">
      <div class="column">
        <div class="container">
          <br />
          <h4 class="title is-4">Crear Canal</h4>
          <hr>
          <% if(action=='create') { %>
            <form action="/channel/create" method="POST" enctype="multipart/form-data">
          <% } %>
          <% if(action=='edit') { %>
            <form action="/channel/edit/<%= channel.id %>" method="POST" enctype="multipart/form-data">
          <% } %>
            <div class="box">
              <div class="field">
                <label class="label is-size-7">Nombre</label>
                <div class="control">
                  <input class="input is-capitalized is-size-7" type="text" name="name" required="true" placeholder="Nombre del Canal" <% if(action=='edit'){ %>value="<%= channel.name %>"<% }%>/>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label class="label is-size-7">Es Marketplace</label>
                  <input id="ismarketplace" id="ismarketplace" type="checkbox" name="ismarketplace" class="switch is-success" <% if(action=='edit' && channel.ismarketplace){%>checked<%}%>>
                  <label for="ismarketplace"></label>
                </div>
              </div>
              <div <% if(action=='edit' && channel.ismarketplace){%>class="field"<%}else{%> class="field is-hidden"<%}%> id="fieldUrl">
                <label class="label is-size-7">URL endpoint</label>
                <div class="control">
                  <input class="input is-size-7" type="text" name="endpoint" placeholder="URL endpoint" <% if(action=='edit'){ %>value="<%= channel.endpoint %>"<% }%>/>
                </div>
              </div>
              <div <% if(action=='edit' && channel.ismarketplace){%>class="field"<%}else{%> class="field is-hidden"<%}%> id="fieldMoney">
                <label class="label is-size-7">Moneda</label>
                <div class="control">
                  <div class="select is-fullwidth is-size-7">
                    <select required class="select is-capitalized" name="currency">
                      <option value="0">Elegir Moneda</option>
                      <% currencies.forEach((currency) =>{ %>
                        <option class="is-capitalized" <%=(action=='edit' && channel.currency == currency.id) ? 'selected="selected"' : '' %> value="<%=currency.id%>"><%=currency.name%></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div id="file-loader" class="file is-size-7 has-name is-fullwidth">
                  <label class="file-label">
                    <input class="file-input" accept="image/*" type="file" id="logo" name="logo" />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="bx bx-upload"></i>
                      </span>
                      <span class="file-label">
                        Logotipo
                      </span>
                    </span>
                    <span class="file-name">
                      No ha cargado ningún archivo.
                    </span>
                  </label>
                </div>
              </div>
              <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                  <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Canal</button>
                <% }else if (action=='create'){ %>
                  <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Canal</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column"></div>
    </div>
    <script>
      const fileInput = document.querySelector('#file-loader input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-loader .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      };
      live('#ismarketplace','click',e=>{
        let fieldUrl = document.querySelector('#fieldUrl');
        let fieldMoney = document.querySelector('#fieldMoney');
        let value =  e.target.checked;
        value ? removeClass(fieldUrl, 'is-hidden') : addClass(fieldUrl, 'is-hidden');
        value ? removeClass(fieldMoney, 'is-hidden') : addClass(fieldMoney, 'is-hidden');
      });
    </script>
  <% } else { %>
    <p style="text-align: right;font-size: 20px; margin-right: 5px;">
      <a href="/channels/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
    </p>
    <div class="table-container">
      <table class="table is-hoverable" id="countries-table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">URL</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% channels.forEach(function(channel){ %>
            <tr>
              <td class="align-middle">
                <img async src="<%=imgurl%>/images/channels/<%= channel.logo %>" name="logo" alt="<%= channel.name %>" width="150px" />
              </td>
              <td class="align-middle is-capitalized"><%= channel.name %></td>
              <td class="align-middle"><%= channel.endpoint %></td>
              <td class="align-middle">
                <a href="/channels/edit/<%= channel.id %>" class="button is-small">
                  <span class="icon">
                    <i class="bx bxs-edit"></i>
                  </span>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        let table = new simpleDatatables.DataTable('#countries-table',{
        searchable:true,
        sortable:true,
        paging:true,
        labels: {
          placeholder: "Buscar...",
          perPage: "{select} registros por página",
          noRows: "No se encontraron datos",
          info: "Mostrando {start} a {end} de {rows} registros",
        }
        });  
      });
    </script>
  <% } %>
  <script>
    setTimeout(function() {
      var el = document.getElementById('error');
      if(el){
        el.style.display='none';
      }
    }, 4000);
  </script>
</div>