<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<% if(typeof helper!='undefined' && helper !=null){%>
  <%- partial('../partials/help.ejs') %>
<% } %>
<div class="tabs is-boxed">
  <ul class="size-ul-menu">
    <li class="tab is-active" onclick="openTab(event,'Sales')">
      <a>
        <span class="icon is-small"><i class="bx bxs-shopping-bag" aria-hidden="true"></i></span>
        <span>Ventas</span>
      </a>
    </li>
    <%if(session.user.rights.name !== 'superadmin' && session.user.rights.name !== 'admin'){%>
      <li class="tab" onclick="openTab(event,'Top10')">
        <a>
          <span class="icon is-small"><i class="bx bx-award" aria-hidden="true"></i></span>
          <span>Top 10 Productos</span>
        </a>
      </li>
      <li class="tab" onclick="openTab(event,'Publish')">
        <a>
          <span class="icon is-small"><i class='bx bx-store'></i></span>
          <span>Publicaciones</span>
        </a>
      </li>
      <li class="tab" onclick="openTab(event,'Inventory')">
        <a>
          <span class="icon is-small"><i class="bx bxs-purchase-tag" aria-hidden="true"></i></span>
          <span>Inventario</span>
        </a>
      </li>
    <%}%>
    <li class="tab" onclick="openTab(event,'Logistics')">
      <a>
        <span class="icon is-small"><i class="bx bxs-package" aria-hidden="true"></i></span>
        <span>Logística</span>
      </a>
    </li>
    <div class="is-right input-datepiker size-datepicker">
      <input class="input" type="date" name="range"/>
    </div>
  </ul>
</div>
<div class="loading">
</div>
<div class="container" id="containerDashboard">
  <div id="Sales" class="content-tab" >
    <section class="section-dashboard">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Ventas totales
                  </h3>
                    <h1 class="title" id="totalSales"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class='bx bxs-badge-dollar bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Total Productos Vendidos
                  </h3>
                    <h1 class="title" id="totalProducts"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-shopping-bags bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Total Órdenes
                  </h3>
                    <h1 class="title" id="totalOrders"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-success is-large"><i class='bx bx-cart-alt bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="bx bx-line-chart"></i></span>
            Evolución ventas diarias de la semana
          </p>
          <a href="#" class="card-header-icon">
            <span class="icon"><i class="bx bx-line-chart"></i></span>
          </a>
        </header>
        <div class="card-content">
          <div class="chart-area">
            <div style="height: 100%;">
              <canvas id="big-line-chart" width="2992" height="1000" class="chartjs-render-monitor" style="display: block; height: 400px; width: 1197px;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="columns container-chart">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bx-pie-chart-alt"></i></span>
                Distribución de ventas en unidades por canales
              </p>
              <a href="#" class="card-header-icon">
                <span class="icon"><i class="bx bx-line-chart"></i></span>
              </a>
            </header>
            <div class="card-content">
              <div class="chart-area">
                <canvas id="pie-chart-und" class="chartjs-render-monitor" style="display: block; height: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bx-pie-chart-alt"></i></span>
                Ciudades a las que más estoy vendiendo
              </p>
              <a href="#" class="card-header-icon">
                <span class="icon"><i class="bx bx-line-chart"></i></span>
              </a>
            </header>
            <div class="card-content">
              <div class="chart-area">
                <canvas id="pie-chart-country" class="chartjs-render-monitor" style="display: block; height: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%if(session.user.rights.name !== 'superadmin' && session.user.rights.name !== 'admin'){%>
    <div id="Top10" class="content-tab" style="display:none">
      <section class="section-dashboard">
        <div class="columns container-chart">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                  Top 10 Productos más vendidos (Precio)
                  <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm' option="topProductsPrice"></i></span>
                </p>
              </header>
              <div class="card-content">
                <div class='list'>
                  <ul id="topProductsPrice">
                  </ul> 
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                  Top 10 Productos más vendidos (Unidades)
                  <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm' option="topProductsCant"></i></span>
                </p>
              </header>
              <div class="card-content">
                <div class='list'>
                  <ul id="topProductsCant">
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="Inventory" class="content-tab" style="display:none">
      <section class="section-dashboard">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="card tile is-child radius-card">
              <div class="card-content">
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                      Unidades en Inventario
                    </h3>
                      <h1 class="title" id="totalInventory"></h1>
                    </div>
                  </div>
                  <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-basket bx-md'></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="card tile is-child radius-card">
              <div class="card-content">
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="is-widget-label">
                      <h3 class="subtitle is-spaced">
                        Total Referencias
                      </h3>
                      <h1 class="title" id="totalProductsReference"></h1>
                    </div>
                  </div>
                  <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-warning is-large"><i class='bx bxs-purchase-tag-alt bx-md'></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer boder-foot">
                <p class="card-footer-item boder-foot">
                  <span class="tag is-primary">Activas</span>
                  <a class="tag" id="totalProductsActive"></a>
                </p>
                <p class="card-footer-item boder-foot">
                  <span class="tag is-danger">Inactivas</span>
                  <a class="tag" id="totalProductsInactive"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns container-chart">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                  Productos con menos de 5 Unidades
                  <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm' option="productsUnd"></i></span>
                </p>
              </header>
              <div class="card-content container-scroll">
                <div class='list'>
                  <ul id="productsUnd">
                  </ul> 
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                  Productos sin Inventario
                  <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm' option="productsInventory"></i></span>
                </p>
              </header>
              <div class="card-content container-scroll">
                <div class='list'>
                  <ul id="productsInventory">
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns container-chart">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                  Productos menos Vendidos
                  <span class="icon download-right"><i class='bx bxs-cloud-download bx-sm' option="lessProducts"></i></span>
                </p>
              </header>
              <div class="card-content container-scroll">
                <div class='list'>
                  <ul id="lessProducts">
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="Publish" class="content-tab" style="display:none">
      <section class="section-dashboard">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="card tile is-child radius-card">
              <div class="card-content">
                <div class="level is-mobile">
                  <div class="level-item card-logistic">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                      Productos Publicados
                    </h3>
                      <h1 class="title" id="totalProductsPublish"></h1>
                    </div>
                  </div>
                  <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class='bx bxs-t-shirt bx-md'></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="card tile is-child radius-card">
              <div class="card-content">
                <div class="level is-mobile">
                  <div class="level-item card-logistic">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                      Canales Conectados
                    </h3>
                      <h1 class="title" id="channelsConnect"></h1>
                    </div>
                  </div>
                  <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-store bx-md'></i></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="card tile is-child radius-card">
              <div class="card-content">
                <div class="level is-mobile">
                  <div class="level-item card-logistic">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                      Productos con Descuento
                    </h3>
                      <h1 class="title" id="productsDiscount"></h1>
                    </div>
                  </div>
                  <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-success is-large"><i class='bx bxs-discount bx-md'></i></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  <%}%>
  <div id="Logistics" class="content-tab" style="display:none">
    <section class="section-dashboard">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Costo total de envíos
                  </h3>
                    <h1 class="title" id="totalShippingCost"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class='bx bxs-badge-dollar bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio gestión Bodega
                  </h3>
                    <h1 class="title" id="averageHoursCellar"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-package bx-md'></i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio de entrega al Cliente
                  </h3>
                    <h1 class="title" id="averageHoursClient"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-warning is-large"><i class='bx bx-time-five bx-md'></i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio total de logística
                  </h3>
                    <h1 class="title" id="averageHoursLogist"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class='bx bxs-watch bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Devoluciones de pedidos
                  </h3>
                    <h1 class="title" id="totalOrdersReturned"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-left-arrow-circle bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Cancelaciones del vendedor
                  </h3>
                    <h1 class="title" id="totalOrdersCancel"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class='bx bxs-x-circle bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Peso total de mercancía entregada
                  </h3>
                    <h1 class="title">0</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-success is-large"><i class='bx bx-cart-alt bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  let imgurl = <%- JSON.stringify(imgurl) %>;
  let user = <%- JSON.stringify(session.user) %>;
  let start = moment().startOf('month');
  let end = moment().endOf('month');
  let ctx1 = document.getElementById('pie-chart-und');
  let ctx2 = document.getElementById('pie-chart-country');
  let ctx = document.getElementById('big-line-chart');
  let chartColors = {
    default: {
      primary: '#00D1B2',
      info: '#209CEE',
      danger: '#FF3860'
    }
  };
  let myChartUnd = new Chart(ctx1, {
    type: 'pie',
    data: {
      datasets: [
        {
          backgroundColor: [
            '#00D1B2',
            '#209CEE',
            '#FF3860',
            '#8000FF',
            '#FFDD57',
            '#48C774',
            '#FF9D00',
            '#825500',
            '#9C55B5',
            '#FF00F7'
          ],
          data: []
        },
      ],
      labels: []
    },
    options: {
    }
  });
  let myChartPrice = new Chart(ctx2, {
      type: 'pie',
      data: {
        datasets: [
          {
            backgroundColor: [
              '#00D1B2',
              '#209CEE',
              '#FF3860',
              '#8000FF',
              '#FFDD57',
              '#48C774',
              '#FF9D00',
              '#825500',
              '#9C55B5',
              '#FF00F7'
            ],
            data: []
          },
        ],
        labels: []
      },
      options: {
      }
    });
  let myChartLine = new Chart(ctx, {
    type: 'bar',
    plugins:[{
      afterDraw: chart => {
        let ctx = chart.chart.ctx;
        ctx.save();
        ctx.font = "bold 14px Arial";
        ctx.fillStyle = "gray";
        let y = 190;
        
        ctx.textAlign = 'left';        
        ctx.fillText('#', 5, y);
        
        ctx.textAlign = 'right';
        ctx.fillText('$', chart.chart.width - 10, y);
        ctx.restore();
      }
    }],
    data: {
      labels: [],
      datasets: [{
        type: 'line',
        label: 'Cantidad de Pedidos',
        fill: false,
        backgroundColor: chartColors.default.danger,
        borderColor: chartColors.default.danger,
        data: [],
        yAxisID: 'left-axis'
      }, {
        label: 'Valor de las Ventas',
        fill: true,
        backgroundColor: chartColors.default.info,
        borderColor: chartColors.default.info,
        data: [],
        yAxisID: 'right-axis'
      }]
    },
    options: {
      legend: {position: 'top', usePointStyle: true},
      maintainAspectRatio: false,
      responsive: true,
      title: {display: false},
      tooltips: {
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(t, d) {
            let xLabel = d.datasets[t.datasetIndex].label;
            if (xLabel === 'Valor de las Ventas') {
              let currency = user.rights.name === 'admin' || user.rights.name === 'superadmin' ? 'USD' : ''
              let yLabel = t.yLabel >= 1000 ? '$' + t.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : '$' + t.yLabel;
              return `${xLabel}: ${yLabel} ${currency}`;
            } else {
              return `${xLabel}: ${t.yLabel}`;
            }
          }
        }
      },
      hover: {mode: 'nearest', intersect: true},
      scales: {
        xAxes: [{display: true, stacked: true, scaleLabel: {display: false, labelString: 'time'}}],
        yAxes: [{
          type: 'linear',
          id: 'left-axis',
          display: true,
          position: 'left',
          scaleLabel: {display: true, labelString: ''}
        },{
          type: 'linear',
          id: 'right-axis',
          display: true,
          position: 'right',
          stacked:false,
          scaleLabel: {display: true, labelString: ''},
          gridLines: {drawOnChartArea: false},
          ticks: {
            callback: function(value, index, values) {
              if (parseInt(value) >= 1000) {
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                return '$' + value;
              }
            }
          }
        }]
      }
    }
  });
  let productsUnd = [];
  let productsInventory = [];
  
  function getCities(cities) {
    let total = 0;
    let dataCities = [];
    let dataLabels = [];
    cities.forEach(item => total += item.quantity);
    cities.forEach(async item => {
      dataLabels.push(item.name.charAt(0).toUpperCase() + item.name.slice(1));
      dataCities.push(((item.quantity / total) * 100).toFixed(2));
    });
    return {dataCities, dataLabels};
  }

  function getChannels(channels) {
    let totalChannels = 0;
    let dataChannels = [];
    let dataLabelsChannels = [];
    channels.forEach(item => totalChannels += item.quantity);
    channels.forEach(async item => {
      dataLabelsChannels.push(item.name.charAt(0).toUpperCase() + item.name.slice(1));
      dataChannels.push(((item.quantity / totalChannels) * 100).toFixed(2));
    });
    return {dataChannels, dataLabelsChannels}
  }

  function orderDataLine(data) {
    let dataLine1 = [];
    let dataLine2 = [];
    let labelsLine = [];
    data.forEach(async item => {
      labelsLine.push(item.day);
      dataLine1.push(item.total);
      dataLine2.push(Math.round(item.totalPrice));
    });
    return {dataLine1, dataLine2, labelsLine}
  }

  function graphics(dataLine1, dataLine2, labelsLine) {
    removeData(myChartLine);
    addDataLine(myChartLine, labelsLine, dataLine1, dataLine2);
  }
  
  function graphicsR(dataChannels, labelsChannels, dataCities, labelsCities) {
    removeData(myChartUnd);
    removeData(myChartPrice);
    addData(myChartUnd, labelsChannels, dataChannels);
    addData(myChartPrice, labelsCities, dataCities);
  }

  function addData(chart, labels, data) {
    chart.data.labels = labels;
    chart.data.datasets.forEach((dataset) => {
      dataset.data = data;
    });
    chart.update();
  }

  function addDataLine(chart, labels, data1, data2) {
    chart.data.labels = labels;
    chart.data.datasets[0].data = data1;
    chart.data.datasets[1].data = data2;
    chart.update();
  }

  function removeData(chart) {
    chart.data.labels = [];
    chart.data.datasets.forEach((dataset) => {
      dataset.data = [];
    });
    chart.update();
  }

  function filterDate(start, end) {
    var dashboard = document.getElementById('containerDashboard');
    dashboard.style.display = 'none';
    document.querySelector('.loading').innerHTML = '<div class="div-loading"><span class="icon has-text-info is-large icon-loading"><i class="bx bx-loader-circle bx-burst bx-rotate-90"></i></span></div>';
    io.socket.post('/filter/dashboard', { dateStart: start, dateEnd: end });
  }

  function showInfoOrders(data) {
    let dataCh = getChannels(data.channels);
    let dataCit = getCities(data.cities);
    const totalSales = document.querySelector('#totalSales');
    const totalProducts = document.querySelector('#totalProducts');
    const totalOrders = document.querySelector('#totalOrders');
    const rights = '<%- session.user.rights.name %>';
    const codeCurrency = rights === 'admin' || rights === 'superadmin' ? 'USD' : '';
    totalSales.textContent = `$ ${Math.round(data.totalSales).toLocaleString('es-CO')} ${codeCurrency}`;
    totalProducts.textContent = data.totalProducts;
    totalOrders.textContent = data.totalOrders;
    
    graphicsR(dataCh.dataChannels, dataCh.dataLabelsChannels, dataCit.dataCities, dataCit.dataLabels);
    document.querySelector('.loading').innerHTML = '';
    document.getElementById('containerDashboard').style.display = 'inline';
  }
  
  function showInfoTop10(data) {
    var ulTopProductsPrice = document.querySelector("#topProductsPrice");
    var ulTopProductsCant = document.querySelector("#topProductsCant");
    var ullessProducts = document.querySelector("#lessProducts");
    ulTopProductsPrice.innerHTML = '';
    ulTopProductsCant.innerHTML = '';
    ullessProducts.innerHTML = '';
    localStorage.setItem('topProductsPrice', JSON.stringify(data.topProductsPrice));
    localStorage.setItem('topProductsCant', JSON.stringify(data.topProductsCant));
    localStorage.setItem('lessProducts', JSON.stringify(data.lessProducts));
    processDataProductsOrders(data.topProductsPrice, ulTopProductsPrice, 'price');
    processDataProductsOrders(data.topProductsCant, ulTopProductsCant, 'quantity');
    processDataProductsOrders(data.lessProducts, ullessProducts, 'quantity');
  }

  function showInfoLogistics(data) {
    var totalShippingCost = document.querySelector('#totalShippingCost');
    var totalOrdersReturned = document.querySelector('#totalOrdersReturned');
    var totalOrdersCancel = document.querySelector('#totalOrdersCancel');
    var averageHoursLogist = document.querySelector('#averageHoursLogist');
    var averageHoursClient = document.querySelector('#averageHoursClient');
    var averageHoursCellar = document.querySelector('#averageHoursCellar');
    const rights = '<%- session.user.rights.name %>';
    const codeCurrency = rights === 'admin' || rights === 'superadmin' ? 'USD' : '';
    totalShippingCost.textContent = `$ ${Math.round(data.totalShippingCost).toLocaleString('es-CO')} ${codeCurrency}`;
    totalOrdersReturned.textContent = data.totalOrdersReturned;
    totalOrdersCancel.textContent = data.totalOrdersCancel;
    averageHoursLogist.textContent = data.averageHoursLogist + ' hrs';
    averageHoursClient.textContent = data.averageHoursClient + ' hrs';
    averageHoursCellar.textContent = data.averageHoursCellar + ' hrs';
  }
  
  function showInfoInventory(data) {
    var totalInventory = document.querySelector('#totalInventory');
    var totalProductsReference = document.querySelector('#totalProductsReference');
    var totalProductsActive = document.querySelector('#totalProductsActive');
    var totalProductsInactive = document.querySelector('#totalProductsInactive');
    var ulProductsUnd = document.querySelector("#productsUnd");
    var ulProductsInventory = document.querySelector("#productsInventory");
    totalInventory.textContent = Number(totalInventory.textContent) + data.totalInventory;
    totalProductsReference.textContent = data.totalProductsReference;
    totalProductsActive.textContent = data.totalProductsReferenceActive;
    totalProductsInactive.textContent = data.totalProductsReferenceInactive;
    
    if(user.rights.name !== 'superadmin' && user.rights.name !== 'admin'){
      productsUnd = [...productsUnd, ...data.productsUnd];
      productsInventory = [...productsInventory, ...data.productsInventory];
      if (data.stop) {
        processDataProducts(productsUnd, ulProductsUnd);
        processDataProducts(productsInventory, ulProductsInventory);
      } else {
        ulProductsUnd.innerHTML = '';
        ulProductsInventory.innerHTML = '';
      }
    }
  }

  function showInfoPublish(data) {
    const totalProductsPublish = document.querySelector('#totalProductsPublish');
    const channelsConnect = document.querySelector('#channelsConnect');
    const productsDiscount = document.querySelector('#productsDiscount');
    
    totalProductsPublish.textContent = data.productsPublish ? `${data.productsPublish}%` : '0%';
    channelsConnect.textContent = data.channels;
    productsDiscount.textContent = data.productsDiscount;
  }

  function processDataProducts(products, ul, stop) {
    products.forEach(item => {
      let div = document.createElement('div');
      addClass(div,'list-item');
      var imageProduct = "";
      if (item.images && item.images.length > 0) {
        item.images.forEach(image => {
          if(image.cover == 1){
            imageProduct = image.file;
          }
        })
      }
      var srcImg = imageProduct ? imgurl + '/images/products/' + item.id + '/' + imageProduct : "/images/not-available.png";
      var listItem = '<figure class="image is-48x48 product-image"><img class="is-rounded" src='+ srcImg +' /></figure><div class="product-description is-uppercase"><a href="/product/edit/'+item.id+'" target="_blank"><h5>' + item.name + '</h5></a></div> <div class="product-sku">' + item.reference + '</div>';
      div.innerHTML = listItem;
      ul.appendChild(div);
    });
  }

  function processDataProductsOrders(products, ul, type) {
    products.forEach(item => {
      let div = document.createElement('div');
      let imageProduct = "";
      addClass(div,'list-item');
      if (item.product.images && item.product.images.length > 0) {
        item.product.images.forEach(image => {
          if(image.cover == 1){
            imageProduct = image.file;
          }
        })
      }
      let quantity = type === 'quantity' ? item.quantity : `$${Math.round(item.price * item.quantity).toLocaleString('es-CO')}`;
      let srcImg = imageProduct ? imgurl + '/images/products/' + item.product.id + '/' + imageProduct : "/images/not-available.png";
      let listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+srcImg +' /></figure><div class="product-description is-uppercase"><h5>' + item.product.name + '</h5></div> <div class="product-sku">' + item.product.reference + '</div><div class="quantity-top">' + quantity + '</div></div>';
      div.innerHTML = listItem;
      ul.appendChild(div);
    });
  }
  
  live('.download-right', 'click', function(e){
    e.preventDefault();
    const option = e.target.getAttribute('option');
    const products = option === 'topProductsPrice' ? JSON.parse(localStorage.getItem('topProductsPrice')) : 
    option === 'topProductsCant' ? JSON.parse(localStorage.getItem('topProductsCant')) :
    option === 'lessProducts' ? JSON.parse(localStorage.getItem('lessProducts')) :
    option === 'productsInventory' ? productsInventory :
    option === 'productsUnd' ? productsUnd : []
    if (products.length > 0) {
      removeClass(e.target,'bxs-cloud-download');
      addClass(e.target, 'bx-loader');
      addClass(e.target, 'bx-spin');
      io.socket.post('/downloadexcel', {products}, (resData, jwRes) =>{
        if(jwRes.statusCode == 200) {
          addClass(e.target,'bxs-cloud-download');
          removeClass(e.target, 'bx-loader');
          removeClass(e.target, 'bx-spin');
          saveAs(new Blob([resData],{type:"application/octet-stream"}), `Productos.xlsx`);
        }
      });
    }
  });

  io.socket.on('datadashboardorders', function (data){
    if(user !== undefined && data.id === user.id){
      showInfoOrders(data);
    }
  });

  io.socket.on('datadashboardtop', function (data){
    if(user !== undefined && data.id === user.id){
      showInfoTop10(data);
    }
  });

  io.socket.on('datadashboardgraphics', function (data){
    if(user !== undefined && data.id === user.id){
      let dataLin = orderDataLine(data.ordersByDay);
      graphics(dataLin.dataLine1, dataLin.dataLine2, dataLin.labelsLine);
    }
  });

  io.socket.on('datadashboardinventory', function (data){
    showInfoInventory(data);
  });

  io.socket.on('datadashboardpublish', function (data){
    showInfoPublish(data);
  });

  io.socket.on('datadashboardlogistics', function (data){
    if(user !== undefined && data.id === user.id){
      showInfoLogistics(data);
    }
  });

  // Initialize all input of date type.
  const calendars = bulmaCalendar.attach('[name="range"]', {
    type:'date',
    isRange: true,
    allowSameDayRange: true,
    dateFormat:'YYYY-MM-DD',
    displayMode:'default',
    cancelLabel:'Cancelar',
    clearLabel:'Limpiar',
    todayLabel:'Hoy',
    validateLabel:'Seleccionar',
    startDate: new Date(start),
    endDate: new Date(end),
  });

  calendars.forEach(calendar => {
    calendar.on('select', date => {
      filterDate(moment(date.data.startDate).format('YYYY/MM/DD'), moment(date.data.endDate).add(1, 'days').format('YYYY/MM/DD'))
    });
  });

  filterDate(start, end);
</script>
