<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
        <%if(typeof slider === 'object' && slider!== null){%>
          
          <%let main = slider.filter(el => el.position =='main');%>
          <%if(main.length>1){%>
            <section class="hero is-hidden-mobile">
              <div style="min-width:100%;" class="container">
                <p class="carousel has-text-centered">
                  <%for(let m of main){%>
                      <a href="<%=m.url%>"><img src="<%=imgurl%>/images/slides/<%= m.image %>" alt="<%=m.name%>" /></a>
                  <%}%>
                  </p>
              </div>
            </section>
          <%}else if(main.length==1){%>
            <section class="hero is-hidden-mobile">
              <a href="<%=main[0].url%>"><img src="<%=imgurl%>/images/slides/<%= main[0].image %>" alt="<%=main[0].name%>"/></a>
            </section>
          <%}%>
          <div class="columns is-centered is-gapless">
            <div class="column is-8">
              <%let featured = slider.filter(el => el.position =='featured');%>
              <%if(featured.length>=1){%>
                <section class="section is-paddingless is-gapless">
                  <div class="columns">
                    <%for(let f of featured){%>
                      <div class="column">
                        <p class="has-text-centered"><a href="<%=f.url%>"><img src="<%=imgurl%>/images/slides/<%= f.image %>" alt="<%=f.name%>"/></a></p>
                      </div>
                    <%}%>
                  </div>
                </section>
              <%}%>
            <%if(viewed.length>0){%>
              <hr>
              <h6 class="subtitle is-6 has-text-weight-bold">Productos vistos recientemente</h6>
              <br>
              <%viewed.forEach(vw =>{%>
                <div itemprop="itemListElement" itemscope itemtype="https://schema.org/Product" class="card card-catalog is-size-7">
                  <span class="is-hidden productid" itemprop="productID"><%=vw.id%></span>
                  <div class="card-image has-badge-danger has-badge-rounded has-badge-medium" <%if(vw.discount!==null && vw.discount!==undefined){%>data-badge="<%=vw.discount.value%>%"<%}%>>
                      <figure class="image is-256x256 is-inline-block">
                          <a itemprop="url" href="/list/product/<%=encodeURIComponent((vw.name).replace(/\./g, '%2E'))%>/<%=encodeURIComponent(vw.reference)%>"><%if(vw.cover!==undefined){%><img itemprop="image" style="justify-content: center;" src="<%=imgurl%>/images/products/<%=vw.id%>/<%= vw.cover.file %>" alt="<%vw.manufacturer.name%> - <%vw.reference%>"><%}%></a>
                      </figure>
                  </div>
                  <div class="card-content">
                    <div itemprop="description" class="is-hidden"><%-vw.description%></div>
                    <div itemprop="disambiguatingDescription" class="is-hidden"><%-vw.descriptionShort%></div>
                    <p><span class="is-pulled-right"><span class="is-hidden" itemprop="color"><%=vw.mainColor.name%></span><span class="color-container" color="<%=vw.mainColor.name%>" style="background-color: <%= vw.mainColor.code %>;border:solid 1px <%= vw.mainColor.code %>;"></span></span>
                    <span itemprop="brand" brand="<%=vw.manufacturer.name%>" class="brand subtitle is-7 is-capitalized"><%=vw.manufacturer.name%></span>&nbsp;-&nbsp;<span gender="<%=vw.gender.name%>" class="gender subtitle is-7 is-capitalized"><%=vw.gender.name%></span></p>
                    <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><span itemprop="name" class="has-text-weight-bold is-uppercase"><%=vw.name%></span></p>
                    <p><span class="is-hidden" itemprop="sku"><%=vw.reference%></span>
                    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="COP">
                        <%if(vw.discount!==null && vw.discount!==undefined){%>
                            <div itemprop="itemOffered" itemscope itemtype="https://schema.org/AggregateOffer">
                                <span itemprop="highPrice" class="is-size-7 has-text-danger old-price highPrice">$&nbsp;<%= Math.round(vw.price).toLocaleString("es-CO");%></span>
                                <span itemprop="lowPrice" class="is-size-6 has-text-dark has-text-weight-bold lowPrice">$&nbsp;<%= Math.round(vw.discount.price).toLocaleString("es-CO");%></span>
                                <span class="is-hidden" itemprop="offerCount">1</span>
                                <span class="is-hidden savings"></span>
                            </div>
                            <span itemprop="price" class="is-hidden bestPrice">$&nbsp;<%= Math.round(vw.discount.price).toLocaleString("es-CO");%></span>
                        <%}else{%>
                            <span itemprop="price" class="is-size-6 has-text-dark has-text-weight-bold bestPrice">$&nbsp;<%= Math.round(vw.price).toLocaleString("es-CO");%></span>
                        <%}%>
                    </div>
                    </p>
                    <br>
                    <div class="dropdown is-fullwidth">
                        <div class="dropdown-trigger">
                            <button class="button is-small" product="<%=vw.id%>" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span id="drop-selected" class="is-uppercase is-size-7" value="0" >Talla / Tamaño</span>
                                <span class="icon is-small">
                                    <i class='bx bx-chevron-down'></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="buttons">
                        <button id="push-to-cart" product="<%=vw.id%>" disabled="disabled" class="button is-disabled is-size-7 is-right is-fullwidth">COMPRAR</button>
                    </div>
                  </div>
                </div>
              <%})%>
              <hr>
            <%}%>
            <%let mosaic = slider.filter(el => (el.position =='vertical' || el.position =='bottom' || el.position =='wide' || el.position =='middle' || el.position =='tall'));%>
            <%if(mosaic.length>=1){%>
                <section class="section">
                <p class="container has-text-centered">
                  <div class="tile is-ancestor">
                    <%let vbm = mosaic.filter(el => el.position =='vertical' || el.position =='bottom'|| el.position =='middle')%>
                      <%if(vbm.length>0){%>
                      <div class="tile is-vertical">
                        <div class="tile">
                          <%let vb = mosaic.filter(el => el.position =='vertical' || el.position =='bottom')%>
                          <%if(vb.length>0){%>
                          <div class="tile is-parent is-vertical">
                            <%let vertical = mosaic.filter(el => el.position =='vertical')%>
                            <%if(vertical.length>0){%>
                            <article class="tile is-child notification" style="color:<%=vertical[0].textColor.code%>;background-image: url('<%=imgurl%>/images/slides/<%= vertical[0].image %>'); background-size: cover;">
                              <a style="text-decoration: none;" href="<%=vertical[0].url%>" ><div class="is-capitalized is-size-5"><%=vertical[0].name%></div>
                              <div class="is-size-6"><%=vertical[0].text%></div></a>
                            </article>
                            <%}%>
                            <%let bottom = mosaic.filter(el => el.position =='bottom')%>
                            <%if(bottom.length>0){%>
                              <article class="tile is-child notification" style="color:<%=bottom[0].textColor.code%>;background-image: url('<%=imgurl%>/images/slides/<%= bottom[0].image %>'); background-size: cover;">
                                <a style="text-decoration: none;" href="<%=bottom[0].url%>"><div class="is-capitalized is-size-5"><%=bottom[0].name%></div>
                              <div class="is-size-6"><%=bottom[0].text%></div></a>
                            </article>
                            <%}%>
                          </div>
                          <%}%>
                          <%let middle = mosaic.filter(el => el.position =='middle')%>
                          <%if(middle.length>0){%>
                            <div class="tile is-parent">
                              <article class="tile is-child notification" style="color:<%=middle[0].textColor.code%>;background-image: url('<%=imgurl%>/images/slides/<%= middle[0].image %>'); background-size: cover;">
                                <a style="text-decoration: none;" href="<%=middle[0].url%>" ><div class="is-capitalized is-size-5"><%=middle[0].name%></div>
                                <div class="subtitle is-size-6"><%=middle[0].text%></div></a>
                                <div class="content" style="min-height:180px;">
                                  <!-- Content -->
                                </div>
                              </article>
                            </div>
                          <%}%>
                        </div>
                        <%let wide = mosaic.filter(el => el.position =='wide')%>
                        <%if(wide.length>0){%>
                        <div class="tile is-parent">
                          <article class="tile is-child notification" style="color:<%=wide[0].textColor.code%>; background-image: url('<%=imgurl%>/images/slides/<%= wide[0].image %>'); background-size: cover;">
                            <a style="text-decoration: none;" href="<%=wide[0].url%>"><div class="is-capitalized is-size-5"><%=wide[0].name%></div>
                            <div class="is-size-6"><%=wide[0].text%></div>
                            <div style="min-height:250px;" class="content">
                              <!-- Content -->
                            </div></a>
                          </article>
                        </div>
                        <%}%>
                      </div>
                      <%}%>
                      <%let tall = mosaic.filter(el => el.position =='tall')%>
                      <%if(tall.length>0){%>
                      <div class="tile is-parent" style="color:<%=tall[0].textColor.code%>">
                        <article class="tile is-child notification" style="color:<%=tall[0].textColor.code%>;background-image: url('<%=imgurl%>/images/slides/<%= tall[0].image %>'); background-size: cover;">
                          <a style="text-decoration: none;" href="<%=tall[0].url%>"><div class="content">
                            <div class="is-capitalized is-size-5"><%=tall[0].name%></div>
                            <div class="is-size-6"><%=tall[0].text%></div>
                            <div class="content" style="min-height: 320px;">
                              <!-- Content -->
                            </div>
                          </div></a>
                        </article>
                      </div>
                      <%}%>
                  </div>
                  </p>
                </section>            
            <%}%>
            </div>
          </div>
          <%if(brands!==null){%>
          <div class="columns is-centered">
              <div class="column is-8">
                <h6 class="title is-6">Marcas</h6>
                <div class="tags">
                <%brands.forEach(brand =>{%>
                  <a href="/ver/marca/<%=brand.url%>"><span style="min-width: 100px;" class="tag is-white is-capitalized"><%=brand.name%></span></a>
                <%})%>
                </div>
              </div>
          </div>
          <%}%>
          <hr>
          <div class="columns is-centered is-mobile is-gapless">
            <div class="column is-12-mobile is-8-desktop">
              <div class="columns is-centered is-mobile is-gapless">
                <div class="column"><p class="has-text-centered"><img src="/images/envios.png" alt="envio a domicilio en toda colombia" /></p></div>
                <div class="column"><p class="has-text-centered"><img src="/images/miles.png" alt="miles de productos disponibles" /></p></div>
                <div class="column"><p class="has-text-centered"><img src="/images/originales.png" alt="tenemos productos de marcas originales" /></p></div>
                <div class="column"><p class="has-text-centered"><img src="/images/seguro.png" alt="compra con tranquilidad este es un sitio seguro" /></p></div>
              </div>
            </div>
          </div>
      <%}%>
    <hr>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    // Initialize all div with carousel class
    var carousels = bulmaCarousel.attach('.carousel', {
        autoplay:true, 
        slidesToShow:1, 
        infinite:true, 
        slidesToScroll:1,
        pagination:'HH:mm',
        autoplaySpeed:4000,
        pauseOnHover:true});
</script>
