<div class="container">
    <% if (error != undefined || error != null) { %>
      <div class="notification is-danger is-light" id="error">
          <%= error %>
      </div>
    <% } %>
    <% if(action=='create' || action=='edit'){ %>  
          <div class="container">
              <br />
              <h4 class="title is-4">Crear Descuento</h4>
              <hr>
              <% if(action=='create') { %>
                <form action="/discount/create" method="POST">
              <% } %>
              <% if(action=='edit') { %>
                <form action="/discount/edit/<%= discount.id %>" method="POST">
              <% } %>
              <div class="columns">
                  <div class="column">
                    <div class="field">
                        <label class="label">Nombre del Descuento</label>
                        <div class="control">
                            <input class="input" type="text" name="name" required="true" placeholder="Nombre del Descuento" <% if(action=='edit'){ %>value="<%= discount.name %>"<% }%>/>
                        </div>
                    </div>
                      <div class="columns is-mobile">
                          <div class="column">
                            <div class="field">
                                <label class="label">Tipo</label>
                                <div class="select control">
                                    <select name="type">
                                    <option value="P" <%if(action=='edit' && discount.type=='P'){ selected="selected"}%>>Porcentaje</option>
                                    <option value="C" <%if(action=='edit' && discount.type=='C'){ selected="selected"}%>>Valor</option>
                                    </select>
                                </div>
                            </div>
                          </div>
                          <div class="column">
                            <div class="field">
                                <label class="label">Valor</label>
                                <div class="control">
                                  <input class="input" type="text" name="value" required="true" placeholder="Cantidad de Descuento" <% if(action=='edit'){ %>value="<%= discount.value %>"<% }%>/>
                                </div>
                            </div>
                          </div>
                          <div class="column">
                            <div class="field">
                              <label class="label">Seller</label>
                              <div class="control select">
                                <select class="is-capitalized" name="seller" required>
                                  <%if(action=='create'){%>
                                    <option value="" selected>-- Elegir Seller --</option>
                                    <%sellers.forEach(seller =>{%>
                                      <option class="is-capitalized" value="<%=seller.id%>"><%=seller.name%></option>
                                    <%})%>
                                  <%}%>
                                  <%if(action=='edit'){%>
                                    <option class="is-capitalized" value="<%=discount.seller.id%>" selected="selected"><%=discount.seller.name%></option>
                                  <%}%>
                                </select>
                              </div>
                          </div>
                          </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label">Periodo de descuento</label>
                          <div class="control">
                              <input class="input" type="date" name="range" required placeholder="Fecha de Inicio"/>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="columns">
                          <div class="column">
                            <article class="message is-small is-link">
                              <div class="message-header">
                                <p>Restringir Descuentos</p>
                              </div>
                              <div class="message-body">
                                De manera predeterminada, los descuentos son válidos para todas las integraciones disponibles. <br> <br><b>Si lo desea, puede restringir este descuento a una o varias integraciones.</b>
                              </div>
                            </article>
                          </div>
                          <div class="column">
                            <div class="field" id="integrations-block">
                              <label class="label">Integraciones</label>
                              <%if(integrations){%>
                              <%integrations.forEach(integration =>{%>
                                <span><input type="checkbox" 
                                  <%for(let integ of discount.integrations){%>
                                    <%if(integ.id===integration.id){%>checked<%}%>
                                  <%}%>
                                  name="integrations[]" value="<%=integration.id%>"/>&nbsp;<%=integration.name%></span><br>
                              <%})%>
                              <%}%>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="column">
                    <div class="columns is-mobile">
                      <div class="column">
                        <div class="field">
                          <label class="label is-small">Marca</label>
                          <div class="select is-small is-fullwidth">
                            <select class="is-capitalized" name="manufacturer" >
                              <option value="">-- Elegir Marca --</option>
                              <%manufacturers.forEach(brand =>{%>
                                <option class="is-capitalized" value="<%=brand.id%>"<%if(action=='edit' && brand.id==discount.manufacturer){%>selected="selected"<%}%>><%=brand.name%></option>
                              <%})%>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label is-small">Género</label>
                          <div class="select is-small is-fullwidth">
                            <select class="is-capitalized" name="gender" >
                              <option value="">-- Elegir Género --</option>
                              <%genders.forEach(gender =>{%>
                                <option class="is-capitalized" value="<%=gender.id%>"<%if(action=='edit' && gender.id==discount.gender){%>selected="selected"<%}%>><%=gender.name%></option>
                              <%})%>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <label class="label is-small">Color</label>
                          <div class="select is-small is-fullwidth">
                            <select class="is-capitalized" name="color" >
                              <option value="">-- Elegir Color --</option>
                              <%colors.forEach(color =>{%>
                              <option class="is-capitalized" value="<%=color.id%>" <%if(action=='edit' && color.id==discount.color){%>selected="selected"<%}%>><%=color.name%></option>
                              <%})%>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <article class="panel is-primary is-size-7">
                        <p class="panel-heading">
                          Categorías
                        </p>
                          <ul>
                            <li>
                              <a style="display:none;" class="panel-block is-active" category="<%= root.id %>" level="<%= root.level %>">
                                <input type="radio" name="root" id="root" value="<%= root.id %>" />&nbsp;
                                <span class="panel-icon"><i class="bx bx-book-open" aria-hidden="true"></i></span>
                                <%= root.name %>
                              </a>
                            </li>
                          </ul>
                      </article>
                  </div>
              </div>
            <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                    <button type="submit" class="button is-primary"><i class="bx bxs-pencil"></i>&nbsp;Modificar Descuento</button>
                <% }else if (action=='create'){ %>
                    <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Descuento</button>
                <% } %>
            </div>
            </form>
        </div>
        <script>
            // Initialize all input of date type.
            const calendars = bulmaCalendar.attach('[type="date"]', {
                type:'datetime',
                isRange: true,
                allowSameDayRange: true,
                dateFormat:'YYYY-MM-DD',
                timeFormat:'HH:mm:ss',
                displayMode:'dialog',
                cancelLabel:'Cancelar',
                clearLabel:'Limpiar',
                todayLabel:'Hoy',
                nowLabel:'Ahora',
                validateLabel:'Seleccionar',
                minDate: new Date(),
                <%if(action=='edit'){%>
                startDate:'<%= moment(discount.from).locale('es').format('YYYY-MM-DD') %>',
                endDate:'<%= moment(discount.to).locale('es').format('YYYY-MM-DD') %>',
                startTime:'<%= moment(discount.from).locale('es').format('HH:mm:ss') %>',
                endTime:'<%= moment(discount.to).locale('es').format('HH:mm:ss') %>',
                <%}%>
            });

            // Loop on each calendar initialized
            calendars.forEach(calendar => {
                // Add listener to date:selected event
                calendar.on('date:selected', date => {
                    console.log(date);
                });
            });

            // To access to bulmaCalendar instance of an element
            const element = document.querySelector('#my-element');
            if (element) {
                // bulmaCalendar instance is available as element.bulmaCalendar
                element.bulmaCalendar.on('select', datepicker => {
                    console.log(datepicker.data.value());
                });
            }

            function childTree(elm){
                let category = <%if(action=='edit' && discount.category){%>'<%= discount.category %>'<%}else{%>null<%}%>;
                return new Promise(resolve =>{
                elm.forEach((child) =>{
                    if(!hasClass(child,'visited')){
                    io.socket.get('/categories/'+child.getAttribute('category'),function(resData){
                        var d = document.createElement('ul');
                        resData.forEach(function(son){
                            let ca = document.createElement('li');
                            let str = '';
                            ca.style.paddingLeft = 5*son.level+'px';
                            str = `<a class="panel-block is-active" category="`+son.id+`" level="`+son.level+`">`;
                              if(category && son.id==category){
                                str+=`<input type="radio" name="category" value="`+son.id+`" checked />`;
                              }else{
                                str+=`<input type="radio" name="category" value="`+son.id+`" />`;
                              }
                              str+=`&nbsp;<span class="panel-icon"><i class="bx bx-book-open" aria-hidden="true"></i></span>
                              <span class="cat_name is-capitalized">`+son.name+`</span></a>`;
                              ca.innerHTML = str;
                            d.appendChild(ca);
                        });
                        insertAfter(d,child);
                        addClass(child,'visited');
                        childTree(d.querySelectorAll('a.panel-block'));
                    });
                    }
                })
                setTimeout(() => {resolve("finish");},200);
                });
            };

            const init = async () => {
                let result = await childTree(document.querySelectorAll('a.panel-block'))
                <%if(action=='edit'){%>
                .then(()=>{
                  let op = '<%=discount.category%>';
                  let checked = document.querySelectorAll('input[name="category"]');
                  for(let c of checked){
                    if(c.value===op){
                      c.checked=true;
                    }
                  }
                });
                <%}%>
            }

            init();

            live('select[name="seller"]','change', e =>{
              let iblock = document.querySelector('#integrations-block');
              let sl = e.target.options[e.target.selectedIndex].value;
              if(sl){
                io.socket.get('/findintegrations/'+sl,resData =>{
                  let str = '<label class="label">Integraciones</label>';
                  for(let data of resData){
                    str+='<span><input type="checkbox" name="integrations[]" value="'+data.id+'"/>&nbsp;'+data.name+'</span><br>';
                  };
                  iblock.innerHTML=str;
                });
              }else{
                iblock.innerHTML='<label class="label">Integraciones</label>';
              }
            });

        </script>
      <% } else { %>
          <p style="text-align: right;font-size: 20px; margin-right: 5px;">
              <a href="/discounts/create" class="button is-primary is-size-7"><i class='bx bxs-discount is-size-5'></i></i>&nbsp;&nbsp;Crear Descuento</a>
          </p>
          <div class="table-container">
              <table class="table is-hoverable" id="discounts-table">
                  <thead>
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Inicio</th>
                      <th scope="col">Fin</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Valor</th>
                      <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                        <th scope="col">Seller</th>
                      <%}%>
                      <th scope="col">Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                      <% discounts.forEach(function(discount){ %>
                          <tr>
                              <td class="align-middle is-capitalized"><%= discount.name %></td>
                              <td class="align-middle"><%= moment(discount.from).locale('es').format('DD MMMM YYYY HH:mm:ss'); %></td>
                              <td class="align-middle"><%= moment(discount.to).locale('es').format('DD MMMM YYYY HH:mm:ss'); %></td>
                              <td class="align-middle"><%= discount.type %></td>
                              <td class="align-middle"><%= discount.value %></td>
                              <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                                <td class="align-middle"><%if(discount.seller && discount.seller.name){%><%= discount.seller.name %><%}%></td>
                              <%}%>
                              <td class="align-middle">
                              <a href="/discounts/edit/<%= discount.id %>" class="button is-small">
                                  <span class="icon">
                                  <i class="bx bxs-edit"></i>
                                  </span>
                              </a>
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
              </table>
          </div>
          <script>
              document.addEventListener('DOMContentLoaded', function(){
                  let table = new simpleDatatables.DataTable('#discounts-table',{
                  searchable:true,
                  sortable:true,
                  paging:true,
                  perPageSelect:[5,10,20,30,50],
                  perPage:50,
                  labels: {
                      placeholder: "Buscar...",
                      perPage: "{select} registros por página",
                      noRows: "No se encontraron datos",
                      info: "Mostrando {start} a {end} de {rows} registros",
                  }
                  });  
              });
          </script>
      <% } %>
      <script>
        setTimeout(function() {
          var el = document.getElementById('error');
          if(el){
            el.style.display='none';
          }
        }, 6000);
  
        live('.state', 'click', function(){ 
          if(confirm('Seguro Desea Continuar')){
            var elm = this;
            var id = this.getAttribute('seller');
            var status = null;
            if (hasClass(elm,'bx-check-circle')){status = false;}else{status = true;}
  
            io.socket.put('/seller/'+id,{active:status},function(resData, jwr){
              if(resData.active===false){
                removeClass(elm, 'bx-check-circle');
                addClass(elm,'bx-x-circle');
              }else{
                removeClass(elm, 'bx-x-circle');
                addClass(elm,'bx-check-circle');
              }
            });
          }
        });
      </script>
  </div>