<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js'></script>
<div class="container">
<% if (error != undefined || error != null) { %>
  <div class="notification is-danger is-light" id="error">
    <%= error %>
  </div>
<% } %>
<br />
    <div class="product-tab tabs">
      <ul>
        <li class="is-active"><a option="basics" >Información Básica</a></li>
        <li <%if(action!='edit'){%>class="is-hidden"<%}%>><a option="images">Imágenes</a></li>
        <li <%if(action!='edit'){%>class="is-hidden"<%}%>><a option="variations">Variaciones</a></li>
        <%if(features.length>0){%><li <%if(action!='edit'){%>class="is-hidden"<%}%>><a option="features">Características</a></li><%}%>
        <li <%if(action!='edit'){%>class="is-hidden"<%}%>><a option="discounts">Descuentos</a></li>
        <li <%if(action!='edit'){%>class="is-hidden"<%}%>><a option="integrations">Integraciones</a></li>
      </ul>
    </div>
    <div id ="basics">
      <form action="/product/create" id="form-basics">
      <div class="box">
        <div class="columns">
          <div class="column">
            <label class="label is-inline is-size" for="name">Nombre del Producto</label>&nbsp;
            <div class="field is-pulled-right">
              <input id="activo" type="checkbox" name="activo" class="switch is-rounded is-outlined" <%if(action=='create' || product.active){%>checked="checked"<%}%> />
              <label class="is-size-7-mobile" for="activo">Estado: <span id="state"><%if(action=='create' || product.active){%><b style="color:green;">activo</b><%}else{%><b style="color:red;">inactivo</b><%}%></span></label>
            </div>
            <div class="control">
              <input class="input is-uppercase" type="text" placeholder="Nombre del Producto" name="name" required <% if(action=='edit'){ %>value="<%= product.name %>"<% }%> />
            </div>
          </div>           
        </div>
        <div class="columns">
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="manufacturer">Marca</label>
              <div class="select is-fullwidth is-size-7">
                <select class="is-capitalized" name="manufacturer" id="manufacturer" required>
                  <option value=""> -- Marca del Producto --</option>
                  <% brands.forEach(function(brand){ %>
                    <option <% if(action=='edit' && brand.id==product.manufacturer){ %> selected <% } %> value="<%= brand.id %>"><%= brand.name %></option>
                  <%})%>
                </select>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="mainColor">Color Principal</label>
              <div class="select is-fullwidth is-size-7">
                <select class="is-capitalized" name="mainColor" id="mainColor" required>
                  <option value=""> -- Color Principal --</option>
                  <% colors.forEach(function(color){ %>
                    <option <% if(action=='edit' && product.mainColor !== null && color.id==product.mainColor.id){ %> selected <% } %> value="<%= color.id %>"><%= color.name %></option>
                  <%})%>
                </select>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="gender">Género</label>
              <div class="select is-fullwidth is-size-7">
                <select class="is-capitalized" name="gender" id="gender" required>
                   <option value="">-- Elegin Género --</option>
                  <% genders.forEach(gender => { %>
                    <option class="is-capitalized" <% if(action=='edit' && gender.id==product.gender ){ %> selected <% } %> value="<%= gender.id %>" ><%= gender.name %></option>
                  <%})%>
                </select>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="tax">Impuesto</label>
              <div class="select is-fullwidth is-size-7">
                <select name="tax" id="tax" required>
                  <% taxes.forEach(function(tax){ %>
                    <option class="is-capitalized" <% if(action=='edit' && product.tax && tax.id==product.tax.id) { %> selected <% } %> value="<%= tax.id %>" tax="<%= tax.value %>" ><%= tax.name %></option>
                  <%})%>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="seller">Seller</label>
              <div class="select is-fullwidth is-size-7">
                <select class="is-capitalized" name="seller" id="seller" required>
                  <option value=""> -- Seller --</option>
                  <% sellers.forEach(function(seller){ %>
                    <option <% if(action=='edit' && seller.id==product.seller){ %> selected <% } %> value="<%= seller.id %>"><%= seller.name %></option>
                  <%})%>
                </select>                  
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="reference">Referencia</label>
              <input class="input is-capitalized is-size-7" <%if(action=='edit'){%>readonly<%}%> type="text" placeholder="Referencia del Producto" name="reference" <% if(action=='edit'){ %> value="<%= product.reference %>" <% } %> />
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="reference">Ancho del empaque (cm)</label>
              <input class="input is-size-7" type="number" placeholder="Ancho del Empaque" name="width" <% if(action=='edit'){ %> value="<%= product.width %>" <% } %> />
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="reference">Alto del empaque (cm)</label>
              <input class="input is-size-7" type="number" placeholder="Alto del Empaque" name="height" <% if(action=='edit'){ %> value="<%= product.height %>" <% } %> />
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="reference">Largo del empaque (cm)</label>
              <input class="input is-size-7" type="number" placeholder="Largo" name="length" <% if(action=='edit'){ %> value="<%= product.length %>" <% } %> />
            </div>
          </div>
          <div class="column">
            <div class="control">
              <label class="label is-inline is-size-7" for="reference">Peso Empacado (kg)</label>
              <input class="input is-size-7" type="number" placeholder="Peso" name="weight" <% if(action=='edit'){ %> value="<%= product.weight %>" <% } %> />
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label is-inline is-size-7" for="register">Registro Sanitario</label>
            <input class="input is-size-7" type="text" placeholder="Registro Sanitario" name="register" <% if(action=='edit'){ %> value="<%= product.register %>" <% } %> />
            <br>
            <div class="tabs">
              <ul>
                <li class="is-active"><a option="ctl-descriptionshort">Resumen</a></li>
                <li><a option="ctl-description">Descripción</a></li>
              </ul>
            </div>
            <div class="control" id="ctl-descriptionshort">
              <textarea id="descriptionshort" class="textarea" name="descriptionshort" placeholder="Descripción corta del producto" maxlength="100" rows="2">
                <% if(action=='edit'){ %><%= product.descriptionShort %> <% } %>
              </textarea>
            </div>
            <div class="control is-hidden" id="ctl-description">
              <textarea id="description" class="textarea" name="description" placeholder="Descripción del producto">
                <% if(action=='edit'){ %> <%= product.description %><% } %>
              </textarea>
            </div>
          </div>
          <div class="column">
            <div style="margin: 5px 5px; " class="field is-pulled-right">
              <div class="control">
                <div class="select is-small is-danger">
                  <select name="mainCategory" id="mainCategory">
                    <option level="0">Categoría Principal</option>
                    <% if(action=='edit') {%> 
                      <% product.categories.forEach(function(cl){ %>
                        <% if(product.mainCategory !== null && cl.id == product.mainCategory.id ) { %>
                          <option selected level="<%=cl.level%>" value="<%= cl.id %>"><%= cl.name %></option>
                        <%}else{%>
                          <option level="<%=cl.level%>" value="<%= cl.id %>"><%= cl.name %></option>
                        <%}%>
                      <% })%>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <article class="panel is-primary is-size-7">
              <p class="panel-heading">
                Categorías
              </p>
                <ul>
                  <li>
                    <a style="display:none;" class="panel-block is-active" category="<%= root.id %>" level="<%= root.level %>">
                      <input type="radio" name="root" id="root" value="<%= root.id %>" />&nbsp;
                      <span class="panel-icon"><i class="bx bx-book-open" aria-hidden="true"></i></span>
                      <%= root.name %>
                    </a>
                  </li>
                </ul>
            </article>
          </div>
        </div>
      </div>
      <div class="buttons is-right">
        <button id="save-product" class="button is-primary"><i class="bx bx-save"></i>&nbsp;Guardar y Continuar</button>
      </div>
      </form>
    </div> 
    <div class="is-hidden" id="images">
      <div class="box">
        <div class="columns">
          <div class="column is-centered">
            <input type="hidden" name="product-data" id="product-data" <%if(action=='edit') {%> value="<%=product.id%>" <%}else{%> value="" <%}%> />
            <div class="field">
              <div class="file is-medium is-boxed is-light">
                <label class="file-label">
                  <input class="file-input" type="file" name="file" multiple accept="image/*" />
                  <span class="file-cta">
                    <span class="file-icon is-size-1">
                      <i class="bx bxs-plus-square"></i>
                    </span>
                    <span class="file-label is-size-5">
                      Imágenes de Producto
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="column is-two-thirds">
            <progress class="progress is-small is-primary is-hidden" max="100">15%</progress>
            <div class="preview">
              <%if(action=='edit'){%>
                <% product.images.forEach((i)=>{ %>
                  <div style="display:inline;">
                    <figure class="image is-128x128 image-ed <%if(i.cover==1){%>image-cover<%}%>" image-id="<%=i.id%>">
                      <img src="<%=imgurl%>/images/products/<%=product.id%>/<%= i.file %>" />
                    </figure>
                    <a target="/images/remove/<%=i.id%>" class="delete"></a>
                  </div>
                <% })%>
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <script>

        let fmanager = document.querySelector('input[name="file"]');
        fmanager.onchange = sendFiles;
  
        function sendFiles(e){
          e.preventDefault();
          var data = new FormData();
          let request = null;
          request = new XMLHttpRequest();
          data.append('id', document.querySelector('#product-data').value);
          for(let i=0; i<this.files.length;i++){
            data.append('file', this.files[i]);
          }
          request.addEventListener('load', function(e) {
            let container = document.querySelector('.preview');
            container.innerHTML='';
            let productId = document.querySelector('#product-data').value;
            let route = '/images/products/'+productId+'/';
            let images = JSON.parse(request.response);
            for(let j=0; j<images.length; j++){
              //let imgname = images[j].file.substring(0,images[j].file.length-4);
              let imgname = images[j].file;
              let div = document.createElement('div');
              div.style.display='inline';
              let a = document.createElement('a');
              addClass(a,'delete');
              a.setAttribute('target','/images/remove/'+images[j].id);
              let figure = document.createElement('figure');
              addClass(figure,'image');
              addClass(figure,'is-128x128');
              addClass(figure, 'image-ed');
              figure.setAttribute('image-id',images[j].id);
              if(images[j].cover=='1'){addClass(figure, 'image-cover');}
              let img = asyncImageLoader('<%=imgurl%>'+route+imgname);
              img.then( res => {figure.appendChild(res);});
              div.appendChild(figure);
              div.appendChild(a);
              container.appendChild(div);
            };
            addClass(document.querySelector('.progress'),'is-hidden');
          });
          request.open('POST', '/product/images');
          request.send(data);
          removeClass(document.querySelector('.progress'),'is-hidden');
          fmanager.value='';
        }
  
        live('figure','click',function(){
          let elm = this;
          let im = this.getAttribute('image-id');
          let figures = document.querySelectorAll('figure');
          figures.forEach((f)=>{
            removeClass(f,'image-cover');
          });
          addClass(this,'image-cover');
          io.socket.put('/image/'+im,function(data, Jwres){
            return;
          })
        });
  
        live('.delete','click',function(e){
          let elm = this;
          let parent=this.parentNode;
          let target = this.getAttribute('target');
          io.socket.put(target,function(data, Jwres){
            parent.parentNode.removeChild(parent);
            if(!isNaN(data)){
              let figures = document.querySelectorAll('figure');
              figures.forEach((f)=>{
                let im = f.getAttribute('image-id');
                if(im==data){
                  addClass(f,'image-cover');
                }else{
                  removeClass(f,'image-cover');
                }
              });
            }
          });
        });
  
      </script>
    </div>
    <div class="is-hidden" id="variations">
      <div class="box">
          <p style="text-align: right;font-size: 15px; margin-right: 5px;">            
            <a href="#" class="has-text-primary" id="add-row"><i class="is-size-4 bx bxs-plus-square"></i></a>
          </p>
          <form id="variations-form">
            <table class="table is-striped is-hoverable is-fullwidth" id="variations-table">
                <thead>
                <tr class="theader">  
                    <th scope="col" class="is-primary is-size-7">Tamaño/Talla</th>
                    <th scope="col" class="is-primary is-size-7">Referencia</th>
                    <th scope="col" class="is-primary is-size-7">Referencia Proveedor</th>
                    <th scope="col" class="is-primary is-size-7">EAN13</th>
                    <th scope="col" class="is-primary is-size-7">UPC</th>
                    <th scope="col" class="is-primary is-size-7">Precio</th>
                    <th scope="col" class="is-primary is-size-7">Cantidad</th>
                    <th scope="col" class="is-primary is-size-7"></th>
                </tr>
                </thead>
                <tbody>
                  <% if(action=='edit' && product.variations!==undefined && product.variations.length>0){%>
                    <% var rowcount=0; %>
                    <% product.variations.forEach((pv)=>{%>
                      <tr productv="<%= pv.id %>">
                        <td scope="row" class="align-middle"><div class="field"><div class="dropdown is-small is-fullwidth">
                          <input type="hidden" field="variation" name="variations[<%=rowcount%>][variation]" value="<%=pv.variation.id%>" />
                          <div class="dropdown-trigger">
                              <button style="border:solid 1px #00d1b2;" class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                                  <span id="drop-selected" class="is-uppercase is-size-7" value="<%=pv.variation.id%>" ><%=pv.variation.name%></span>
                                  <span class="icon is-small">
                                      <i class='bx bx-chevron-down'></i>
                                  </span>
                              </button>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu" role="menu">
                              <!--<div class="dropdown-content">
                              </div>-->
                          </div>
                          </div></div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field is-small">
                            <div class="control">                          
                              <input class="input is-primary is-small" type="text" field="reference" name="variations[<%=rowcount%>][reference]" value="<%= pv.reference %>" placeholder="Referencia"/>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field is-small">
                            <div class="control">                          
                              <input class="input is-primary is-small" type="text" readonly field="supplierreference" name="variations[<%=rowcount%>][supplierreference]" value="<%= pv.supplierreference %>" placeholder="Referencia Proveedor"/>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field is-small">
                            <div class="control">                          
                              <input class="input is-primary is-small has-text-right" type="text" field="ean13" name="variations[<%=rowcount%>][ean13]" value="<%=pv.ean13%>" placeholder="EAN13"/>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field is-small">
                            <div class="control">                          
                              <input class="input is-primary is-small has-text-right" type="number" min="111111111111" max="999999999999" field="upc" name="variations[<%=rowcount%>][upc]" value="<%=pv.upc%>" placeholder="UPC"/>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field">
                            <div class="control has-icons-left">                          
                              <input class="input is-primary is-small has-text-right prices" required type="number" field="price" name="variations[<%=rowcount%>][price]" value="<%=pv.price.toFixed(2)%>" placeholder="Precio"/>
                              <span class="icon is-small is-left">
                                <i class="bx bx-dollar"></i>
                              </span>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle">
                          <div class="field is-small">
                            <div class="control">                          
                              <input class="input is-primary is-small has-text-right" type="number" field="quantity" name="variations[<%=rowcount%>][quantity]" value="<%=pv.quantity%>" placeholder="Cantidad"/>
                            </div>
                          </div>
                        </td>
                        <td scope="row" class="align-middle"><a class="delete-row"><i class="bx bx-trash"></i></a></td>
                      </tr>
                      <% rowcount++%>
                    <%})%>
                  <%}%>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8"><hr></td>
                  </tr>
                </tfoot>
            </table>
          </form>
          <div id="bt-container" class="buttons is-right">
            <button id="save-variations" class="button is-primary"><i class="bx bx-save"></i>&nbsp;Guardar y Continuar</button>
          </div>
      <script>

      const variations = document.getElementById('variations-table');

      live('button','click',e=>{e.preventDefault()});
      live('#add-row','click',function(e){
        e.preventDefault();
        let rowid = variations.tBodies[0].rows.length;
        let rowprice = 0;
        let referencep = document.querySelector('input[name="reference"]').value;
        if(rowid>0){
          let lastrow = variations.tBodies[0].rows[rowid-1].querySelector('.prices');
          rowprice = lastrow.value;
        }
        let newrow=[
          `<td scope="row" class="align-middle"><div class="dropdown is-small is-fullwidth is-hoverable">
              <input type="hidden" field="variation" name="variations[`+rowid+`][variation]" value="0" />
              <div class="dropdown-trigger">
                  <button style="border:solid 1px #00d1b2;" class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span id="drop-selected" class="is-uppercase is-size-7" value="0" >-- Elegir Variación --</span>
                      <span class="icon is-small">
                          <i class='bx bx-chevron-down'></i>
                      </span>
                  </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                  </div>
              </div>
            </div>
          </td>`,
          '<td scope="row" class="align-middle"><div class="field is-small"><div class="control"><input class="input is-primary is-small" type="text" field="reference" name="variations['+rowid+'][reference]" value="" placeholder="Referencia"/></div></div></td>',
          '<td scope="row" class="align-middle"><div class="field is-small"><div class="control"><input class="input is-primary is-small" type="text" field="supplierreference" name="variations['+rowid+'][supplierreference]" <% if(action=='edit'){ %> value="<%= product.reference %>" <%}else{%>value="'+referencep+'"<%}%> placeholder="Referencia Proveedor"/></div></div></td>',
          '<td scope="row" class="align-middle"><div class="field is-small"><div class="control"><input class="input is-primary is-small has-text-right" type="text" field="ean13" name="variations['+rowid+'][ean13]" value="" placeholder="EAN13"/></div></div></td>',
          '<td scope="row" class="align-middle"><div class="field is-small"><div class="control"><input class="input is-primary is-small has-text-right" type="number" min="111111111111" max="999999999999" field="upc" name="variations['+rowid+'][upc]" value="" placeholder="UPC"/></div></div></td>',
          '<td scope="row" class="align-middle"><div class="field"><div class="control has-icons-left"><input required class="input is-primary is-small has-text-right prices" type="number" field="price" name="variations['+rowid+'][price]" value="'+rowprice+'" placeholder="Precio"/><span class="icon is-small is-left"><i class="bx bx-dollar"></i></span></div></div></td>',
          '<td scope="row" class="align-middle"><div class="field is-small"><div class="control"><input class="input is-primary is-small has-text-right" type="number" field="quantity" name="variations['+rowid+'][quantity]" value="0" placeholder="Cantidad"/></div></div></td>',
          '<td scope="row" class="align-middle"><a class="delete-row"><i class="bx bx-trash"></i></a></td>'
        ];
        let row = variations.tBodies[0].insertRow(variations.tBodies[0].rows.length);
        newrow.forEach((cell, index)=>{
          row.insertCell(index).innerHTML=cell;
        });
        //addfocus();
      });

        live('.delete-row','click',function(e){
          e.preventDefault();
          let elm = this;
          let row = elm.parentNode.parentNode;
          let productvariation = row.getAttribute('productv');
          if(productvariation){
            io.socket.delete('/variations/remove/'+productvariation, resData=>{
              if (resData.result) {
                variations.deleteRow(row.rowIndex);
              }
            });
          } else {
            variations.deleteRow(row.rowIndex);
          }
        });

        live('.dropdown > .button, .button > span','click', e=>{
          e.preventDefault();
          let elm = e.target;
          let parent = elm.closest('.dropdown');
          elm = parent;
          if(hasClass(parent.querySelector('.dropdown-menu'),'is-invisible')){
            removeClass(parent.querySelector('.dropdown-menu'),'is-invisible');
          }
          let node = elm.parentNode.parentNode;
          let id = document.querySelector('#product-data').value;
          let oplist = document.querySelectorAll('.dropdown input');
          let opcheck = [];
          for(let ol of oplist){
            if(!opcheck.includes(ol.value)){
              opcheck.push(ol.value);
            }
          }
          if(!hasClass(node,'is-active')){
              let content = elm.parentNode.parentNode.querySelector('.dropdown-content');
              let svalue = elm.parentNode.parentNode.querySelector('input');
              if(content.children.length<1){
                  io.socket.get('/findvariations/'+id,resData=>{
                      let o = document.createElement('a');
                      addClass(o,'dropdown-item');
                      addClass(o,'is-uppercase');
                      addClass(o,'is-size-7');
                      o.setAttribute('value','0');
                      o.text='-- Elegir Variación --';
                      content.prepend(o);
                      resData.forEach(op =>{
                        if(!opcheck.includes(op.id)){
                          o = document.createElement('a');
                          addClass(o,'dropdown-item');
                          addClass(o,'is-uppercase');
                          addClass(o,'is-size-7');
                          o.setAttribute('value',op.id);
                          o.text=op.name;
                          content.appendChild(o)
                          }
                      });
                  });
              }
              addClass(node,'is-active');
          }else{
              removeClass(node,'is-active');
          }
    });
    live('.dropdown-item','click',e=>{
        let option = e.target
        let elm = e.target.parentNode.parentNode.parentNode;
        let selected = elm.querySelector('#drop-selected');
        let variation = elm.querySelector('input');
        variation.value=option.getAttribute('value');
        selected.setAttribute('value',option.getAttribute('value'))
        selected.innerHTML=option.text;
        addClass(e.target.parentNode.parentNode,'is-invisible');
    });

        live('.dropdown-content','mouseout',e=>{
          let node = e.target.parentNode.parentNode;
          removeClass(node,'is-active');
        });
        live('#save-variations','click',(e)=>{
          e.preventDefault();
          if(validateForm(document.getElementById('variations-form'))){
            let id = document.querySelector('#product-data').value;
            let table = document.getElementById('variations-table');
            let data = [];

            for(let i=0;i<table.tBodies[0].rows.length;i++){
              let celldata = {};
              let field = null;
              let value = null;

              celldata['product'] = id;
              productvariation = table.tBodies[0].rows[i].getAttribute('productv') ? table.tBodies[0].rows[i].getAttribute('productv') : 0;
              celldata['productvariation'] = productvariation;
              for(let j=0;j<table.tBodies[0].rows[i].cells.length-1;j++){
                field = table.tBodies[0].rows[i].cells[j].querySelector('input');
                value = field.value;
                if(field.getAttribute('type')=='number') {
                  if(value===null || value===''){value=0;}else{value=parseFloat(value);}
                }
                  
                let attr =field.getAttribute('field'); 
                celldata[attr] = value;
                };
                data.push(celldata);
            }
            let button = document.querySelector('#bt-container');
            button.innerHTML='<progress class="progress is-small is-primary" max="100">15%</progress>';
            io.socket.post('/products/variations/'+id,data,(resData) => {
              if(resData){
                window.location.href='/product/edit/'+id;
              }
            });
          }
        });

        live('select.variations','change',e =>{
          let newval = e.target.value;
          let all = document.querySelectorAll('select.variations');
          for(let s of all){
            if(s!==e.target){
              if(s.value==newval){
                alert('Este Valor ya ha sido Seleccionado');
                e.target.value=valuebefore;
              }
            }
          }
        });

      </script>
      </div>
    </div>
    <div class="is-hidden" id="features">
      <div class="box">
        <h6 class="title is-7 is-uppercase"><%if(product!==undefined && product !== null){%><%=product.name%><%}%></h6>
        <h6 class="subtitle is-7 is-uppercase"><%if(product!==undefined && product !== null){%>REF:&nbsp;<%=product.reference%><%}%></h6>
        <div class="columns">
          <div class="column">
              <div id="feature-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                  <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                  </thead>
                  <tbody>
                  <%if(features.length>0){%>
                    <% features.forEach(feature =>{ %>
                      <tr>
                        <td name="feature_name" id=<%=feature.id%>><%=feature.name%></td>
                        <td name="feature_description"><%=feature.description%></td>
                        <td><input class="input" type="text" name="feature_value" required="true" value='<%if(product.features.length>0){%><%if(product.features.find(x => x.feature === feature.id)){%><%=product.features.filter(x => x.feature === feature.id)[0].value%><%}%><%}%>' placeholder="Valor de la característica" /></td>
                      </tr>
                    <%})%>
                  <%}%>
                </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="buttons is-right">
          <button id="save-feature-value" class="button is-primary"><i class="bx bx-save"></i>&nbsp;Guardar y Continuar</button>
        </div>
      </div>
      <script>
        live('#save-feature-value','click', e =>{
          let p = document.querySelector('#product-data').value;
          let data = [];
          let table = document.getElementById('feature-container').querySelector('.table');
          for(let i=0; i<table.tBodies[0].rows.length; i++){
            let celldata = {};
            celldata['product'] = p;
            celldata['feature'] = table.tBodies[0].rows[i].cells[0].id;
            celldata['value'] = table.tBodies[0].rows[i].cells[2].querySelector('input[name="feature_value"]').value;
            data.push(celldata);
          }
          io.socket.post('/addproductfeature',{data:data},resData =>{
                window.location.href='/product/edit/'+p;
          });
        });

        live('.delete-feature','click', e =>{
          e.preventDefault();
          let elm = e.target;
          if(e.target.tagName=='I'){
            elm = e.target.parentNode;
          }
          let id = elm.getAttribute('did');
          let p = document.querySelector('#product-data').value;
          io.socket.put('/removepdiscount',{product:p,discount:id},resData =>{
            if(resData=='ok'){
              let row = elm.parentNode.parentNode;
              let table = document.getElementById('discount-container').querySelector('.table')          
              table.deleteRow(row.rowIndex);
            }
          });
        });

      </script>
    </div>
    <div class="is-hidden" id="discounts">
      <div class="box">
        <h6 class="title is-7 is-uppercase"><%if(product!==undefined && product !== null){%><%=product.name%><%}%></h6>
        <h6 class="subtitle is-7 is-uppercase"><%if(product!==undefined && product !== null){%>REF:&nbsp;<%=product.reference%><%}%></h6>
        <div class="columns">
          <div class="column">
              <div class="columns is-mobile">
                  <div class="column">
                    <div class="field">
                        <label class="label">Tipo</label>
                        <div class="select is-fullwidth">
                            <select name="type">
                            <option value="P">Porcentaje</option>
                            <option value="C">Valor</option>
                            </select>
                        </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                        <label class="label">Valor</label>
                        <div class="control">
                          <input class="input" type="text" name="value" required="true" placeholder="Cantidad de Descuento" />
                        </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Periodo de descuento</label>
                      <div class="control">
                          <input class="input" type="date" name="range" required placeholder="Fecha de Inicio"/>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="buttons is-right">
          <button id="add-discount" class="button is-primary"><i class="bx bx-save"></i>&nbsp;Agregar Descuento</button>
        </div>
        <div class="columns">
          <div class="column">
              <div id="discount-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                  <thead>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody>
                  <%if(product!==undefined && product!==null && product.discount.length>0){%>
                    <% product.discount.forEach(discount =>{ %>
                      <tr>
                        <td><%=discount.name%></td>
                        <td><% if(discount.type==='P'){%>%&nbsp;<%}else{%>$&nbsp;<%}%></td>
                        <td><%=discount.value%></td>
                        <td><%= moment(discount.from).locale('es').format('DD MMMM YYYY HH:mm:ss');%></td>
                        <td><%= moment(discount.to).locale('es').format('DD MMMM YYYY HH:mm:ss');%> </td>
                        <td><a did="<%=discount.id%>" class="delete-discount"><i class="bx bx-trash"></i></a></td>
                      </tr>
                    <%})%>
                  <%}%>
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <script>
        // Initialize all input of date type.
        const calendars = bulmaCalendar.attach('[type="date"]', {
            type:'datetime',
            isRange: true,
            allowSameDayRange: true,
            dateFormat:'YYYY-MM-DD',
            timeFormat:'HH:mm:ss',
            displayMode:'dialog',
            cancelLabel:'Cancelar',
            clearLabel:'Limpiar',
            todayLabel:'Hoy',
            nowLabel:'Ahora',
            validateLabel:'Seleccionar',
            minDate: new Date()
        });

        // Loop on each calendar initialized
        calendars.forEach(calendar => {
            // Add listener to date:selected event
            calendar.on('date:selected', date => {
                console.log(date);
            });
        });

        // To access to bulmaCalendar instance of an element
        const element = document.querySelector('#my-element');
        if (element) {
            // bulmaCalendar instance is available as element.bulmaCalendar
            element.bulmaCalendar.on('select', datepicker => {
                console.log(datepicker.data.value());
            });
        }
        
        live('#add-discount','click', e =>{
          let p = document.querySelector('#product-data').value;
          let range = document.querySelector('input[name="range"]').value;
          let type= document.querySelector('select[name="type"]').value;
          let dvalue = document.querySelector('input[name="value"]').value
          let table = document.getElementById('discount-container').querySelector('.table')
          if(range!=='' && type!=='' && dvalue!==''){
            io.socket.post('/productdiscount',{product:p, range:range,type:type,value:dvalue},resData =>{
              let sign = '';
              if(resData.type=='P'){sign ='% ';}else{sign ='$ ';}
              let newrow=[
                '<td>'+resData.name+'</td>',
                '<td>'+sign+'</td>',
                '<td>'+resData.value+'</td>',
                '<td>'+moment(resData.from).locale('es').format('DD MMMM YYYY HH:mm:ss')+'</td>',
                '<td>'+moment(resData.to).locale('es').format('DD MMMM YYYY HH:mm:ss')+'</td>',
                '<td><a did="'+resData.id+'" class="delete-discount"><i class="bx bx-trash"></i></a></td>'
              ];
              let row = table.getElementsByTagName('tbody')[0].insertRow(-1);
              newrow.forEach((cell, index)=>{
                row.insertCell(index).innerHTML=cell;
              });
              
            });
          }else{
            alert('Todos los campos son requeridos');
          }
        });

        live('.delete-discount','click', e =>{
          e.preventDefault();
          let elm = e.target;
          if(e.target.tagName=='I'){
            elm = e.target.parentNode;
          }
          let id = elm.getAttribute('did');
          let p = document.querySelector('#product-data').value;
          io.socket.put('/removepdiscount',{product:p,discount:id},resData =>{
            if(resData=='ok'){
              let row = elm.parentNode.parentNode;
              let table = document.getElementById('discount-container').querySelector('.table')          
              table.deleteRow(row.rowIndex);
            }
          });
        });

      </script>
    </div>
    <div class="is-hidden" id="integrations">
      <div class="box">
        <div class="columns is-gapless">
          <div class="column">
            <table class="table">
              <thead>
                <tr>
                  <th><small>Marketplace</small></th>
                  <th><small>Nombre</small></th>
                  <th><small>Ajuste Precio</small></th>
                  <th><small>Activo</small></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%if(product!==undefined && product !== null){%>
                  <% sellers.forEach(function(seller){ %>
                    <% if(seller.id==product.seller){ %>
                      <% integra = null; %>
                      <% integra = integrations.filter(data => data.seller === seller.id && data.channel.type === 'marketplace');%>
                      <% if(integra.length > 0){%>
                        <% integra.forEach(function(i){ %>
                          <% productchannel = product.channels.find(item => item.integration === i.id && item.channel === i.channel.id);%>
                          <% if(i.channel.name !== 'coppel'){%>
                          <tr>
                            <td><img  src="<%=imgurl%>/images/channels/<%= i.channel.logo %>" width="100px"/></td>
                            <td><%= i.name %></td>
                            <td>
                              <div class="select is-small <%if(i.channel.name==='iridio'){%><%='is-hidden'%><%}%>">
                                <select name="<%= i.id %>price" <%if(i.channel.name==='iridio'){%><%="disabled"%><%}%>>
                                <option value="0" <%if(typeof product=='object' && productchannel && productchannel.price==0){%>selected<%}%>>+ 0%</option>
                                  <option value="0.05" <%if(typeof product=='object' && productchannel && productchannel.price ==0.05){%>selected<%}%>>+ 5%</option>
                                  <option value="0.1" <%if(typeof product=='object' && productchannel && productchannel.price ==0.1){%>selected<%}%>>+ 10%</option>
                                  <option value="0.15" <%if(typeof product=='object' && productchannel && productchannel.price ==0.15){%>selected<%}%>>+ 15%</option>
                                  <option value="0.2" <%if(typeof product=='object' && productchannel && productchannel.price ==0.2){%>selected<%}%>>+ 20%</option>
                                  <option value="0.25" <%if(typeof product=='object' && productchannel && productchannel.price ==0.25){%>selected<%}%>>+ 25%</option>
                                  <option value="0.3" <%if(typeof product=='object' && productchannel && productchannel.price ==0.3){%>selected<%}%>>+ 30%</option>
                                </select>
                              </div>
                            </td>
                            <td style="padding-top:10px;">
                              <input id="<%= i.id %>" type="checkbox" name="productstatus" channelId='<%= i.channel.id %>' nameChannel="<%= i.channel.name %>" <%if(typeof product=='object' && productchannel && productchannel.status){%>checked<%}%> class="switch is-success">
                              <label for="<%= i.id %>"></label>
                            </td>
                            <% if(productchannel && (i.channel.name === 'dafiti' || i.channel.name === 'linio' || i.channel.name === 'liniomx')){%>
                              <td>
                                <button id="deleteProduct" class="button is-danger is-outlined" integration="<%= i.id %>" productchannel="<%= productchannel.id %>" nameChannel="<%= i.channel.name %>">
                                  <span class="icon is-small">
                                    <i class='bx bxs-trash'></i>
                                  </span>
                                </button>
                              </td>
                            <%}%>
                          </tr>
                          <%}else if(i.channel.name === 'coppel' && product.variations.length === 1){%>
                            <tr>
                              <td><img  src="<%=imgurl%>/images/channels/<%= i.channel.logo %>" width="100px"/></td>
                              <td><%= i.name %></td>
                              <td>
                                <div class="select is-small">
                                  <select name="<%= i.id %>price">
                                  <option value="0" <%if(typeof product=='object' && productchannel && productchannel.price==0){%>selected<%}%>>+ 0%</option>
                                    <option value="0.05" <%if(typeof product=='object' && productchannel && productchannel.price ==0.05){%>selected<%}%>>+ 5%</option>
                                    <option value="0.1" <%if(typeof product=='object' && productchannel && productchannel.price ==0.1){%>selected<%}%>>+ 10%</option>
                                    <option value="0.15" <%if(typeof product=='object' && productchannel && productchannel.price ==0.15){%>selected<%}%>>+ 15%</option>
                                    <option value="0.2" <%if(typeof product=='object' && productchannel && productchannel.price ==0.2){%>selected<%}%>>+ 20%</option>
                                    <option value="0.25" <%if(typeof product=='object' && productchannel && productchannel.price ==0.25){%>selected<%}%>>+ 25%</option>
                                    <option value="0.3" <%if(typeof product=='object' && productchannel && productchannel.price ==0.3){%>selected<%}%>>+ 30%</option>
                                  </select>
                                </div>
                              </td>
                              <td style="padding-top:10px;">
                                <input id="<%= i.id %>" type="checkbox" name="productstatus" channelId='<%= i.channel.id %>' nameChannel="<%= i.channel.name %>" <%if(typeof product=='object' && productchannel && productchannel.status){%>checked<%}%> class="switch is-success">
                                <label for="<%= i.id %>"></label>
                              </td>
                            </tr>
                          <%}%>
                        <%})%>
                      <%}%>
                    <%}%>          
                  <%})%>
                <%}%>
              </tbody>
            </table>
          </div>
          <div class="column">
            <div class="container is-fluid">
              <div id="reportProcess" class="notification is-danger is-hidden">
                <p>Hemos identificado <span id="errorsProcess">0</span> error(es).</p>
                <br>
                <div class="container is-fluid">
                  <ol id="error-list-errorsProcess">
                  </ol>
                </div>
              </div>
              <div id="report" class="notification is-danger is-hidden">
                <p>Hemos identificado <span id="errors">0</span> error(es).</p>
                <br>
                <div class="container is-fluid">
                  <ol id="error-list">
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      <%if(channelErrors.length > 0){%>
        const integrations = <%- JSON.stringify(integra)%>
        const resultErrors = <%- JSON.stringify(channelErrors)%>;
        let report = document.querySelector('#report');
        let errors = document.querySelector('#errors');
        let errorlist = document.querySelector('#error-list');
        errors.innerHTML=0;
        errorlist.innerHTML='';
        if(hasClass(report,'is-hidden')){removeClass(report,'is-hidden');}
        errors.innerHTML = resultErrors.length;
        for(let e of resultErrors){
          const nameIntegration = integrations.find(i => i.id === e.integration);
          let err = document.createElement('li');
					err.innerHTML= 'Referencia: ' + e.reference+' <br>Integración: '+nameIntegration.name +' <br>Errores: '+ e.reason;
					errorlist.appendChild(err);
        }
      <%}%>
      live('input[name="productstatus"]','change',e=>{
        let p = document.querySelector('#product-data').value;
        let integrationId = e.target.id;
        let nameChannel = e.target.getAttribute('nameChannel');
        let channelId = e.target.getAttribute('channelId');
        let price = document.querySelector('select[name="'+integrationId+'price"]').value;
        let reportprocess = document.querySelector('#reportProcess');
        let errors = document.querySelector('#errorsProcess');
        let errorlist = document.querySelector('#error-list-errorsProcess');
        errors.innerHTML=0;
        errorlist.innerHTML='';
        if(!hasClass(reportprocess,'is-hidden')){addClass(reportprocess,'is-hidden');}
        io.socket.post('/'+nameChannel+'/add',{product:p, price, status:e.target.checked,integrationId,channelId}, resData =>{
          if(resData.error){
            if(hasClass(reportprocess),'is-hidden'){removeClass(reportprocess,'is-hidden');}
            errors.innerHTML=1;
            let err = document.createElement('li');
            err.innerHTML = typeof resData.error === 'string' ? resData.error : 'Se generó Error al procesar el producto.';
            errorlist.appendChild(err);
            e.target.checked = false;
            document.querySelector('select[name="'+integrationId+'price"]').value = 0;
          }
        });
      });

      live('#deleteProduct','click',function(){
        const integration = this.getAttribute('integration');
        const productchannel = this.getAttribute('productchannel');
        const nameChannel = this.getAttribute('nameChannel');
        let reportprocess = document.querySelector('#reportProcess');
        let errors = document.querySelector('#errorsProcess');
        let errorlist = document.querySelector('#error-list-errorsProcess');
        errors.innerHTML=0;
        errorlist.innerHTML='';
        addClass(this, 'is-loading');
        io.socket.post('/delete/product',{integration, productchannel, nameChannel}, resData =>{
          removeClass(this, 'is-loading');
          if(resData.error){
            if(hasClass(reportprocess),'is-hidden'){removeClass(reportprocess,'is-hidden');}
            errors.innerHTML=1;
            let err = document.createElement('li');
            err.innerHTML='Se generó Error al eliminar el producto.';
            errorlist.appendChild(err);
          } else {
            let checkbox = document.getElementById(integration);
            checkbox.checked = false;
            document.querySelector('select[name="'+integration+'price"]').value = 0;
            addClass(this, 'is-hidden');
          }
        });
      });

      io.socket.on("reponse_product_created", (resData)=>{
        let report = document.querySelector('#report');
        let errors = document.querySelector('#errors');
        let errorlist = document.querySelector('#error-list');
        let checkbox = document.getElementById(resData.integration);
        errors.innerHTML=0;
        errorlist.innerHTML='';
        checkbox.checked = false;
        if(hasClass(report,'is-hidden')){removeClass(report,'is-hidden');}
        errors.innerHTML = resData.errors.length;
        for(let e of resData.errors){
          let err = document.createElement('li');
					err.innerHTML= 'Referencia: ' + e.reference +' <br>Errores: '+ e.message;
					errorlist.appendChild(err);
        }
      });  
  
    live('#activo','click',function(){
      let elm = this;
      let state = elm.checked;
      var sp = document.querySelector('#state');
      if(state){
        sp.innerHTML='<b style="color:green;">activado</b>';
      }else{
        sp.innerHTML='<b style="color:red;">inactivo</b>';
      }
    });
  
    let catlist =[
    <%if(action=='edit'){%>
      <%product.categories.forEach(cat =>{%>
        "<%=cat.id%>",
      <%})%>
    <%}%>
    ];

    let childTree = (elm) => {
      elm.forEach((child) =>{
        if(!hasClass(child,'visited')){
          let opened = false;
          io.socket.get('/categories/'+child.getAttribute('category'),function(resData){
              var d = document.createElement('ul');
              resData.forEach(function(son){
                let ca = document.createElement('li');
                ca.style.paddingLeft = 5*son.level+'px';
                if(son.id==document.querySelector('#root').value){
                  ca.innerHTML = '<a class="panel-block is-active" category="'+son.id+'" level="'+son.level+'"><input type="checkbox" name="categories[]" value="'+son.id+'" checked/>&nbsp;<span class="panel-icon"><i class="bx bx-book-open" aria-hidden="true"></i></span><span class="cat_name is-capitalized">'+son.name+'</span></a>';
                } else {
                  if(catlist.includes(son.id)){
                    ca.innerHTML = '<a class="panel-block is-active" category="'+son.id+'" level="'+son.level+'"><input type="checkbox" name="categories[]" value="'+son.id+'" checked />&nbsp;<span class="panel-icon"><i class="bx bx-book-open" aria-hidden="true"></i></span><span class="cat_name is-capitalized">'+son.name+'</span></a>';
                    removeClass(d,'is-hidden');
                    opened = true;
                  }else{
                    ca.innerHTML = '<a class="panel-block is-active" category="'+son.id+'" level="'+son.level+'"><input type="checkbox" name="categories[]" value="'+son.id+'" />&nbsp;<span class="panel-icon"><i class="bx bxs-book-add" aria-hidden="true"></i></span><span class="cat_name is-capitalized">'+son.name+'</span></a>';
                    if(son.level>2 && !opened){addClass(d,'is-hidden');}
                  }
                }
                d.appendChild(ca);
              });
              insertAfter(d,child);
              addClass(child,'visited');
              childTree(d.querySelectorAll('a.panel-block'));
          });
        }
      })
    };
  
    childTree(document.querySelectorAll('a.panel-block'));
    
    live('.cat_name','click',(e)=>{
      let element = e.target || e.srcElement;
      let group = element.parentNode.parentNode.querySelector('ul');
      let icon = element.parentNode.querySelector('i');
      if(hasClass(group,'is-hidden')){
        removeClass(group,'is-hidden');
        addClass(icon,'bx-book-open');
        removeClass(icon,'bxs-book-add');
      }else{
        addClass(group,'is-hidden');
        removeClass(icon,'bx-book-open');
        addClass(icon,'bxs-book-add');
      }
    });

    const descriptionshort = SUNEDITOR.create(document.querySelector('#descriptionshort'),{
        showPathLabel : false,
        charCounter : true,
        maxCharCount : 4000,
        width : 'auto',
        maxWidth : '700px',
        height : 'auto',
        minHeight : '100px',
        maxHeight: '250px',
        buttonList : [
          ['undo', 'redo', 'font', 'fontSize', 'formatBlock'],
          ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript', 'removeFormat'],
          ['fontColor', 'hiliteColor', 'outdent', 'indent', 'align', 'horizontalRule', 'list', 'table'],
          ['link', 'image', 'video', 'fullScreen', 'showBlocks', 'codeView', 'preview', 'print']
        ]
      });
  
    const description = SUNEDITOR.create(document.querySelector('#description'),{
        showPathLabel : false,
        charCounter : true,
        maxCharCount : 10000,
        width : 'auto',
        maxWidth : '700px',
        height : 'auto',
        minHeight : '100px',
        maxHeight: '250px',
        buttonList : [
          ['undo', 'redo', 'font', 'fontSize', 'formatBlock'],
          ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript', 'removeFormat'],
          ['fontColor', 'hiliteColor', 'outdent', 'indent', 'align', 'horizontalRule', 'list', 'table'],
          ['link', 'image', 'video', 'fullScreen', 'showBlocks', 'codeView', 'preview', 'print']
        ]
      });
  
    live('input[name="categories[]"]','click',function(){
      let cat = this;
      let catlevel = cat.parentNode.getAttribute('level');
      let catname = cat.parentElement.querySelector('.cat_name');
      let select = document.querySelector('#mainCategory');
      if (cat.checked){
        let op = document.createElement('option');
        op.value=cat.value;
        op.innerHTML=catname.innerHTML;
        op.setAttribute('level',catlevel);
        select.appendChild(op);
      }else{
        let op = select.querySelector('option[value="'+cat.value+'"]');
        select.removeChild(op);
      }
      let lowest = select.options[0];
      for(let o=0; o<select.options.length; o++){
        if(parseInt(lowest.getAttribute('level'))<=parseInt(select.options[o].getAttribute('level'))){
          lowest = select.options[o];
        }
      }
      for(let s=0; s<select.options.length; s++){
        if(select.options[s].value==lowest.value){
          select.options[s].selected=true;
        }
      }
    });
  
    live('#save-product','click',function(e){
      e.preventDefault();
      
      let textdescriptionshort = descriptionshort.getContents();
      let textdescription = description.getContents();
  
      document.querySelector('#descriptionshort').innerHTML = textdescriptionshort;
      document.querySelector('#description').innerHTML = textdescription; 
  
      let form = document.querySelector('#form-basics');
      let validate = validateForm(form);
      let categories = validateCategories(document.getElementsByName('categories[]'));
      let lcat = CategoriesJSON(document.getElementsByName('categories[]'));
      document.querySelector('#suneditor_descriptionshort .se-wrapper-wysiwyg').innerHTML=textdescriptionshort;
      document.querySelector('#suneditor_description .se-wrapper-wysiwyg').innerHTML = textdescription;
      
      if(validate && categories){
        io.socket.post(form.action, 
        {
          active:form.querySelector('input[name="activo"]').checked,
          name:form.querySelector('input[name="name"]').value,
          reference:form.querySelector('input[name="reference"]').value,
          manufacturer:form.querySelector('select[name="manufacturer"]').value,
          mainColor:form.querySelector('select[name="mainColor"]').value,
          seller:form.querySelector('select[name="seller"]').value,
          mainCategory:form.querySelector('select[name="mainCategory"]').value,
          gender:form.querySelector('select[name="gender"]').value,
          categories:lcat,
          tax:form.querySelector('select[name="tax"]').value,
          width:form.querySelector('input[name="width"]').value,
          height:form.querySelector('input[name="height"]').value,
          length:form.querySelector('input[name="length"]').value,
          weight:form.querySelector('input[name="weight"]').value,
          descriptionshort:textdescriptionshort,
          description:textdescription,
          register:form.querySelector('input[name="register"]').value
        }, 
        function (resData, jwRes) {
          if(jwRes.statusCode==200){
            let productdata = document.querySelector('#product-data');
            let referencep = document.querySelector('input[name="reference"]');
            productdata.value=resData.id;
            let productabs = document.querySelectorAll('.product-tab ul li');
            productabs.forEach((li)=>{
              let option = li.querySelector('a').getAttribute('option');
              removeClass(li,'is-active');
              removeClass(li,'is-hidden');
              addClass(document.querySelector('#'+option),'is-hidden');
              if(option=='images'){
                  addClass(li,'is-active');
                  removeClass(document.querySelector('#'+option),'is-hidden');
              }
            });
          };
        });
      }
    });
  
    live('.tabs ul li','click',(e)=>{
      e = e || window.event;
      let element = e.target || e.srcElement;
      let option = element.getAttribute('option');
      let list = element.parentNode.parentNode.querySelectorAll('li');
      list.forEach((li)=>{
        if(hasClass(li,'is-active')){
          addClass(document.querySelector('#'+li.querySelector('a').getAttribute('option')),'is-hidden');
        }
        removeClass(li,'is-active');
      });
      removeClass(document.querySelector('#'+option),'is-hidden');
      addClass(element.parentNode,'is-active');
    });
  
  </script>
  </div>