<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js'></script>
<div class="container">
<% if (error != undefined || error != null) { %>
  <div class="notification is-danger is-light" id="error">
      <%= error %>
  </div>
<% } %>
  <p style="text-align: right;font-size: 20px; margin-right: 5px;">
    <a href="/product/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
    <a href="/import" class="has-text-primary"><i class='bx bx-cloud-upload'></i></a>
    <a href="/multiple" class="has-text-primary"><i class='bx bx-meteor'></i></a>
  </p>
  <div class="table-container">
      <table class="table is-hoverable is-size-7" id="products-table">
          <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">SKU</th>
              <th scope="col">Marca</th>
              <th scope="col">Precio</th>
              <th scope="col">Color</th>
              <th scope="col">Activo</th>
              <th scope="col">Opciones</th>
              <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
              <th scope="col">Seller</th>
              <%}%>
              <th scope="col">Publicaciones</th>
          </tr>
          </thead>
          <tbody>
              <% products.forEach(function(product){ %>
                <tr>
                    <td class="align-middle is-uppercase"><a href="#" class="product-image" data-product="<%=product.id%>"><%= product.name %></a></td>
                    <td class="align-middle"><%= product.reference %></td>
                    <td class="align-middle is-capitalized"><%= (product.manufacturer ? product.manufacturer.name : '') %></td>
                    <td class="align-middle">$ <%= parseInt(product.price*(1+(product.tax.value/100))).toLocaleString('es-CO') %></td>
                    <td class="align-middle is-capitalized"><%= (product.mainColor ? product.mainColor.name : '') %></td>
                    <td class="align-middle">
                    <span class="action">
                    <% if(product.active===true) { %>
                        <i product="<%= product.id %>" class="state bx bx-check-circle is-size-5"></i>
                    <% }else{ %>
                        <i product="<%= product.id %>" class="state bx bx-x-circle is-size-5"></i>
                    <%}%>
                    </span>
                    </td>
                    <td class="align-middle">
                      <a href="/product/edit/<%= product.id %>" class="button">
                        <span class="icon">
                          <i class="bx bx-edit"></i>
                        </span>
                      </a>
                      <a href="/list/product/<%=encodeURIComponent((product.name).replace(/\./g, '%2E'))%>/<%=encodeURIComponent(product.reference)%>" class="button" target="_blank">
                        <span class="icon">
                          <i class='bx bx-link' ></i>
                        </span>
                      </a>
                    </td>
                    <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                    <td class="align-middle">
                      <span><%= product.seller.name %></span>
                    </td>
                    <%}%>
                    <td class="align-middle">
                      <ul>
                        <%if(product.dafiti){%><li><small>Dafiti</small></li><%}%>
                        <%if(product.ml){%><li><small>Mercadolibre</small></li><%}%>
                        <%if(product.linio){%><li><small>Linio</small></li><%}%>
                      </ul>
                    </td>
                </tr>
              <% }); %>
          </tbody>
      </table>
  </div>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-size-7 has-text-weight-bold"></p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p class="modal-reference is-size-7 has-text-weight-bold"></p>
        <p class="image is-square">
          <img async src="" />
        </p>
      </section>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      let table = new simpleDatatables.DataTable('#products-table',{
        searchable:true,
        sortable:true,
        paging:true,
        perPageSelect:[5,10,20,30,50],
        perPage:50,
        labels: {
          placeholder: "Buscar...",
          perPage: "{select} registros por página",
          noRows: "No se encontraron datos",
          info: "Mostrando {start} a {end} de {rows} registros",
        }
      });  
    });

    live('.state', 'click', function(){ 
        var elm = this;
        var id = this.getAttribute('product');
        var status = null;
        if (hasClass(elm,'bx-check-circle')){status = false;}else{status = true;}

        io.socket.put('/products/'+id,{active:status},function(resData, jwr){
          if(resData.active===false){
            removeClass(elm, 'bx-check-circle');
            addClass(elm,'bx-x-circle');
          }else{
            removeClass(elm, 'bx-x-circle');
            addClass(elm,'bx-check-circle');
          }
        });
    });
    live('.product-image','click',(e)=>{
      let id = e.target.getAttribute('data-product');
      io.socket.get('/getcover/'+id,resData=>{
        if(resData){
          let modal = document.querySelector('.modal');
          modal.querySelector('.modal-card-title').innerHTML = resData.name.toUpperCase();
          modal.querySelector('.modal-reference').innerHTML = 'REF:&nbsp;'+resData.reference.toUpperCase();
          modal.querySelector('.image > img').setAttribute('src',resData.image);
          addClass(modal,'is-active');
        }
      });
    });
    live('.modal-background, .delete','click',e=>{
      let modal = document.querySelector('.modal');
      removeClass(modal,'is-active');
    });
  </script>
</div>