<div class="container">
<% if (error != undefined || error != null) { %>
    <div class="notification is-danger is-light" id="error">
        <%= error %>
    </div>
<% } %>
<div class="notification is-danger is-light is-hidden" id="notification"></div>
<%if(action=='create' || action=='edit'){%>
    <div class="container">
      <br />
        <h4 class="title is-4">Crear Variación</h4>
        <hr>
        <% if(action=='create') { %>
        <form action="/variation/create" method="POST">
        <% } %>
        <% if(action=='edit') { %>
        <form action="/variation/edit/<%= variation.id %>" method="POST">
        <% } %>
        <div class="columns">
          <div class="column"></div>
          <div class="column is-two-fifths">
            <div class="box">
              <div class="field">
                <label class="label is-inline is-size-7-mobile" for="category">Categoria</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select class="is-capitalized" name="category" id="category">
                      <option value="">-- Elegir Categoria --</option>
                      <% categories.forEach(category => { %>
                        <option class="is-capitalized" <% if(action=='edit' && variation.category !== null && category.id==variation.category ){ %> selected <% } %> value="<%= category.id %>" ><%= category.name %></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>                
              <div class="field">
                <label class="label is-inline is-size-7-mobile" for="gender">Género</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select class="is-capitalized" name="gender" id="gender" required>
                      <option value="">-- Elegir Género --</option>
                      <% genders.forEach(gender => { %>
                        <option class="is-capitalized" <% if(action=='edit' && variation.gender!== null && gender.id==variation.gender.id ){ %> selected <% } %> value="<%= gender.id %>" ><%= gender.name %></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label is-inline is-size-7-mobile" for="seller">Seller</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select class="is-capitalized" name="seller" id="seller" required>
                      <option value=""> -- Elegir Seller --</option>
                      <% sellers.forEach(function(seller){ %>
                        <option class="is-capitalized" <% if(action=='edit' && variation.seller !== null && seller.id==variation.seller ){ %> selected <% } %> value="<%= seller.id %>" ><%= seller.name %></option>
                      <%})%>
                    </select>                  
                  </div>
                </div>              
              </div>
              <div class="field is-hidden" id="brand">
                <label class="label">Marca</label>
                <div class="select control is-fullwidth">
                  <select class="is-capitalized" name="brand" required>
                    <option value="">-- Elegir Marca --</option>
                    <%if(action=='edit'){%>
                      <% brands.forEach((brand) =>{ %>
                        <option class="is-capitalized" value="<%=brand.id%>" <%if(action=='edit' && variation.manufacturer !== null && brand.id == variation.manufacturer.id){%> selected <%}%>><%=brand.name%></option>
                      <%})%>
                    <%}%>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                <input class="input is-capitalized" type="text" name="name" required="true" placeholder="Nombre de esta Variación" <% if(action=='edit'){ %>value="<%= variation.name %>"<% }%>/>
                </div>
              </div>
              <div class="columns is-multiline">
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">CM</label>
                    <div class="control">
                    <input class="input is-capitalized" type="text" name="cm" placeholder="Largo CM" <% if(action=='edit'){ %>value="<%= variation.cm %>"<% }else{%>value="0"<%}%>/>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">COL</label>
                    <div class="control">
                      <input class="input is-capitalized" type="text" name="col" placeholder="Colombia" <% if(action=='edit'){ %>value="<%= variation.col %>"<% }%>/>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">MX</label>
                    <div class="control">
                      <input class="input is-capitalized" type="text" name="mx" placeholder="Mexico" <% if(action=='edit'){ %>value="<%= variation.mx %>"<% }%>/>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">US</label>
                    <div class="control">
                      <input class="input is-capitalized" type="text" name="us" placeholder="Americana" <% if(action=='edit'){ %>value="<%= variation.us %>"<% }%>/>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">EU</label>
                    <div class="control">
                      <input class="input is-capitalized" type="text" name="eu" placeholder="Europea" <% if(action=='edit'){ %>value="<%= variation.eu %>"<% }%>/>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="field">
                    <label class="label">Ancho CM</label>
                    <div class="control">
                      <input class="input is-capitalized" type="text" name="wide" placeholder="Ancho cms" <% if(action=='edit'){ %>value="<%= variation.wide %>"<% }else{%>value="0"<%}%>/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Cantidad / Volumen</label>
                    <div class="control">
                      <input class="input" type="number" name="unit" placeholder="Contenido del Producto" <% if(action=='edit'){ %>value="<%= variation.unit %>"<%}%>/>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label is-inline is-size-7-mobile" for="gender">Unidad de Medida</label>
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select class="is-capitalized" name="measure" id="measure" required>
                          <option value="">-- Elegir Unidad de Medida --</option>
                          <% measures.forEach(measure => { %>
                            <option class="is-capitalized" <% if(action=='edit' && variation.measure!== null && measure==variation.measure ){ %> selected <% } %> value="<%= measure %>" ><%= measure %></option>
                          <%})%>
                        </select>
                      </div>
                    </div>
                  </div>   
                </div>
              </div>
              <br>
              <div class="control buttons is-right">
                <% if(action=='edit'){ %> 
                    <button type="submit" class="button is-primary"><i class="bx bx-pencil"></i>&nbsp;Modificar Variación</button>
                <% }else if (action=='create'){ %>
                    <button type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Crear Variación</button>
                <% } %>
              </div>
            </div>
          </div>
          <div class="column"></div>
        </div>
        </form>
        <br>
        <hr>
    </div>
    <script>
      live('select[name="seller"]','change',e =>{
        let seller = e.target.value;
        let brand = document.querySelector('#brand')
        const notif = document.querySelector('#notification')
        brand.querySelector('select').innerHTML='<option value="">-- Elegir Marca --</option>';
        addClass(brand,'is-hidden');

        io.socket.get('/find/brand/'+seller,resdata =>{
          if(resdata.length>0){
            for(let b of resdata){
              let option = document.createElement('option');
              option.value = b.id;
              option.innerHTML = b.name
              brand.querySelector('select').appendChild(option);
            }
            removeClass(brand,'is-hidden');
          } else {
            notif.innerHTML = 'Debes crear una marca para el seller para continuar';
            removeClass(notif, 'is-hidden');
            setTimeout(function() {
              addClass(notif,'is-hidden');
            }, 5000);
          }
        });
      });
    </script>
<%}else{%>
      <p style="text-align: right;font-size: 20px; margin-right: 5px;">
        <a href="/variations/create" class="has-text-primary"><i class='bx bxs-plus-square'></i></a>
      </p>
      <div class="table-container">
          <table class="table is-hoverable is-size-7" id="variations-table">
              <thead>
              <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Género</th>
                  <th scope="col">Marca</th>
                  <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                  <th scope="col">Seller</th>
                  <%}%>
                  <th scope="col">Opciones</th>
              </tr>
              </thead>
              <tbody>
                  <% variations.forEach(function(variation){ %>
                      <tr>
                        <td class="align-middle"><span class="is-uppercase"><%= variation.name %></span></td>
                        <td class="align-middle"><span class="is-uppercase"><%if(variation.category!==null){%><%= variation.category.name %><%}%></span></td>
                        <td class="align-middle"><span class="is-uppercase"><%if(variation.gender!==null){%><%= variation.gender.name %><%}%></span></td>
                        <td class="align-middle"><span class="is-uppercase"><%if(variation.manufacturer!==null){%><%= variation.manufacturer.name %><%}%></span></td>
                        <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                        <td class="align-middle"><span class="is-uppercase"><%= variation.seller.name %></span></td>
                        <%}%>
                        <td class="align-middle">
                          <a href="/variations/edit/<%= variation.id %>" class="button is-small">
                            <span class="icon">
                              <i class="bx bxs-edit"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                  <% }); %>
              </tbody>
          </table>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function(){
          let table = new simpleDatatables.DataTable('#variations-table',{
            searchable:true,
            sortable:true,
            paging:true,
            perPage:25,
            labels: {
              placeholder: "Buscar...",
              perPage: "{select} registros por página",
              noRows: "No se encontraron datos",
              info: "Mostrando {start} a {end} de {rows} registros",
            }
          });  
        });
      </script>
<%}%>
</div>